server {
  listen 80;
  return 301 {{ site_address }}$request_uri;
}


server {
  listen 443 ssl;

  ssl_certificate /etc/nginx/ssl/objective8.crt;
  ssl_certificate_key /etc/nginx/ssl/objective8.key;

  ssl_session_cache shared:SSL:32m;
  ssl_session_timeout 10m;

  ssl_dhparam /etc/nginx/cert/dhparam.pem;
  ssl_protocols TLSv1.2 TLSv1.1 TLSv1;

  location /static/ {
    alias /var/www/objective8/public/;
  }
  # trailing '/' after port means app doesn't know about '/as2/'
  location /as2/ {
    proxy_pass http://localhost:7000/;
  }
  # no trailing '/' after port means app knows about '/api/v1/'
  location /api/v1/ {
    proxy_pass http://localhost:8081;
  }
  location / {
    proxy_pass http://localhost:8080;
  }
}
