<div id="clj-author-create">
  <form method="POST" action="">

    <label for="author">${author-create/author-name-label}</label>
    <input id="author-name" name="author-name" type="text" pattern=".{3,}" maxlength="50" title="${author-create/author-name-title}" required></input>

    <label for="reason">${author-create/reason}</label>
    <textarea id="reason" name="reason" rows="10" cols="10" maxlength="1000" title="${author-create/reason-title}"></textarea>

    <button type="submit" class="button">${author-create/post-button}</button>
  </form>
</div>
