.masthead {
  background: $black;
  color: $white;
  padding: 0.4em 1em 0.6em;
}
.header-logo {
  @include ir;
  background-image: url('D-CENT_white.png');
  height: 40px;
  width: 76px;
}


.global-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1em;
  right: 0.5em;
  li {
    display: inline;
    margin-right: 0.5em;
  }
}
.global-navigation-link {
  color: $white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: $white;
  }
}