%flash-message {
  padding: 0.5em 1em;
  p {
    margin: 0;
  }
}

.flash-message-success {
  @extend %flash-message;
  background: $green1;
  color: $white;
  a {
    color: #E1FFE1;
    &:hover {
      color: #E1FFE1;
      text-decoration: none;
    }
    &:visited {
      color: #E1FFE1;
    }
  }
}