.share-widget {
  margin: 0 0 1em;
  @include span-columns(5);
  float: left;
}

.share-widget-title {
  margin: 0 0.6em 0.5em 0;
  font-size: 1em;
  @include mq(430) {
    position: relative;
    float: left;
    top: 3px;
  }
}

.share-list {
  list-style: none;
  margin: 0.3em 0.5em 0.25em 0;
  padding: 0;
  float: left;
  li {
    display: inline-block;
    margin: 0 0.5em 0 0;
  }
}


.share-this-link {
  float: left;
  position: relative;
  top: -2px;
  width: 100%;
  border-bottom: 1px solid $grey-3;
  padding-bottom: 0.75em;
}
.share-this-url-label {
  @include visuallyhidden;
}
.share-this-url-input {
  padding: 0.2em 0.5em;
  font-size: 0.8em;
}