$editor_min_device_width: 321;

.html-draft-editor {
  @include mq($editor_min_device_width) {
    height: 100%;
  }
  body {
    @include mq($editor_min_device_width) {
      height: 100%;
    }
  }
  .main-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: $header_height 0 0 0;
  }
}

.draft-editor {
  @include mq($editor_min_device_width) {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-self: stretch;
    height: 100%;
  }
  .draft-preview-document {
    font-size: 50%;
    @include mq(640) {
      font-size: 100%;
    }
  }
}
.draft-editor-console {
  padding-left: 1em;
  padding-right: 1em;
  @include mq($editor_min_device_width) {
    flex: 1;
    overflow-y: auto;
  }
  @include mq(640) {
    padding-left: 2em;
    padding-right: 2em;
  }
}
.draft-editor-document {
  padding: 1em;
  @include mq($editor_min_device_width) {
    flex: 1;
    max-height: 100%;
    max-width: 50%;
    overflow-y: auto;
  }
  @include mq(640) {
    padding: 2em;
  }
}


.removed-from-version,
del,
.added-to-version,
ins {
  text-decoration: none;
  white-space: pre-wrap;
  border-bottom: 1px dotted transparent;
}

.removed-from-version,
del {
  background-color: rgba($color2,0.1);
  &:hover {
    border-bottom-color: $color2;
  }
}
.added-to-version,
ins {
  background-color: rgba($color1_dark,0.1);
  &:hover {
    border-bottom-color: $color1_dark;
  }
}
