.draft-add-inline-comment {
  $comment_icon_size: 24px;
  $hit_area_spacer: 10px;
  position: absolute;
  right: 0;
  a {
    @include mq(768) {
      width: $comment_icon_size;
    }
    position: relative;
    display: inline-block;
    width: 2.2em;
    height: $comment_icon_size;
    font-size: 16px;
    opacity: 0.35;
    color: currentColor;
    transition: opacity 250ms ease;
    text-decoration: none;
    &:hover {
      opacity: 1;
    }
    &:after {
      $hit_area: $comment_icon_size + $hit_area_spacer;
      content: '';
      display: block;
      @include size($hit_area);
      position: absolute;
      top: -($hit_area_spacer/2);
      left: -($hit_area_spacer/2);
    }
    &:focus {
      outline: none;
    }
    i {
      position: absolute;
      top: $hit_area_spacer/2;
      left: 4px;
    }
  }
}

.draft-add-inline-comment-count {
  margin-left: 2em;
}

