$editor_min_device_width: 321;

.html-draft-editor {
  @include mq($editor_min_device_width) {
    height: 100%;
  }
  body {
    @include mq($editor_min_device_width) {
      height: 100%;
    }
  }
  .main-content {
    position: relative;
    height: 100%;
    padding: 0;
  }
}

.draft-editor {
  @include mq($editor_min_device_width) {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  .draft-preview-document {
    font-size: 50%;
    @include mq(640) {
      font-size: 100%;
    }
  }
}
.draft-editor-console {
  padding: 1em;
  @include mq($editor_min_device_width) {
    flex: 1;
    height: 100%;
    overflow: scroll;
  }
  @include mq(640) {
    padding: 2em;
  }
}
.draft-editor-document {
  padding: 1em;
  @include mq($editor_min_device_width) {
    flex: 1;
    height: 100%;
    max-width: 50%;
    overflow: scroll;
  }
  @include mq(640) {
    padding: 2em;
  }
}


.removed-from-version,
del {
  display: inline-block;
  background-color: rgba($pink,0.1);
  text-decoration: none;
  &:hover {
    outline: dotted 1px $pink;
  }
}
.added-to-version,
ins {
  display: inline-block;
  background-color: rgba($green2,0.1);
  text-decoration: none;
  &:hover {
    outline: dotted 1px $green2;
  }
}
