$draft_version_writer_avatar_size_alpha: 40px;
$draft_version_writer_avatar_size_beta: 60px;

.draft-version-writer {
  width: 70%;
}

.draft-version-writer-photo {
  @include circle($draft_version_writer_avatar_size_alpha);
  background: $grey-4;
  overflow: hidden;
  float: left;
  @include mq(480) {
    @include circle($draft_version_writer_avatar_size_beta);
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.draft-version-writer-no-image-icon {
  display: block;
  height: $draft_version_writer_avatar_size_alpha;
  line-height: ($draft_version_writer_avatar_size_alpha - 3px);
  text-align: center;
  color: rgba($grey-15,0.2);
  @include mq(480) {
    height: $draft_version_writer_avatar_size_beta;
    line-height: ($draft_version_writer_avatar_size_beta - 3px);
  }
}

.draft-version-writer-author {
  display: inline-block;
  line-height: 1.1;
  color: $default_text_color;
}

.draft-version-writer-text {
  padding-top: 0;
  padding-left: ($draft_version_writer_avatar_size_alpha + 8px);
  @include mq(480) {
    padding-top: 5px;
    padding-left: ($draft_version_writer_avatar_size_beta + 8px);
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.draft-version-writer-descripton {
  color: $grey-1;
  font-style: italic;
}
