.draft-preview-document {
  @include previewDocument();
}
.draft-preview-document-with-comments {
  @include previewDocument();
  padding-right: 40px;
}

.annotate-draft-preview-document {
  @include previewDocument();
  padding-bottom: 0;
  border-bottom: none;
  @include mq(321) {
    margin-bottom: 2em;
  }
}

.annotate-text {
  border-left: 5px solid $color1;
  padding-left: 1em;
  @include mq(768) {
    padding-left: 2.5em;
  }
}