mixin commentReply()
  .comment-actions.clj-comment-actions
    +voteUpDownControls
    a.comment-reply.clj-comment-reply(href="#") Reply

mixin commentItem(author, date)
  li.comment-item.clj-comment-item
    .comment-meta
      span.comment-author.clj-comment-author #{author}
      span.comment-date.clj-comment-date #{date}
    .comment-text.clj-comment-text
      block
    +commentReply

mixin commentItemBlank()
  li.comment-item.clj-empty-comment-list-item(data-l8n="content:comment-view/no-comments")
    | !There are no comments yet.

mixin addCommentForm()
  form.add-comment-form.clj-add-comment-form(method='POST', action='/meta/comments')
    input.clj-refer(name='refer', type='hidden', value='!redirect-after-post-uri')
    input.clj-comment-on-uri(name='comment-on-uri', type='hidden', value='!entity-to-comment-on-uri')
    p.form-field
      label.form-field-label(for="comment")
        span.form-field-label-title#comment-label-title(data-l8n="content:objective-view/comment-box-label-title") !Want to discuss the objective?
        span.label-helper#comment-label-description(data-l8n="content:objective-view/comment-box-label-helper") !You can leave a comment here.
        textarea.func--comment-form-text-area(id="comment", name='comment', rows='5', cols='10', pattern=".{50,}", maxLength='500', required, aria-labelledby="comment-label-title", aria-describedby="comment-label-description")
    button.button.func--comment-form-submit(type='submit', data-l8n="content:comment-create/post-button") !Add a comment
