mixin commentReply()
  .comment-actions.clj-comment-actions
    +voteUpDownControls
    a.comment-reply.clj-comment-reply(href="#") Reply

mixin commentItem(author, date)
  li.comment-item.clj-comment-item
    .comment-meta
      span.comment-author.clj-comment-author #{author}
      span.comment-date.clj-comment-date #{date}
    .comment-text.clj-comment-text
      block
    +commentReply
    +writerNote

mixin commentItemBlank()
  li.comment-item.clj-empty-comment-list-item(data-l8n="content:comment-view/no-comments")
    | !There are no comments yet.

mixin addCommentForm()
  form.add-comment-form.clj-add-comment-form(method='POST', action='/meta/comments')
    input.clj-reason(name='reason', type='hidden', value='general')
    input.clj-refer(name='refer', type='hidden', value='!redirect-after-post-uri')
    input.clj-comment-on-uri(name='comment-on-uri', type='hidden', value='!entity-to-comment-on-uri')
    p.form-field
      label.form-field-label(for="comment")
        span.form-field-label-title#comment-label-title.clj-comment-form-label-title !Want to discuss the objective?
        span.label-helper#comment-label-description.clj-comment-form-label-helper !You can leave a comment here.
        textarea.clj-input-comment.func--comment-form-text-area(id="comment", name='comment', rows='5', cols='10', maxLength='500', required, aria-labelledby="comment-label-title", aria-describedby="comment-label-description")
        span.user-input-error-message.clj-comment-length-error(data-l8n="content:add-comment-form/comment-length-validation-message") !The comment can have at most 500 characters
        span.user-input-error-message.clj-comment-empty-error(data-l8n="content:add-comment-form/comment-empty-validation-message") !The comment cannot be empty
    button.button.clj-comment-form-post-button.func--comment-form-submit(type='submit') !Add a comment
