mixin dashboardAnswerItem()
  li.dashboard-answer-item
    .dashboard-answer-item-stats
      .dashboard-answer-item-up-score
        i.fa.fa-thumbs-o-up
        = " "
        | 27
      .dashboard-answer-item-down-score
        i.fa.fa-thumbs-o-down
        = " "
        | 3
    .dashboard-answer-item-text This is the answer to the question it has a lot of text in it becasue we want to see what happens if the answer is really long. Well not really really long but at least a reasonable length in relation to everything else on the page.
