mixin addCommentButton()
  .draft-add-inline-comment
    a.clj-section-comment-link(href="/draft-annotation", title="!Annotations", data-l8n="attr/title:draft/annotation-link-title")
      i.fa.fa-plus-square-o.fa-lg
  block

mixin draftingBeginsInText()
  .clj-drafting-begins-in
    span(data-l8n="content:draft/drafting-begins") !Drafting begins in
    =" "
    span.clj-drafting-begins-in-days !12
    =" "
    span(data-l8n="content:draft/days") !days
