mixin addCommentButton()
  .draft-add-inline-comment
    a.clj-annotation-link.func--annotation-link(href="/draft-annotation", title="!Annotations", data-l8n="attr/title:draft/annotation-link-title", data="!3")
      i.fa.fa-plus-square-o.fa-lg
  block
