mixin promoteObjectiveButton()
  button.promote-objective-button.clj-toggle-promoted-objective.func--toggle-promoted-objective-button(type="submit" data-l8n="attr/alt:objective-list/promote-button attr/value:objective-list/promote-button")
    span.promote-text(data-l8n="content:objective-list/promote-button") !Promote
    i.fa.fa-angle-double-up

mixin demoteObjectiveButton()
  button.demote-objective-button.clj-toggle-promoted-objective.func--toggle-promoted-objective-button(type="submit" data-l8n="attr/alt:objective-list/demote-button attr/value:objective-list/demote-button")
    span.demote-text(data-l8n="content:objective-list/demote-button") !Demote
    i.fa.fa-angle-double-down


mixin promoteObjectiveForm()
  form.clj-promote-objective-form(action="/meta/promote-objective", method="post")
    input.clj-promotion-uri(type="hidden", value="!promotion-uri", name="objective-uri")
    +promoteObjectiveButton()


mixin demoteObjectiveForm()
  form.clj-promote-objective-form(action="/meta/promote-objective", method="post")
    input.clj-promotion-uri(type="hidden", value="!promotion-uri", name="objective-uri")
    +demoteObjectiveButton()


mixin objectiveListItem(objectiveTitle, numberOfDays)
  li.objective-list-item.clj-objective-list-item
    .objective-list-item-star-container.clj-star-container
      .objective-list-item-star.clj-objective-list-item-star
        i.fa.fa-star
    a.objective-list-item-link.clj-objective-list-item-link.func--objective-list-item-link(href="/objectives/[id]")
      h3.objective-list-item-title.clj-objective-list-item-title.func--objective-title #{objectiveTitle}
      p.objective-list-item-preview-text.clj-objective-brief-description
        block
    .clj-admin-buttons-container
      .objective-list-item-removal-container.clj-objective-list-item-removal-container
        form.objective-list-item-removal.clj-objective-removal-form(action="/meta/admin-removals", method="post")
          input.clj-removal-uri(type="hidden", value="!removal-uri", name="removal-uri")
          input.clj-removal-sample(type="hidden", value="!removal-sample", name="removal-sample")
          button.objective-list-item-removal-button.func--remove-objective(type="submit")
            i.fa.fa-trash-o.fa-lg
      .clj-promote-objective-form-container.promote-objective-form-container
        if blocks.buttonList
          - blocks.buttonList()


mixin objectiveListItemWithPromoteForm(objectiveTitle, numberOfDays)
  +objectiveListItem(objectiveTitle, numberOfDays)
    block
    +set('buttonList')
      +promoteObjectiveForm()

mixin objectiveListItemWithDemoteForm(objectiveTitle, numberOfDays)
  +objectiveListItem(objectiveTitle, numberOfDays)
    block
    +set('buttonList')
      +demoteObjectiveForm()

