mixin objectiveListItem(objectiveTitle, numberOfDays)
  li.objective-list-item.clj-objective-list-item
    a.objective-list-item-link.clj-objective-list-item-link.func--objective-list-item-link(href="/objectives/[id]")
      h3.objective-list-item-title.clj-objective-list-item-title #{objectiveTitle}
      p.objective-list-item-draft-begins
        span.l8n-drafting-begins !Drafting begins in
        =" "
        span.objective-list-item-date.clj-objective-drafting-begins-date !#{numberOfDays} days
      p.objective-list-item-preview-text.clj-objective-brief-description
        block
      i.objective-list-item-arrow.fa.fa-angle-right
