mixin questionPromoteForm()
  form.promote-question-form.clj-promote-question-form(action="/meta/marks", method="post")
    input.clj-question-uri(type="hidden", value="!question-uri", name="question-uri")
    input.clj-refer(type="hidden", value="!current-url", name="refer")
    button.promote-question-button.func--promote-question.clj-promote-question-button(type="submit", data-l8n="content:question-actions/promote-question")
      | !promote

mixin questionDemoteForm()
  form.promote-question-form.clj-demote-question-form(action="/meta/marks", method="post")
    input.clj-question-uri(type="hidden", value="!question-uri", name="question-uri")
    input.clj-refer(type="hidden", value="!current-url", name="refer")
    button.demote-question-button.func--demote-question.clj-demote-question-button(type="submit", data-l8n="content:question-actions/demote-question")
      | !demote

mixin questionItem()
  li.question-item.clj-question-item
    .question-text
      p.clj-question-text
        block
    .question-actions
      a.question-reply.clj-answer-link.func--answer-link(href="#", data-l8n="content:objective-view/answer-link") !Answer
      if blocks.buttonList
        - blocks.buttonList()

mixin questionItemWithPromoteForm()
  +questionItem()
    block
    +set('buttonList')
      +questionPromoteForm()

mixin questionItemWithDemoteForm()
  +questionItem()
    block
    +set('buttonList')
      +questionDemoteForm()

mixin objectiveQuestionsEmptyItem()
  li.question-item.clj-empty-objective-questions(data-l8n="content:objective-view/no-objective-questions")
    | !The writers for this objective have not asked any questions yet.

mixin questionItemBlank()
  li.question-item(data-l8n="content:question-list/no-questions")
    | !No one has answered this question yet.

mixin addQuestionForm(allowFocus)
  - focus = allowFocus ? true : false
    form.clj-question-create-form(method="POST", action="")
      p.form-field
        label.form-field-label(for="new-question")
          span.form-field-label-title(data-l8n="content:question-create/question-label") !Add a question
          textarea.func--question-textarea#new-question(name="question", rows="5", cols="10", pattern=".{50,}", maxlength="500", title="!Textarea title", required="required", autofocus=focus, data-l8n="attr/title:question-create/question-title")
      button.button.func--add-question(type="submit", data-l8n="content:question-create/post-button") !Add question
