mixin questionItem(author, date)
  li.question-item.clj-question-item
    .question-text
      p.clj-question-text
        block
    .question-actions
      a.question-reply.clj-answer-link.func--answer-link(href="#", data-l8n="content:objective-view/answer-link") !Answer

mixin questionItemBlank()
  li.question-item(data-l8n="content:question-list/no-questions")
    | !No one has answered this question yet.

mixin addQuestionForm(allowFocus)
  - focus = allowFocus ? true : false
    form.clj-question-create-form(method="POST", action="")
      label(for="new-question", data-l8n="content:question-create/question-label") !Add a question
      textarea.func--question-textarea#new-question(name="question", rows="5", cols="10", pattern=".{50,}", maxlength="500", title="!Textarea title", required="required", autofocus=focus, data-l8n="attr/title:question-create/question-title")
      button.button.func--add-question(type="submit", data-l8n="content:question-create/post-button") !Add question
