mixin questionPromoteForm()
  form.promote-question-form.clj-promote-question-form(action="/meta/marks", method="post")
    input.clj-question-uri(type="hidden", value="!question-uri", name="question-uri")
    input.clj-refer(type="hidden", value="!current-url", name="refer")
    button.promote-question-button.func--promote-question.clj-promote-question-button(type="submit", data-l8n="attr/alt:question-actions/promote-question attr/value:question-actions/promote-question")
      span.promote-text(data-l8n="content:question-actions/promote-question") !Promote
      i.fa.fa-angle-double-up

mixin questionDemoteForm()
  form.promote-question-form.clj-demote-question-form(action="/meta/marks", method="post")
    input.clj-question-uri(type="hidden", value="!question-uri", name="question-uri")
    input.clj-refer(type="hidden", value="!current-url", name="refer")
    button.demote-question-button.func--demote-question.clj-demote-question-button(type="submit", data-l8n="attr/alt:question-actions/demote-question attr/value:question-actions/demote-question")
      span.demote-text(data-l8n="content:question-actions/demote-question") !Demote
      i.fa.fa-angle-double-down

mixin questionItem()
  li.question-item.clj-question-item
    .question-text
      a.question-text-link.clj-answer-link.func--answer-link(href="#")
        i.fa.fa-pie-chart.question-item-icon
        span.question-text-link-text.clj-question-text
          block
        span.question-answer-count.clj-question-answer-count !5 answers
    .question-actions
      if blocks.buttonList
        - blocks.buttonList()

mixin questionItemWithPromoteForm()
  +questionItem()
    block
    +set('buttonList')
      +questionPromoteForm()

mixin questionItemWithDemoteForm()
  +questionItem()
    block
    +set('buttonList')
      +questionDemoteForm()

mixin objectiveQuestionsBlank()
  li.question-item.clj-empty-objective-questions(data-l8n="content:objective-view/no-objective-questions")
    | !The writers for this objective have not asked any questions yet.

mixin communityQuestionsBlank()
  li.question-item.clj-empty-community-questions(data-l8n="content:question-list/no-questions")
    | !There are no questions yet.

mixin addQuestionForm(allowFocus)
  - focus = allowFocus ? true : false
    form.clj-question-create-form(method="POST", action="")
      p.form-field
        label.form-field-label(for="new-question")
          span.form-field-label-title(data-l8n="content:question-create/question-label") !Add a question
          textarea.clj-input-question.func--question-textarea#new-question(name="question", rows="5", cols="10", title="!Textarea title", autofocus=focus, data-l8n="attr/title:question-create/question-title")
          span.user-input-error-message.clj-question-length-error(data-l8n="content:question-create/question-length-validation-message") !The question must be between 10 and 500 characters
      button.button.func--add-question(type="submit", data-l8n="content:question-create/post-button") !Add question

mixin answerItem()
  li.answer-item.approval-item.clj-answer
    .approval-content.answer-text.clj-answer-text.func--answer-text !This is the answer to the question it has a lot of text in it becasue we want to see what happens if the answer is really long. Well not really really long but at least a reasonable length in relation to everything else on the page.
    .approval-options
      form(action="/meta/up-vote", method="post").approval-vote-option.clj-approval-form
        input(type="hidden", value="!vote-on-uri", name="vote-on-uri").clj-vote-on-uri
        input(type="hidden", value="!question-path", name="refer").clj-refer
        .approval-score
          button(type="submit").approval-button.approval-up.func--up-vote.clj-approval-button
            i.fa.fa-thumbs-o-up
            span.visuallyhidden(data-l8n="content:question-page/vote-up") !Vote up.
            span.visuallyhidden (
            span.clj-up-score.func--up-score !27
            span.visuallyhidden )
      form(action="/meta/down-vote", method="post").approval-vote-option.clj-approval-form
        input(type="hidden", value="!vote-on-uri", name="vote-on-uri").clj-vote-on-uri
        input(type="hidden", value="!question-path", name="refer").clj-refer
        .approval-score
          button(type="submit").approval-button.approval-down.clj-approval-button
            i.fa.fa-thumbs-o-down
            span.visuallyhidden(data-l8n="content:question-page/vote-down") !Vote down.
            span.visuallyhidden (
            span.clj-down-score.func--down-score !10
            span.visuallyhidden )
    +writerNote

mixin answerItemBlank()
  li.answer-item.empty-answer-list-item.clj-empty-answer-list-item(data-l8n="content:question-page/no-answers")
    | !No answers have been given yet
