mixin facebookMetaTags()
  meta.clj-meta-sharing-facebook-site-name(property="og:site_name", content="Objective8")
  meta.clj-meta-sharing-facebook-type(property="og:type", content="article")
  meta.clj-meta-sharing-facebook-title(property="og:title", content="!title")
  meta.clj-meta-sharing-facebook-url(property="og:url", content="!url")
  meta.clj-meta-sharing-facebook-description(property="og:description", content="!description")
  meta.clj-meta-sharing-facebook-image(property="og:image", content="!image url")
//  meta.clj-sharing-meta-facebook-admins(property="fb:admins", content="!facebook id for site administrator - for tracking likes/shares")