mixin inviteWriterForm()
  form.invitation-posts.clj-invite-a-writer-form(method="POST", action="/")
    label(for="writer-name", data-l8n="content:invite-writer/writer-name-label") !Writer name
    input.func--writer-name(id="writer-name", name="writer-name", type="text", pattern=".{3,}", title="", maxlength="50", required="required", data-l8n="attr/title:invite-writer/writer-name-attr-title")
    label(for="writer-email", data-l8n="content:invite-writer/writer-email-label") !Writer email
    input.func--writer-email(id="writer-email", name="writer-email", type="email", required="required", data-l8n="attr/title:invite-writer/writer-email-attr-title")
    label(for="reason", data-l8n="content:invite-writer/writer-reason-label") !They should help draft this policy, because:
    textarea.func--writer-reason(id="reason", name="reason", rows="3", cols="10", maxlength="1000", title="Reasons are a maximum length of 1000 characters", required="required", data-l8n="attr/title:invite-writer/writer-reason-attr-title")
    button.button.func--invite-writer(type="submit", data-l8n="content:invite-writer/invite-button") !Create an invite

mixin writerItem(name, href, photo)
  - href = href || ''
  //- photo = photo || 'http://placekitten.com/g/120/120'
  - liClojureClass = photo == "" ? "clj-writer-item-without-photo" : "clj-writer-item-with-photo"

  li.writer-item(class=liClojureClass)
    a(href="#{href}")
      .writer-item-photo
        if photo == ""
          i.writer-item-no-image-icon.fa.fa-user
        else
          img(src="#{photo}")
      .writer-item-text
        .writer-item-author.clj-writer-name.func--writer-name
          = name
        .writer-item-descripton
          p.clj-writer-description
            block

mixin writerItemBlank()
  li.writer-item.clj-empty-writer-list-item(data-l8n="content:candidate-list/no-candidates")
    | !No candidate writers have been invited yet.

mixin draftVersionNavigationWriter(name, href, photo)
  .draft-version-writer
    .draft-version-writer-photo
      if photo == ""
        i.draft-version-writer-no-image-icon.fa.fa-user.fa-3x
      else
        img(src="#{photo}")
    .draft-version-writer-text
      .draft-version-writer-author.clj-draft-version-writer-author
        = name
      .draft-version-writer-descripton
        p.clj-draft-version-time
          block
