target
.nrepl-port
.lein-repl-history
node_modules/
*.swp
*.swo
.#*
\#*
resources/public/*.css
resources/public/*.css.map
resources/public/*.js
resources/public/images/*.svg
resources/templates/jade
test/objective8/functional/screenshots/*.png
ops/.vagrant
.lein-deps-sum
lib/
.DS_Store
start_with_credentials.sh
start_with_twitter_credentials.sh
start_locally.sh
hs_err*.log
.idea/
profiles.clj
latest.dump
tmp/
objective8_config
