target
.nrepl-port
.lein-repl-history
node_modules/
*.swp
*.swo
.#*
\#*
resources/public/*.css
resources/public/*.css.map
ops/.vagrant
.lein-deps-sum
lib/
.DS_Store
start_with_twitter_credentials.sh
hs_err*.log
