target
.nrepl-port
.lein-repl-history
node_modules/
*.swp
*.swo
.#*
\#*
resources/public/*.css
resources/public/*.css.map
resources/public/*.js
resources/templates/jade
functional/objective8/screenshots/*.png
ops/.vagrant
.lein-deps-sum
lib/
.DS_Store
start_with_credentials.sh
start_with_twitter_credentials.sh
hs_err*.log
init-script
.idea/
