.main-wrapper.article-wrapper#clj-question-view
  .breadcrumbs
    a#objective-crumb(href="/", title="This question's objective") This question's objective
    | &rsaquo;
    a#questions-crumb(href="/", title="Questions for objective") Questions
    | &rsaquo;
    a#question-crumb.last-crumb(href="/", title="This question") This question

  h1 {{question}}
  h2 ${answer-view/answer-title}
  ol.answer-list
    li.helper-text ${answer-view/no-answers}
