mixin objectiveListItem(objectiveTitle, numberOfDays)
  li.objective-list-item.clj-objective-list-item
    a.objective-list-item-link.clj-objective-list-item-link.func--objective-list-item-link(href="/objectives/[id]")
      h3.objective-list-item-title.clj-objective-list-item-title #{objectiveTitle}
      p.helper-text
        span.l8n-drafting-begins !Drafting begins in
        =" "
        span.inline-date.clj-objective-drafting-begins-date !#{numberOfDays} days
      p.preview-text.clj-objective-brief-description
        block !London and Pairs are two prime examples of cycle super highway heaven. We need to show the world that Madrid too can be the pinncale in cycli...
