mixin questionItem(author, date)
  li.question-item.clj-question-item
    .question-text
      p.clj-question-text
        block
    .question-actions
      a.question-reply.clj-answer-link.func--answer-link(href="#") !Answer

mixin questionItemBlank()
  li.question-item.clj-empty-question-list-item
    | !No one has answered this question yet.

mixin addQuestionForm(allowFocus)
  - focus = allowFocus ? true : false
    form.clj-question-create-form(method="POST", action="")
      label.clj-label-add-question.l8n-label-add-question(for="new-question") !Add a question
      textarea.clj-textarea-add-question.l8n-textarea-add-question.func--question-textarea#new-question(name="question", rows="5", cols="10", pattern=".{50,}", maxlength="500", title="!Textarea title", required="required", autofocus=focus)
      button.button.clj-button-add-question.l8n-button-add-question.func--add-question(type="submit") !Add question
