include _masthead
include _questions
include _comments
include _writers

mixin guidanceText(heading)
  .guidance-text
    .guidance-buttons
      a.button-hide-guidance-text(href="#")
        span Hide
        =" "
        i.fa.fa-times
    h2.guidance-text-heading #{heading}
    block

mixin goalItem()
  li.goal-item
    i.fa-li.fa.fa-dot-circle-o
    block

mixin voteUpDownControls()
  - voteUpCount = Math.floor(Math.random() * 100) + 1
  - voteDownCount = Math.floor(Math.random() * 100) + 1
  span.clj-reference-vote-up-down-controls
    a.actions-vote-up(href="#", title="Vote up")
      span.actions-vote-count #{voteUpCount}
      i.fa.fa-fw.fa-angle-up
      span.vote-direction-text Vote down
    a.actions-vote-down(href="#", title="Vote down")
      span.actions-vote-count #{voteDownCount}
      i.fa.fa-fw.fa-angle-down
      span.vote-direction-text Vote down

mixin pleaseSignIn()
  p.clj-please-sign-in
    span.clj-before-link !Please
    =" "
    a.clj-sign-in-link(href='/sign-in') !sign in
    =" "
    span.clj-after-link !to ...
