mixin writerItem(name, href, photo)
  - href = href || ''
  //- photo = photo || 'http://placekitten.com/g/120/120'
  - liClojureClass = photo == "" ? "clj-writer-item-without-photo" : "clj-writer-item-with-photo"

  li.writer-item(class=liClojureClass)
    a(href="#{href}")
      .writer-item-photo
        if photo == ""
          i.writer-item-no-image-icon.fa.fa-user.fa-3x
        else
          img(src="#{photo}")
      .writer-item-text
        .writer-item-author.clj-writer-name
          = name
        .writer-item-descripton
          p.clj-writer-description
            block

mixin writerItemBlank()
  li.writer-item.clj-empty-writer-list-item
    | !No candidate writers have been invited yet.

mixin draftVersionNavigationWriter(name, href, photo)
  .draft-version-writer
    .draft-version-writer-photo
      if photo == ""
        i.draft-version-writer-no-image-icon.fa.fa-user.fa-3x
      else
        img(src="#{photo}")
    .draft-version-writer-text
      .draft-version-writer-author
        = name
      .draft-version-writer-descripton
        p
          block
