@mixin default-button($text_color: $green1, $bg_color: $white, $hover_color: $green1, $text_hover_color: $white) {
  position: relative;
  display: inline-block;
  max-width: 18em;
  margin-right: 0.5em;
  margin-bottom: 0.8em;
  padding: 0.55em 1.35em 0.65em 1.35em;
  border: 1px solid $text_color;
  border-radius: 2em;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out;
  outline-color: transparent;

  &:after { // fake the outline
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: -2px;
    width: 100%;
    height: 100%;
    border: 2px solid $yellow;
    border-radius: inherit;
  }
  &:visited, &:focus, & {
    background-color: $bg_color;
    text-decoration: none;
    color: $text_color;
    outline-width: 0;
  }
  &:hover {
    background-color: $hover_color;
    text-decoration: none;
    color: $text_hover_color;
    cursor: pointer;
  }
  &:focus {
    border-color: $yellow;
    &:after {
      opacity: 1;
    }
    &:hover {
      border-color: transparent;
      &:after {
        opacity: 0;
      }
    }
  }
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
}

.button {
  @include default-button();
}
.button-white {
  @include default-button($white, transparent, $white, $green1);
}

.pink-button {
  @include default-button($pink);
}

.normalise-button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
