//Colours
$green1: #007E84;
$green2: #00676C;
$yellow: #ffbf47;
$pink: #9C0F83;
$dark_pink: #9E2E8D;
$blue: #3333fc;

// Standard palette, greys
$black: #0b0c0c;
$grey-1: #6f777b;
$grey-15: #666666;
$grey-2: #bfc1c3;
$grey-3: #dee0e2;
$grey-4: #f8f8f8;
$grey-5: #E5E5E5;
$offwhite: #F9F9F9;
$white: #fff;

$default_text_color: rgba($black,0.8);
$border_color: $grey-4;
$grey-out: rgba($grey-1,0.7);

// Links
$link-colour: #005ea5;
$link-active-colour: #2e8aca;
$link-hover-colour: #2e8aca;
$link-visited-colour: #2e8aca;

