//Colours
$color1: #007E84;
$color1_dark: darken($color1, 5%);
$color2_dark: #9C0F83;
$color2: lighten($color2_dark, 5%);
$color3: #ffbf47;

// Standard palette, greys
$black: #0b0c0c;
$grey-1: #6f777b;
$grey-15: #666666;
$grey-2: #bfc1c3;
$grey-3: #dee0e2;
$grey-4: #f8f8f8;
$grey-5: #E5E5E5;
$offwhite: #F9F9F9;
$white: #fff;

$intro_grey: #5a6673;

$default_text_color: rgba($black,0.8);
$border_color: $grey-4;
$grey-out: rgba($grey-1,0.7);

// Links
$link-colour: #005ea5;
$link-active-colour: #2e8aca;
$link-hover-colour: #2e8aca;
$link-visited-colour: #005ea5;

