label {
  display: block;
  margin: 0 0 0.2em 0;
}

.form-field {
  position: relative;
  margin-top: 0;
  margin-bottom: 1em;
}
.form-field-label {
  display: block;
  margin-bottom: 0;
}

.form-field-label-title {
  display: inline-block;
  line-height: 1.2;
  margin-bottom: 0.2em;
  padding-top: 0.2em;
  font-weight: bold;
}

.label-helper {
  display: block;
  color: $grey-1;
  font-size: 0.9em;
  margin: 0 0 0.5em 0;
}

.not-yet-implemented-comment {
  font-size: smaller;
}

input,
textarea {
  resize: none;
  width: 100%;
//  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid #dcdcdc;
  &:focus {
    outline: $color2_light solid 2px;
  }
}

input[type='radio'] {
  width: initial;
  outline: none;
}

.user-input-error-message {
  font-size: 0.85em;
  color: $color2;
}

.required {
  color: $color2_light;
}
