label {
  display: block;
  font-weight: bold;
  margin: 0 0 0.2em 0;
}

.label-helper {
  color: $grey-1;
  font-size: 0.9em;
  margin: 0 0 0.5em 0;
}

.not-yet-implemented-comment {
  font-size: smaller;
}

input,
textarea {
  resize: none;
  width: 100%;
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid #dcdcdc;
  &:focus {
    outline: $yellow solid 2px;
  }
}

.user-input-error-message {
  font-size: 0.85em;
  color: $dark_pink;
}

.required {
  color: $pink;
}
