.grid-container {
  @include cf;
  padding: 1em 0;
  margin-bottom: 2em;
}

.grid-container:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.grid-column {
  @include mq($smallish_device) {
    min-height: 240px;
    float: left;
  }
}
