a {
  color: $link-colour;
  text-decoration: underline;
  &:visited {
    color: $link-visited-colour;
    text-decoration: underline;
  }
  &:hover {
    color: $link-hover-colour;
    text-decoration: underline;
  }
  &:active {
    color: $link-active-colour;
    text-decoration: underline;
  }
  &:focus {
    outline: $color2_light solid 2px;
  }
}

.hidden-until-focus {
  @include visuallyhidden;
  &:focus {
    @include revert-visuallyhidden;
    position: absolute;
    background-color: white;
  }

  @include mq-max(768) {
    display: none;
    visibility: hidden;
  }
}