a {
  color: $link-colour;
  text-decoration: underline;
  &:visited {
    color: $link-visited-colour;
    text-decoration: underline;
  }
  &:hover {
    color: $link-hover-colour;
    text-decoration: underline;
  }
  &:active {
    color: $link-active-colour;
    text-decoration: underline;
  }
  &:focus {
    outline: $color2 solid 2px;
  }
}
