* {
  @include box-sizing(border-box);
}

@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}

html {
  font-size: #{$doc-font-size + px};
}

body {
  min-width: 252px;
  color: $default_text_color;
  font-family: $sans-serif;
  line-height: $baselineheight;
  -webkit-font-smoothing: antialiased;
}

.middle-container {
  max-width: 45em;
  margin: 0 auto;
}

