* {
  @include box-sizing(border-box);
}

@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
}

html {
  font-size: #{$doc-font-size + px};
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  background: $black;
  color: $default_text_color;
  font-family: $sans-serif;
  line-height: $baselineheight;
  -webkit-font-smoothing: antialiased;
}

.middle-container {
  max-width: $max_content_width;
  margin: 0 auto;
}

.app-wrapper {
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 2;
  min-height: 100%;
  min-width: 100%;
  background-color: white;
  transition: transform 250ms ease-in-out;
}