h1 {
  margin-top: 0;
  line-height: 1.2;
  font-family: $sans-serif;
  letter-spacing: -0.025em;
  @include mq($large_device) {
    font-size: 2.6em;
  }
}
h2 {
  margin-top: 0;
  line-height: 1.2;
}
p {
  margin-top: 0;
  &.lede {
    font-size: 1.3em;
  }
}

table {
  margin-bottom: 1em;
}
th, td {
  padding-right: 2em;
  text-align: left;
  &:last-child {
    padding-right: 0;
  }
}
th {
  padding-bottom: 0.5em;
  border-bottom: 1px solid currentColor;
}
td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
