// Required for mixins, functions and helpers
$doc-font-size  : 16; //used for REM and Breakpoint conversion
$baselineheight : 1.4; //used for typography and global lineheight


//Font stacks
$sans-serif     : 'Source Sans Pro',Arial,sans-serif;
$serif          : "Georgia","Times New Roman",Times,serif;

// $sans-serif     : Arial,sans-serif;
// $serif          : 'Merriweather', "Georgia","Times New Roman",Times,serif;
$monospace      : Courier, monospace;


//Stop FOUT on webfont loading
.wf-loading h1 {
  visibility: hidden;
}
.wf-active h1,
.wf-inactive h1 {
  visibility: visible;
  font-family: 'Source Sans Pro';
}

$max_content_width: 40em;

// alpha: mobile
// beta: tabletish
// gamma: desktopish
// delta: superdesktopish

$alpha_body_vertical_spacing: 1em;
$gamma_body_vertical_spacing: 8.5em;

$default_block_spacing: 2em;
$alpha_block_spacing: 1em;
$gamma_block_spacing: 2em;