$draft_navigation_height: 80px;

.draft-version-navigation {
  @include cf;
  min-height: $draft_navigation_height;
  margin: 0 0 2em 0;
  @include mq(450) {
    margin-bottom: 4em;
  }
}

.draft-version-navigation-content-wrapper {
  min-height: $draft_navigation_height;
  background: rgba($white, 0.96);
  border-bottom: 1px solid $grey-3;
  @include mq(450) {
    position: absolute;
    left: 0;
    width: 100%;
    &.sticky {
      position: fixed;
      top: 0;
      z-index: 10;
    }
  }
}

.draft-version-navigation-content {
  position: relative;
  margin: -1px auto;
  @include mq(450) {
    min-height: $draft_navigation_height;
    max-width: 45em;
    padding: 0.5em;
    font-size: 100%;
  }
  @include mq(720) {
    padding-left: 0;
    padding-right: 0;
  }
}

$draft_nav_icon_spacer: 0.4em;
.draft-version-navigation-content-controls {
  position: absolute;
  top: 25px;
  right: 0.5em;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: right;
  @include mq(450) {
    right: 0.5em;
  }
  @include mq(720) {
    right: 0;
  }
  li {
    display: inline-block;
  }
  a {
    display: block;
    font-weight: 100;
    font-size: 1.2em;
    color: $default_text_color;
    text-decoration: none;
    &:hover {
      color: $pink;
    }
  }
}
.draft-version-navigation-text {
  @include visuallyhidden;
  @include mq(450) {
    @include revert-visuallyhidden;
  }
}
.draft-version-navigation-previous {
  margin-right: 1em;
  i {
    margin-right: $draft_nav_icon_spacer;
  }
}

.draft-version-navigation-next {
  i {
    margin-left: $draft_nav_icon_spacer;
  }
}