.objective-article-details,
.objective-comments {
  @include span-columns(7);
  @include last-col;
  @include mq(600) {
    float: right;
  }
}


.objective-title-wrapper {
  border-bottom: 1px solid $grey-3;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.objective-title {
  margin-bottom: 0;
}
.objective-title-end-date {
  color: $grey-1;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.objective-article-details {
  border-bottom: 1px solid $grey-3;
  margin-bottom: 1em;
}

.objective-article-goals {
  margin: 0.5em 1em 1em;
  padding: 0;
  li {
    margin-bottom: 0.5em;
  }
}