<div id="clj-comments-view" class="response-action">
  <div class="response-wrapper">
    <h2>${comment-view/comment-title}</h2> <!-- TODO show comment count e.g, 12 Comments -->

    <!-- FILTER
    <div class="list-filter-wrapper">
      <p>Filter by:</p>
      <ul class="list-filter">
        <li><a href="#newset">Newest</a></li>
        <li><a href="oldest">Oldest</a></li>
        <li><a href="#popular">Most popular</a></li>
      </ul>
    </div>
     -->

    <ol class="comment-list">
      <li class="helper-text">${comment-view/no-comments}</li>
    </ol>

    <h2>Leave a comment</h2>
    <div class="response-form">
      <p>${comment-sign-in/please} <a id="clj-comment-sign-in-uri" href="/sign-in">${comment-sign-in/sign-in}</a> ${comment-sign-in/to}</p>
    </div><!-- /.response-form -->

  </div><!-- /.response-wrapper -->
</div><!-- /.response-action -->

