#clj-post-question-container
  .response-action
    .response-wrapper
      h2 ${question-create/add-a-question}
      .response-form
        p
          | ${question-sign-in/please}
          =" "
          a#clj-question-sign-in-uri(href="/sign-in") ${question-sign-in/sign-in}
          =" "
          | ${question-sign-in/to}

