.main-wrapper.article-wrapper#clj-question-list
  .breadcrumbs
    a#objective-crumb(href="/", title="The objective") The objective
    | &rsaquo;
    a#questions-crumb(href="/", title="Questions for objective") Questions

  h1 {{objective}}
  p.lede ${question-list/page-intro}
  h2 ${question-list/question-list-heading}
  ol.question-list
    li.helper-text ${question-list/no-questions}
