main-wrapper.article-wrapper#clj-invitation-response
  article
    h1 ${invitation-response/page-title}
    p.lede You've been invited to help draft some policy!
    p
      | It's to achieve this objective:
<<<<<<< HEAD
<<<<<<< HEAD
      =" "
=======
      | &nbsp;
>>>>>>> usernameWIP
=======
      | &nbsp;
>>>>>>> Add jade versions of HTML
      span#clj-invitation-response-objective-title {{objective title}
    p If you're interested, you can sign in and accept the invitation below.

    #clj-invitation-response-form-container
      a.button#clj-invitation-response-sign-in(href="{{sign-in-and-refer-back}}") ${invitation-response/sign-in-to-accept}
      form#clj-invitation-response-accept(method="POST", action="{{/objectives/:o-id/writers/invitation/accept}}")
        button.button(type="submit") ${invitation-response/accept}
