.grid-container
  section
<<<<<<< HEAD
<<<<<<< HEAD
    .grid-column
=======
    .3row1
>>>>>>> usernameWIP
=======
    .3row1
>>>>>>> Add jade versions of HTML
      .info-box-icon
        i.fa.fa-lightbulb-o
      .info-box-text
        | Create an
<<<<<<< HEAD
<<<<<<< HEAD
        =" "
        span.info-box-emphasis objective
        |  to describe the change you want to achieve.
 
    .grid-column
=======
=======
>>>>>>> Add jade versions of HTML
        span.info-box-emphasis objective
        |  to describe the change you want to achieve.
 
    .3row2
<<<<<<< HEAD
>>>>>>> usernameWIP
=======
>>>>>>> Add jade versions of HTML
      .info-box-icon
        i.fa.fa-users
      .info-box-text
        | Collaborate on generating ideas, gathering data and finding experts to write policy.

<<<<<<< HEAD
<<<<<<< HEAD
    .grid-column
      .info-box-icon
        i.fa.fa-refresh
      .info-box-text
        | Work together to release and review
        =" "
        span.info-box-emphasis drafts
        |  in an open and transparent way.
=======
=======
>>>>>>> Add jade versions of HTML
    .3row3
      .info-box-icon
        i.fa.fa-refresh
      .info-box-text
        | Work together to release and review <span class="info-box-emphasis">drafts</span> in an open and transparent way.
<<<<<<< HEAD
>>>>>>> usernameWIP
=======
>>>>>>> Add jade versions of HTML
