extends layouts/base
include mixins/_view_helpers

block vars
  - pageTitle = "!Drafts | Objective[8]"

block content
  .middle-container

    ul.progress-indicator.clj-objective-progress-indicator
      li
        a(href="/objective") !Objective
      li.on
        a(href="/draft") !Draft
      li
        a(href="#") !Policy

    +guidanceText('!What is a draft?')
      ul
        li.clj-guidance-text-line-1 !Writers work with each other and the community to draft policy.
        li.clj-guidance-text-line-2 !Everyone can comment and make suggestions to contribute towards the draft stage.

    h1.draft-list-title.clj-draft-list-title !Drafts for: Build safer cycling networks in the streets of Madrid.

    .clj-drafts-wrapper
      .latest-draft-wrapper.clj-latest-draft-wrapper
        h2.latest-draft-title.clj-latest-draft-title !Latest draft
        a.latest-draft-link.clj-latest-draft-link(href="/drafts/latest")
          p.latest-draft-writer.clj-latest-draft-writer !Prof Barry
        p.latest-draft-time.clj-latest-draft-time !2 days ago

      a.button.add-a-draft.clj-add-a-draft(href="/drafts/add-draft") !Add a draft

      .previous-drafts-wrapper.clj-previous-draft-wrapper
        h2.previous-drafts-title.clj-previous-drafts-title !Previous versions 
        ul.previous-drafts-list.clj-previous-drafts-list
          li.previous-draft-item.clj-previous-draft-item
            a.previous-draft-link.clj-previous-draft-link(href="/drafts/id")
              p.previous-draft-writer.clj-previous-draft-writer !Prof Barry
            p.previous-draft-time.clj-previous-draft-time !3 days ago
