extends layouts/base

block vars
//  - pageTitle = "Settings"

block content

  .index-hero
    h1.index-welcome.clj-index-welcome !Collaborative policy making for democratic organisations.
    p.index-intro.clj-index-intro !Gather community opinion, generate ideas, share, discuss, vote and collaborate with experts to draft new policy.

    .grid-container
      section
        .grid-column
          .info-box-icon
            i.fa.fa-lightbulb-o
          .info-box-text
            span.clj-create-objective-begin !Create an
            =" "
            span.info-box-emphasis.clj-create-objective-keyword !objective
            =" "
            span.clj-create-objective-end !to describe the change you want to achieve.
        .grid-column
            .info-box-icon
              i.fa.fa-users
            .info-box-text.clj-collaborate-info
              | !Collaborate on generating ideas, gathering data and finding experts to write policy.
        .grid-column
          .info-box-icon
            i.fa.fa-refresh
          .info-box-text
            span.clj-draft-info-begin !Work together to release and review
            =" "
            span.info-box-emphasis.clj-draft-info-keyword !drafts
            =" "
            span.clj-draft-info-end !in an open and transparent way.

    a.button.objectives-link.clj-objectives-link(href="/objectives") !Objectives
    a.index-learn-more.clj-learn-more-link(href="/learn-more") !Learn more
