extends base

block vars
  - bodyClass = ""
  - pageTitle = "Objective"

block content
  //refactor to main-content
  .draft-preview

    ul.progress-indicator
      li.on
        a(href="#") Objective
      li
        a(href="#") Draft
      li
        a(href="#") Policy

    .guidance-text
      a.button-hide-guidance-text(href="#")
        span Hide help
        =" "
        i.fa.fa-times
      h2.guidance-text-heading What is an objective?
      ul
        li A policy starts with an idea.
        li These are catalysts for change.
        li Everyone can comment and make suggestions to contribute towards the draft stage.

    .objective-outline
      h1.draft-title Build safer cycling networks in the streets of Madrid.
      h2 Background
      p London and Paris are two prime examples of cycle super highway heaven.  We need to show the world that madrid too can be the pinnacle in cycling and safety.
      p Street art bitters pour-over, Portland pork belly master cleanse lumbersexual. Aesthetic 90's Shoreditch PBR. Austin sustainable Carles American Apparel, banh mi High Life selvage XOXO plaid stumptown fashion axe skateboard butcher McSweeney's. Master cleanse polaroid Shoreditch DIY, Godard salvia gastropub heirloom Kickstarter fap before they sold out chia. Disrupt Neutra tofu Godard kitsch. Chambray Helvetica plaid chia salvia. Cronut asymmetrical messenger bag, cornhole listicle selvage yr beard Godard stumptown meh sustainable.
      h2 Goals
      ul
        li Deep v heirloom Echo Park
        li Drinking vinegar meggings
        li Jean shorts biodiesel hoodie keytar mlkshk food truck

    .objective-questions
      h2 Recently asked questions
      ol.question-list
        li.question-item
          span.question-author Chris Cheshire
          span.question-date 3 September 2015 07:41
          .question-text
            p What road surface should we use?
          a.comment-reply(href="#") Answer
        li.question-item
          span.question-author Chris Cheshire
          span.question-date 4 September 2015 07:41
          .question-text
            p Do we have a colour in mind for the road?
          a.comment-reply(href="#") Answer
    .objective-questions-add
      include questions/question-create

    .objective-comments
      h2 Comments
      ol.comment-list
        li.comment-item
          .comment-meta
            span.comment-author Chris Cheshire
            span.comment-date 3 September 2015 07:41
          .comment-text
            p We definitely need to look into Gran Via and Calle Mayor!
          a.comment-reply(href="#") Reply
        li.comment-item
          .comment-meta
            span.comment-author Phil Smith
            span.comment-date 4 September 2015 19:41
          .comment-text
            p Oooh Paseo del Prado.
          a.comment-reply(href="#") Reply
        li.comment-item
          .comment-meta
            span.comment-author Jen Bloggs
            span.comment-date 3 September 2015 19:41
          .comment-text
            p Paseo del Prado.
          a.comment-reply(href="#") Reply

    .objective-comments-add
      //h2 Leave a comment
      include comments/comment-create


block footerScripts
  //script.
  //  $(window).scroll(function () {
  //    if ($(this).scrollTop() > 1) {
  //      $('.masthead').addClass("sticky");
  //    }
  //    else {
  //      $('.masthead').removeClass("sticky");
  //    }
  //  });