extends layouts/base
include mixins/_view_helpers

block vars
  - bodyClass = ""
  - pageTitle = "! Sign in"

block content

  .sign-in-container
    h1.sign-in-title.l8n-sign-in-title !Sign in
    p.helper-text.l8n-twitter-help-text !We will never post to Twitter without your permission.
    form.sign-in-form.clj-sign-in-twitter(method="post", action="twitter-sign-in")
      button.btn-social.btn-twitter.btn-lg(type="submit")
        i.fa.fa-twitter
        span.l8n-sign-in-with-twitter !Sign in with Twitter

