API_BEARER_NAME={{ API_BEARER_NAME }}
API_BEARER_TOKEN={{ API_BEARER_TOKEN }}
BASE_URI={{ BASE_URI }}
DB_USER={{ DB_USER }}
DB_PASSWORD={{ DB_PASSWORD }}
DB_HOST={{ DB_HOST }}
DB_NAME={{ DB_NAME }}
ADMINS={{ ADMINS }}
AWS_ACCESS_KEY={{ AWS_ACCESS_KEY }}
AWS_SECRET_KEY={{ AWS_SECRET_KEY }}
AWS_GPG_PASSPHRASE={{ AWS_GPG_PASSPHRASE }}
JAVA_OPTS={{ JAVA_OPTS }}
APP_NAME={{ APP_NAME }}
SHOW_ALPHA_WARNINGS={{ SHOW_ALPHA_WARNINGS }}
GA_TRACKING_ID={{ GA_TRACKING_ID }}
COOKIE_MESSAGE_ENABLED={{ COOKIE_MESSAGE_ENABLED }}
STONECUTTER_AUTH_URL={{ STONECUTTER_AUTH_URL }}
STONECUTTER_CLIENT_ID={{ STONECUTTER_CLIENT_ID }}
STONECUTTER_CLIENT_SECRET={{ STONECUTTER_CLIENT_SECRET }}
STONECUTTER_NAME={{ STONECUTTER_NAME }}
TWITTER_CONSUMER_TOKEN={{ TWITTER_CONSUMER_TOKEN }}
TWITTER_CONSUMER_SECRET_TOKEN={{ TWITTER_CONSUMER_SECRET_TOKEN }}
FB_CLIENT_ID={{ FB_CLIENT_ID }}
FB_CLIENT_SECRET={{ FB_CLIENT_SECRET }}
CORACLE_BEARER_TOKEN={{ CORACLE_BEARER_TOKEN }}
CORACLE_URI={{ CORACLE_URI }}
