BASE_URI={{ BASE_URI }}
API_BEARER_NAME={{ API_BEARER_NAME }}
API_BEARER_TOKEN={{ API_BEARER_TOKEN }}
DB_PASSWORD={{ DB_PASSWORD }}
TWITTER_CONSUMER_TOKEN={{ TWITTER_CONSUMER_TOKEN }}
TWITTER_CONSUMER_SECRET_TOKEN={{ TWITTER_CONSUMER_SECRET_TOKEN }}
