@mixin previewDocument() {
  position: relative;
  margin-bottom: 2em;
  padding-bottom: 2em;
  font-family: $serif;
  font-size: 110%;
  color: $default_text_color;
  border-bottom: 1px solid $border_color;
  @include mq($small_device) {
    margin-bottom: 4em;
  }

  .document-title {
    font-family: $sans-serif;
    letter-spacing: -0.025em;
    @include mq($large_device) {
      font-size: 2.6em;
    }
  }
  .lede {
    line-height: 1.4;
  }
  p, li, th, td {
    line-height: 1.6;
  }
  > :last-child {
    margin-bottom: 0;
  }
}