

@mixin star($width, $font-size, $allow_hover: true) {
  transition: transform 1s;
  transform-style: preserve-3d;
  width: $width;
  font-size: $font-size;
  color: $default_text_color;
  outline: none;
  &:focus {
    color: $color3;
  }
  @if($allow_hover) {
    &:hover {
      color: $color3;
      transform: translateZ(200px) rotate3d(0,1,0,180deg);
    }
  }
  &.starred {
    color: $color3;
    .fa-star-o {
      display: none;
    }
    .fa-star {
      display: inline-block;
    }
  }
  .fa-star {
    display: none;
  }
}

.star-container {
  perspective: 800px;
}

.star {
  @include star(45px, 2em);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
