$vote_button_spacing: 0.75em;

.actions-up-down-vote-form {
  display: inline-block;
  margin-right: 0.5em;
}
.actions-vote-up,
.actions-vote-down {
  -webkit-appearance: none;
  display: inline-block;
  padding: 2px 0 3px 0;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  border: 0;
  &:visited, & {
    color: $default_text_color;
  }
  &:hover, &:visited, & {
    text-decoration: none;
  }
  &:hover {
    color: rgba($default_text_color,0.5);
  }
  &:focus {
    outline: $yellow solid 2px;
  }
}
.actions-vote-down:last-child {
  &:after {
    display: none;
  }
}
.actions-vote-count {
  min-width: 1.5em;
  padding-right: 0.5em;
  text-align: left;
}
.vote-direction-text {
  display: inline-block;
  width: 0.00001em;
  height: 0.00001em;
  overflow: hidden;
}

.actions-vote-spacer {
  display: inline-block;
  margin-right: 0.5em;
  &:before {
    content: '|';
  }
}
