.answer-list {
  @extend %list-item-container;
}
.answer-item {
  padding: 1em;
  margin-bottom: 2em;
  background-color: $grey-4;
  min-height: 8em;
  @include mq(640) {
    padding: 2em;
  }
}

.empty-answer-list-item {
  border: 1px solid $grey-4;
  background: none;
  min-height: 0;
  margin-bottom: 0;
}

.answer-meta {
  @extend %list-item-meta;
}
.answer-author {
  @extend %list-item-author;
}
.answer-date {
  @extend %list-item-date;
}
.answer-text {
  @include word_wrap;
}
.answer-reply {
  @include default-button;
}

.writer-note-item-container {
  margin-top: 0.5em;
  padding-left: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-left: 4px solid $grey-4;
  :last-child {
    margin-bottom: 0;
  }
}

.writer-note-item-label {
  display: block;
  color: $color1;
  font-size: 0.9em;
}

.answer-new {
  padding: 1em;
  margin-bottom: 2em;
  background-color: $grey-4;
  @include mq(640) {
    padding: 2em;
  }
}

.answer-reply-box {
  max-width: 39em;
  resize: none;
}

.question-outline {
  position: relative;
  margin-bottom: 1em;
  @include mq(640) {
    margin-bottom: 2em;
  }
}

.question-leader {
  font-size: 1.75em;
  margin-top: 0.2em;
  margin-bottom: 0;
  line-height: 1.1;
  @include word_wrap;
  @include mq(640) {
    font-size: 3em;
  }
}

.answer-jump-to-answer {

}

.breadcrumb-ellipsis {
  width: 100%;
  display: inline-block;
  @include text_truncate;
}

.answer-new-title {
  display: block;
  margin-top: 0;
  margin-bottom: 1em;
  @include word_wrap;
}

.page-links {
  @include cf;
}

.previous-page-link {
  display: inline-block;
  float: left;
  text-decoration: none;
}

.next-page-link {
  display: inline-block;
  float: right;
  text-align: right;
  text-decoration: none;
}
