.answer-list {
  @extend %list-item-container;
}
.answer-item {
  padding: 2em 0em 2em 2em;
  margin: 0 0 2em 2em;
  background-color: $grey-4;
  min-height: 10em;
}
.answer-meta {
  @extend %list-item-meta;
}
.answer-author {
  @extend %list-item-author;
}
.answer-date {
  @extend %list-item-date;
}
.answer-text {
  font-size: 1.6em;
  line-height: 1.2em;
}
.answer-reply {
  @extend %list-item-reply-button;
}

.answer-new {
  padding: 2em 0em 2em 2em;
  margin: 0 0 2em 2em;
  background-color: $grey-4;
}

.answer-reply-box {
  max-width: 39em;
  resize: none;
}

.answer-jump-to-answer {
  position: absolute;
  right: 1em;
  bottom: 1em;
}

.question-navigation-wrapper {
  height: 80px;
  margin-bottom: 2em;
}

.question-navigation {
  position: absolute;
  left: 0;
  width: 100%;
  border-bottom: 1px solid $grey-3;
}

.question-navigation-breadcrumb {
  max-width: 45em;
  margin: -1px auto;
  height: 80px;
  line-height: 80px;
}

.question-outline {
  position: relative;
  margin-bottom: 2em;
  background-color: $grey-4;
  padding: 1em 1em 2em 2em;
}

.question-title {
  font-size: 2.4em;
  margin: 0;
}

.question-leader {
  color: $green1;
  font-size: 3.2em;
  padding-left: 0.7em;
  margin: 0.2em 0 1em 0;
  line-height: 1.2em;
}
