
.approval-vote-option {
  margin-bottom: 0.6em;
}

.approval-score {
  font-size: 1.4em;
}

.approval-content {
  padding-right: 2em;
}

.approval-options {
  position: absolute;
  width: 6em;
  top: 2em;
  right: 0;
}

.approval-item {
  padding-right: 4em;
  position: relative;
}

.approval-button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  display: inline;
  font-size: 1em;
  color: $default_text_color;
  & i {
    width: 27px;
    margin-right: 0.2em;
  }
}

.approval-up {
  &:hover {
    color: $yellow;
    background:none;
  }
  &[disabled="disabled"] {
    color: inherit;
  }
}

.approval-down {
  &:hover {
    color: $pink;
    background:none;
  }
  &[disabled="disabled"] {
    color: inherit;
  }
}
