.add-comment-form {
  margin-bottom: 1em;
}
.comment-list {
  @extend %list-item-container;
  .comment-list {
    margin-top: 1em;
    padding-left: 1.5em;
    padding-top: 1em;
    border-left: 4px solid $grey-4;
  }
  &:hover {
    border-left-color: $grey-3;
  }
}
.comment-item {
  @extend %list-item;
  .comment-item {
    padding-top: 0;
    border-bottom: none;
  }
}
.comment-meta {
  @extend %list-item-meta;
}
.comment-author {
  @extend %list-item-author;
}
.comment-date {
  @extend %list-item-date;
}
.comment-text {
  @include word_wrap;
  @extend %list-item-text;
}

.comment-actions {
  @extend .list-item-actions;
}
.comment-reply {
  @extend %list-item-reply-button;
}

.comment-history-item {
  padding-top: 1em;
  padding-bottom: 1em;
}
.comment-history-item-link {
  &:visited, & {
    color: $color1;
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
}

.comment-reason-text {
  @extend %list-item-date;
  margin-bottom: .6em;
  &:not(:empty) {
    &:before {
      content: ', ';
    }
  }
  &:empty {
    display: none;
  }
}

.annotation-reason {
  fieldset {
    @include cf;
    border: none;
    padding: 0 0 1em 0;
  }
  label {
    float: left;
    width: 50%;
    margin-bottom: 0.5em;
  }
  span {
    padding-left: 0.4em;
    font-size: 0.9em;
  }
}