.add-comment-form {
  margin-bottom: 1em;
}
.comment-list {
  @extend %list-item-container;
  .comment-list {
    margin-top: 1em;
    padding-left: 1.5em;
    padding-top: 1em;
    border-left: 4px solid $grey-4;
  }
  &:hover {
    border-left-color: $grey-3;
  }
}
.comment-item {
  @extend %list-item;
  .comment-item {
    padding-top: 0;
    border-bottom: none;
  }
}
.comment-meta {
  @extend %list-item-meta;
}
.comment-author {
  @extend %list-item-author;
}
.comment-date {
  @extend %list-item-date;
}
.comment-text {
  @include word_wrap;
  @extend %list-item-text;
}

.comment-actions {
  @extend .list-item-actions;
}
.comment-reply {
  @extend %list-item-reply-button;
}

.more-comments-item {
  padding-top: 1em;
  padding-bottom: 1em;
}
.more-comments-item-link {
  &:visited, & {
    color: $green1;
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
}



