.add-a-draft-wrapper {
  text-align: center;
  margin-bottom: 2em;
}


%draft-section {
  margin-bottom: 2em;
  @include mq(321) {
    margin-bottom: 4em;
  }
}

.latest-draft-wrapper {
  @extend %draft-section;
}
.previous-drafts {
  @extend %draft-section;
}
.draft-writers {
  @extend %draft-section;
}
.draft-comments {
  @extend %draft-section;
}

.draft-info-wrapper {
  @include cf
}

.draft-info-links {
  @include mq(768) {
    float: right;
  }
}

.draft-info-link {
  font-size: 1.1em;
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
}

.draft-writer-container {
  @include mq(768) {
    float: left;
    width: 50%;
  }
}

.import-draft-error {
  h2 {
    margin-top: 0;
    line-height: 1.2;
    color: $color2_light;
  }
}
