.footer-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $footer_height;
  color: $offwhite;
  background-color: $black;
}

.footer {
  position: relative;
  margin: 0 1em 0 1em;
  padding: 1em 0 1em 0;
  @include mq(768) {
    margin: 0 auto 0 auto;
    padding: 1em;
  }
}

.footer-row {
  @include cf;
}

.footer-content-links {
  float: left;
  list-style: none;
  margin: 0 0 0 0;
  padding: 0;
  width: 50%;
}

.footer-content-text {
  float: right;
  width: 50%;
}

.footer-alpha-warning {
  font-style: italic;
}

.footer-link {
  color: $offwhite;
  &:visited {
    color: $offwhite;
  }
  &:hover {
    color: #2e8aca;
  }
}

.footer-footer {
  border-top: 1px solid $offwhite;
  text-align: right;
  margin-top: 1em;
}

