.footer-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $footer_height;
  color: $offwhite;
  background-color: $black;
}

.footer {
  position: relative;
  margin: 0 1em 0 1em;
  padding: 1em 0 1em 0;
  @include mq($large_device) {
    margin: 0 auto 0 auto;
    padding: 1em;
  }
}

.footer-row {
  @include cf;
  margin-bottom: 1em;
}

.footer-content-links {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 50%;
  li {
    margin-bottom: 0.25em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.footer-link {
  display: inline-block;
  line-height: 1.4;
  color: $offwhite;
  text-decoration: none;
  &:visited {
    color: $offwhite;
  }
  &:hover {
    color: #2e8aca;
  }
}

.footer-content-text {
  float: right;
  width: 50%;
}

.footer-alpha-warning {
  font-style: italic;
}

.footer-footer {
  padding-top: 1em;
  border-top: 1px solid rgba($offwhite,0.25);
  text-align: right;
}

