$guidance_text_side_gutter: 1.5em;
$guidance_text_top_gutter: 1.45em;

.guidance-text-wrapper {
  background-color: $green1;
  margin: 0 -1em 2em -1em;
  padding: 1em;
  @include mq(320) {
    padding: 2em;
  }
}

.guidance-text {
  position: relative;
  max-width: $max_content_width;
  margin: -2px auto 0 auto;
  padding: $guidance_text_top_gutter $guidance_text_side_gutter 1em $guidance_text_side_gutter;
  background: $white;
  border: 1px solid $border_color;
  box-shadow: 0 4px 4px rgba(black,0.1);
}
.guidance-text-heading {
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0.4em;
  color: $green1;
  @include mq(320) {
    padding-right: 100px;
  }
}

.guidance-buttons {
  text-align: right;
  margin-bottom: 1em;
  @include mq(320) {
    margin-bottom: 0;
  }
}

.button-hide-guidance-text {
  text-decoration: none;
  display: block;
  @include mq(400) {
    position: absolute;
    top: 27px;
    right: $guidance_text_side_gutter;
  }
  span {
    margin-right: 2px;
  }
  &:hover {
    text-decoration: none;
    span {
      text-decoration: underline;
    }
  }
  &:visited, & {
    color: $default_text_color;
  }
}