#clj-invitation-response-form-container {
	width: 100%;
}
#clj-invitation-response-accept, #clj-invitation-response-sign-in {
	width: 50%;
	float: right;
}
#clj-invitation-response-decline {
	width: 50;
}
