%list-item-container {
  margin: 0 0 $default_block_spacing 0;
  padding: 0;
  list-style: none;
  >:last-child {
    margin-bottom: 0;
  }
}
%list-item {
  border-bottom: 1px solid $border_color;
  padding: 1em 0;

}
%list-item-meta {
  margin-bottom: 0.2em;
}
%list-item-author {
  padding-right: 0.75em;
  color: $color2;
  font-size: 0.9em;
}
%list-item-date {
  font-size: 0.75em;
  color: $grey-1;
}
%list-item-text {
  color: $grey-15;
  margin-bottom: 0.3em;
  p {
    margin-bottom: 0.6em;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &:empty {
    display: none;
  }
}
.list-item-actions {
  font-size: 87.5%;
}
%list-item-reply-button {
  display: inline-block;
  padding: 2px 0 3px 0;
  font-weight: 700;
  &:visited, & {
    color: $grey-15;
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
}
