.header-content {
  margin-bottom: 1em;
  @include mq($large_device) {
    margin-bottom: 2em;
  }
}

.masthead {
  position: relative;
  z-index: 10;
  background: $border_color;
  color: $default_text_color;
  padding: 0.4em 1em 0.6em;
  box-shadow: 0 2px 7px rgba(0,0,0,.15);
  text-align: center;
  @include mq($large_device) {
    text-align: left;
  }
  a {
    color: inherit;
    text-decoration: none;
    &:visited {
      color: inherit;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.masthead-nav-link {
  font-weight: bold;
  font-size: 1.7em;
  float: left;
  @include mq($large_device) {
    display: none;
  }
}

.masthead-logo {
  color: $white;
  font-weight: bold;
  font-size: 1.6em;
  letter-spacing: -0.025em;
  display: inline-block;
  word-break: break-word;
  max-width: 65%;
  @include mq($large_device) {
    margin-right: 1em;
    max-width: 20%;
  }
  @include mq($extra_large_device) {
    margin-right: 1em;
    max-width: 30%;
  }
  @include mq($monster_large_device) {
    margin-right: 1em;
    max-width: 35%;
  }
}

.masthead-user-nav {
  padding-top: 0.4em;
  float: right;
  text-align: right;
  max-width: 25%;

  @include mq($monster_large_device) {
    max-width: 30%;
  }

  i {
    font-size: 1.5em;
  }
  span {
    @include visuallyhidden;
    vertical-align: top;
    word-break: break-all;
    @include mq($large_device) {
      @include revert-visuallyhidden;
      padding: 0;
      margin-left: auto;
    }
  }
  a {
    margin-left: auto;

    &.masthead-sign-out {
      margin-left: 0.8em;
      float: right;
    }
    span {
      margin-left: 0.25em;
    }
    &, &:hover {
      text-decoration: none;
    }
    &:hover span {
      text-decoration: underline;
    }
  }
}

.masthead-admin {
  padding-right: 0.5em;
}

.masthead-navigation {
  overflow: auto;
}