.header-content {
  margin-bottom: 1em;
  @include mq(768) {
    margin-bottom: 2em;
  }
}

.masthead {
  position: relative;
  z-index: 10;
  background: $border_color;
  color: $default_text_color;
  padding: 0.4em 1em 0.6em;
  box-shadow: 0 2px 7px rgba(0,0,0,.15);
  text-align: center;
  @include mq(768) {
    text-align: left;
  }
  a {
    color: inherit;
    text-decoration: none;
    &:visited {
      color: inherit;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.masthead-nav-link {
  font-weight: bold;
  font-size: 1.7em;
  @include mq(768) {
    display: none;
  }
}

.masthead-logo {
  color: $white;
  font-weight: bold;
  font-size: 1.6em;
  letter-spacing: -0.025em;
  flex: 100;
  display: inline-block;
  @include mq(768) {
    flex: inherit;
    margin-right: 1em;
  }
}

.masthead-user-nav {
  display: inline-flex;
  padding-top: 0.4em;
  flex: 1;
  white-space: nowrap;
  i {
    font-size: 1.5em;
  }
  span {
    display: none;
    vertical-align: top;
    @include mq(768) {
      display: inline;
      margin-left: 0.25em;
    }
  }
  a {
    &, &:hover {
      text-decoration: none;
    }
    &:hover span {
      text-decoration: underline;
    }
  }
}

.masthead-edit-profile {
  margin-right: 0.8em;
  @include mq(768) {
    margin-right: 0;
  }
}

.masthead-username {
  padding-right: 1em;
}

.masthead-admin {
  padding-right: 0.5em;
}

.masthead-navigation {
  display: flex;
}

.masthead-sign-in, .masthead-edit-profile {
  margin-left: auto;
}