.masthead {
  position: relative;
  height: $masthead_height;
  z-index: 10;
  background: $border_color;
  color: $default_text_color;
  padding: 0.4em 1em 0.6em;
  box-shadow: 0 2px 7px rgba(0,0,0,.15);
  a {
    color: inherit;
    text-decoration: none;
    &:visited {
      color: inherit;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.masthead-nav-link {
  position: absolute;
  top: 0.25em;
  left: 0.5em;
  font-weight: bold;
  font-size: 1.7em;
  @include mq(720) {
    display: none;
  }
}

.masthead-logo {
  color: $white;
  font-weight: bold;
  font-size: 1.6em;
  letter-spacing: -0.025em;
  text-align: center;
  display: block;
  @include mq(720) {
    text-align: left;
    display: inline-block;
    margin-right: 1em;
  }
}

.masthead-large-screen-nav {
  display: none;
  @include mq(720) {
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: bold;
    display: inline;
    position: relative;
    top: -4px;
    a {
      margin-right: 2em;
    }
  }
}

.masthead-user-nav {
  position: absolute;
  top: 0.8em;
  right: 1em;
  i {
    font-size: 1.5em;
  }
  span {
    display: none;
    @include mq(720) {
      display: inline;
      position: relative;
      top: -4px;
      margin-left: 0.25em;
    }
  }
  a {
    &, &:hover {
      text-decoration: none;
    }
    &:hover span {
      text-decoration: underline;
    }
  }
}

.masthead-edit-profile {
  margin-right: 0.8em;
  @include mq(720) {
    margin-right: 0;
  }
}

.masthead-username {
  padding-right: 1em;
}
