.flash-message-success,
.invitation-banner {
  padding: 0.3em 1em 0.5em;
  position: relative;
  z-index: 5;
  width: 100%;
  background: $color1_dark;
  color: $white;
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  a {
    color: #E1FFE1;
    &:hover {
      color: #E1FFE1;
      text-decoration: none;
    }
    &:visited {
      color: #E1FFE1;
    }
  }
}
