.modal-contents {
  margin-bottom: 6em;
  padding: 2em;
  border: 1px solid $grey-2;
  @include mq(640) {
    padding: 3em;
  }
}

.modal-title {
  font-size: 2em;
  line-height: 1.1;
}
.modal-lede {
  font-weight: normal;
  font-size: 1.4em;
  margin: 0;
}

.js-modal-hidden {
  display: none;
}

.js-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $grey-out;
  z-index: 1000;
}

.js-modal-fix-up {
  background-color: $white;
  border: 0.6em solid $yellow;
}

.js-modal-container {
  position: relative;
  margin: 4em 3em 3em 3em;
}

.js-modal-dismiss {
  position: absolute;
  top: 1em;
  right: 1em;
  & a {
    color: $black;
    text-decoration: none;
  }
}
