.modal-contents {
  margin-bottom: 6em;
  padding: 2em;
  border: 1px solid $grey-3;
  @include mq(640) {
    padding: 3em;
  }
  .main-content & {
    max-width: $max_content_width;
    margin: 0 auto 6em auto;
    .js & {
      display: none;
    }
  }
}

.modal-title {
  font-size: 2em;
  line-height: 1.1;
}
.modal-lede {
  font-weight: normal;
  font-size: 1.4em;
  margin: 0;
}

.js-hidden {
  display: none;
}

.js-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $grey-out;
  z-index: 1000;
}

.js-modal-fix-up {
  background-color: $white;
  border: 0.6em solid $grey-3;
}

.js-modal-container {
  position: relative;
  margin: 1.5em;
  @include mq(740) {
    max-width: 44em;
    margin: 3em auto;
  }
}

.js-modal-content {
  padding: 1.5em;
  font-size: 90%;
  @include mq(550) {
    padding: 2em;
    font-size: 100%;
  }
}

.js-modal-dismiss {
  position: absolute;
  top: 1em;
  right: 1em;
  & a {
    color: $black;
    text-decoration: none;
    & span{
      display: none;
      @include mq(550) {
        display: inherit;
      }
    }
  }
}

.modal-share-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal-share-icon {
  font-size: 2.6em;
  color: $black;
  display: inline;
  margin-right: 0.2em;
}

.modal-share-icon-link {
  &:visited, & {
    color: $green1;
  }
  &:hover {
    color: $green2;
  }
}

.modal-share-question-text {
  font-size: 1.6em;
}
