.objective-list-item {
  position: relative;
  border-bottom: 1px solid $grey-3;
  margin-bottom: 0;
  &:last-child {
    border-bottom: none;
  }
}

$objective_list_item_top_padding: 24px;

.objective-list-item-link {
  position: relative;
  text-decoration: none;
  display: block;
  padding-top: $objective_list_item_top_padding;
  padding-right: 3em;
  padding-bottom: 1.5em;
  border-bottom: 3px solid transparent;
  color: $default_text_color;
  &:focus {
    background-color: transparent;
    border-bottom-color: $yellow;
    outline: none;
  }
  &:hover {
    text-decoration: none;
    .objective-list-item-title {
      text-decoration: underline;
    }
    .fa {
      color: $link-colour;
    }
  }
  &:visited {
    color: $default_text_color;
  }
}

.objective-list-item-title {
  margin: 0 0 0.2em;
  font-size: 1.3em;
  line-height: 1.2;
  color: $link-colour;
}

@mixin list-star {
  width: 25px;
  font-size: 1.5em;
  color: $default_text_color;
  &.starred {
    color: $yellow;
    .fa-star {
      display: inline-block;
    }
  }
  .fa-star {
    display: none;
  }
}

.objective-list-item-star-container {
  @include mq(760) {
    position: absolute;
    top: $objective_list_item_top_padding - 2;
    left: -38px;
  }
}

.objective-list-item-star {
  @include list-star;
  height: 28px;
  line-height: 28px;
}

.objective-list-item-draft-begins {
  color: $grey-1;
  font-size: 90%;
}
.objective-list-item-date {
  font-weight: 700;
}

.objective-list-item-preview-text {
  margin-bottom: 0;
  &:empty {
    display: none;
  }
}

.objective-list-item-arrow {
  font-size: 2em;
  position: absolute;
  top: 50%;
  right: 0.25em;
}

