$objective_navigation_height: 80px;

.objective-navigation {
  height: $objective_navigation_height;
  @include mq($smallish_device) {
    margin-bottom: 2em;
  }
  @include mq($large_device) {
    margin-bottom: 4em;
  }
}

.objective-comments-navigation {
  margin-bottom: 2em;
}

.objective-navigation-list-wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  background: rgba($white, 0.98);
  border-bottom: 1px solid $grey-3;
  &.sticky {
    position: fixed;
    top: 0;
    z-index: 10;
  }
}

.objective-navigation-list {
  height: $objective_navigation_height/2;
  margin: -1px auto;
  padding: 0;
  list-style: none;
  overflow: hidden;
  font-size: 75%;
  @include mq($smallish_device) {
    height: $objective_navigation_height;
    font-size: 100%;
    max-width: $max_content_width;
  }
  li {
    display: inline-block;
    margin: 0 0.5em 0 0;
    padding: 0;
    @include mq($smallish_device) {
      margin-right: 1em;
    }
    @include mq($smallish_device) {
      margin-right: 2em;
    }
  }
  .objective-nav-top-link {
    a {
      border-color: transparent;
      &:hover {
        color: $color1_dark;
        border-color: transparent;
      }
    }
  }
  a {
    display: block;
    height: $objective_navigation_height/2;
    line-height: $objective_navigation_height/2;
    padding: 0 1em;
    color: $default_text_color;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    //    font-size: 90%;
    @include mq($smallish_device) {
      height: $objective_navigation_height;
      line-height: $objective_navigation_height;
    }
    &:hover {
      color: $color1_dark;
      border-bottom-color: rgba($color1_dark, 0.1);
    }
    &:focus {
      outline: none;
      border-bottom-color: rgba($color1_dark, 0.1);
    }
    &.on {
      color: $color1_dark;
      border-bottom-color: $color1;
    }
  }
}
