.profile-objective-list-item {
  position: relative;
  border-bottom: 1px solid $grey-3;
  padding-bottom: 1em;
  margin-bottom: 24px;
  &:last-child {
    border-bottom: none;
  }
}

.profile-objective-list-item-link {
  position: relative;
  text-decoration: none;
  display: block;
  padding-bottom: 1em;
  padding-right: 3em;
  color: $default_text_color;
  &:focus {
    background-color: transparent;
    outline: none;
  }
  &:hover {
    text-decoration: none;
    .profile-objective-list-item-title {
      text-decoration: underline;
    }
    .fa {
      color: $link-colour;
    }
  }
  &:visited {
    color: $default_text_color;
  }
}


.profile-objective-list-item-star-container {
  margin-bottom: 2px;
  @include mq($large_device) {
    position: absolute;
    top: -2px;
    left: -38px;
  }
}
.profile-objective-list-item-star {
  $hover: false;
  @include star(22px, 1.3em, $hover);
}

.profile-objective-list-item-removal-container {
  position: absolute;
  top: 0;
  right: 0;
}

.profile-objective-list-item-removal-button {
  border: none;
  background: none;
}

.profile-objective-list-dashboard-container {
}
.profile-objective-list-item-title {
  margin: 0 0 0.2em;
  font-size: 1.3em;
  line-height: 1.2;
  color: $link-colour;
  @include word_wrap;
}

.profile-objective-list-item-draft-begins {
  color: $grey-1;
  font-size: 90%;
}
.profile-objective-list-item-date {
  font-weight: 700;
}

.profile-objective-list-item-preview-text {
  margin-bottom: 0;
  word-wrap: break-word;
  &:empty {
    display: none;
  }
}

