$progress_indicator_height: 40px;
.progress-indicator {
  @include cf;
  margin: 0 auto $default_block_spacing auto;
  padding: 0 1em;
  list-style: none;
  text-align: center;
  @include mq(321) {
    padding-left: 0;
    padding-right: 0;
  }
  li {
    display: inline-block;
    margin: 0 -2px;
    width: 50%;
    padding: 0;
    background-color: $grey-4;
    color: $grey-15;
    @include mq(321) {
      width: 120px;
    }
    &:first-child {
      border-radius: 3px 0 0 3px;
    }
    &:last-child {
      border-radius: 0 3px 3px 0;
    }
  }
  .complete {
    background-color: $green1;
    color: $white;
  }
  .on {
    background-color: $yellow;
    pointer-events: none;
  }
  a {
    display: block;
    height: $progress_indicator_height;
    line-height: $progress_indicator_height - 2;
    color: inherit;
    text-decoration: none;
    font-size: 90%;
  }
}
