.question-list {
  @extend %list-item-container;
}
.question-item {
  @extend %list-item;
  position: relative;
}
.question-meta {
  @extend %list-item-meta;
}
.question-author {
  @extend %list-item-author;
}
.question-date {
  @extend %list-item-date;
}
.question-text {
  @extend %list-item-text;
  padding-right: 2em;
  @include mq(760) {
    padding-right: 7em;
  }
}
.question-actions {
  @extend .list-item-actions;
}
.question-reply {
  @extend %list-item-reply-button;
}

.promote-question-button,
.demote-question-button {
  @extend .normalise-button;
  position: absolute;
  top: 16px;
  right: 10px;
  &:hover {
    color: $green2;
  }
}

.promote-text, .demote-text {
  display: none;
  @include mq(760) {
    display: inline;
    margin-right: 0.6em;
  }
}
