.question-list {
  @extend %list-item-container;
}
.question-item {
  @extend %list-item;
  position: relative;
  font-size: 120%;
}
.question-item-icon {
  line-height: 1.4;
  float: left;
}
.question-meta {
  @extend %list-item-meta;
}
.question-author {
  @extend %list-item-author;
}
.question-date {
  @extend %list-item-date;
}
.question-text {
  @extend %list-item-text;
  color: $link-colour;
  padding-right: 2em;
  @include mq(768) {
    padding-right: 7em;
  }
}


.question-text-inner {
  @include word_wrap;
  text-decoration: none;
  display: block;
  margin-left: 1.35em;
}

.question-answer-count {
  margin-left: 1.80em;
  font-size: 0.75em;
  color: $grey-15;
}
.question-actions {
  @extend .list-item-actions;
}
.question-reply {
  @extend %list-item-reply-button;
}

.promote-question-button,
.demote-question-button {
  @extend .normalise-button;
  position: absolute;
  top: 22px;
  right: 10px;
  &:hover {
    opacity: 0.7;
  }
}
.promote-question-button {
  color: $green1;
}
.demote-question-button{
  color: $dark_pink;
}

.promote-text,
.demote-text {
  display: none;
  @include mq(768) {
    display: inline;
    margin-right: 0.6em;
  }
}

.promoted-questions-container .question-text-inner {
  font-size: 130%;
}
