.response-action {
  background: $offwhite;
//  margin-top: 2em;
  padding-bottom: 2em;
}
.response-wrapper {
  //TODO use @extend .main-wrapper , node-sass needs upgrading
  padding: 1em;
  @include mq($large_device) {
    padding-left: 280px;
    max-width: 1100px;
    margin: 0 auto;
  }
}
