$secondary_navigation_height: 80px;

.secondary-navigation {
  @include cf;
  min-height: $secondary_navigation_height;
  margin: 0 0 2em 0;
  @include mq(480) {
    margin-bottom: 4em;
  }
}

.secondary-navigation-content-wrapper {
  min-height: $secondary_navigation_height;
  background: rgba($white, 0.96);
  border-bottom: 1px solid $grey-3;
  padding-bottom: 1.5em;
  @include mq(480) {
    position: absolute;
    left: 0;
    width: 100%;
    padding-bottom: 0;
    &.sticky {
      position: fixed;
      top: 0;
      z-index: 10;
    }
  }
}

.secondary-navigation-content {
  position: relative;
  margin: -1px auto;
  @include mq(480) {
    min-height: $secondary_navigation_height;
    max-width: $max_content_width;
    padding: 0.5em;
    font-size: 100%;
  }
  @include mq(768) {
    padding-left: 0;
    padding-right: 0;
  }
}

$secondary_nav_icon_spacer: 0.4em;

%secondary-navigation-content-controls {
  position: absolute;
  top: 23px;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @include mq(480) {
    top: 40px;
  }

  li {
    display: inline-block;
  }
  a {
    display: block;
    font-weight: 100;
    color: $default_text_color;
    text-decoration: none;
    &:hover {
      color: $color2;
    }
  }
}

.secondary-navigation-content-controls {
  right: 0.5em;
  text-align: right;
  @extend %secondary-navigation-content-controls;
  @include mq(768) {
    right: 0;
  }
}

.secondary-parent-navigation-controls {
  @extend %secondary-navigation-content-controls;
  left: 0.5em;

  @include mq(768) {
    left: 0;
  }
}

.secondary-navigation-text {
  @include visuallyhidden;
  @include mq(480) {
    @include revert-visuallyhidden;
  }
}
.secondary-navigation-previous {
  margin-right: 1em;
  i {
    margin-right: $secondary_nav_icon_spacer;
  }
}

.secondary-navigation-next {
  i {
    margin-left: $secondary_nav_icon_spacer;
  }
}

.secondary-parent-navigation {
  i {
    margin-right: $secondary_nav_icon_spacer;
  }
}