@import 'dashboard/writer_dashboard_navigation';
@import 'dashboard/dashboard_answer_item';
@import 'dashboard/dashboard_comment_item';
@import 'dashboard/dashboard_writer_note';
@import 'dashboard/writer_dashboard_filter_list';
@import 'dashboard/dashboard_stat';


.html-writer-dashboard {
//  @include mq(640) {
//    overflow: hidden;
//    body, & {
//      height: 100%;
//    }
//  }
  .main-content {
    padding: 1em 0 0 0;
    @include mq(640) {
      padding-left: 1em;
      padding-right: 1em;
      padding-bottom: 1em;
    }
  }
}

.writer-dashboard {
}
.writer-dashboard-header {
}
.writer-dashboard-body {
}

.writer-dashboard-title {
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  margin-top: 0;
  margin-bottom: 16px;
  padding-left: 16px;
  line-height: 1.2;
  font-family: $sans-serif;
  font-size: em(32);
  letter-spacing: -0.025em;
  text-align: center;
  @include word_wrap;
  @include mq(640) {
    text-align: left;
  }
  @include mq(768) {
    font-size: em(42);
  }
}

.writer-dashboard-stats {
  text-align: center;
  margin-bottom: 0.5em;
  @include mq(640) {
    text-align: inherit;
    padding-left: 1em;
    padding-right: 1em;
  }
}

// setup the dashboard containers

.writer-dashboard-body {
  @include cf;
  position: relative;
}
.writer-dashboard-navigation {
  margin-bottom: 2em;
  @include mq(640) {
    float: left;
    width: 40%;
    margin-bottom: 0;
  }
  @include mq(1000) {
    float: left;
    width: 30%;
    margin-bottom: 0;
  }
}

.writer-dashboard-content-container {
  @include mq(640) {
    float: right;
    width: 60%;
    padding-left: 1em;
  }
  @include mq(1000) {
    float: right;
    width: 70%;
    padding-left: 1em;
  }
}

// content area

.writer-dashboard-content {
  padding: 1em;
  @include mq(640) {
    height: 480px;
    overflow-y: auto;
    padding-left: 2em;
    padding-right: 2em;
  }
}
.writer-dashboard-content-stats {
  color: $grey-1;
}
