---
# - script: get_docker.sh

 - name: install pip
   apt: name=python-pip state=present

 - name: install docker-py
   pip: name=docker-py state=latest

 - name: add docker apt key
   apt_key: keyserver=hkp://p80.pool.sks-keyservers.net:80 id=36A1D7869245C8950F966E92D8576A8BA88D21E9

 - name: add docker apt repo
   apt_repository: repo='deb https://get.docker.com/ubuntu docker main' state=present

 - name: install lxc-docker
   apt: name=lxc-docker state=latest

 - name: restart docker service
   service: name=docker state=restarted
