<div id="clj-question-list" class="main-wrapper article-wrapper">
  <div class="breadcrumbs">
    <a id="objective-crumb" href="/" title="The objective">The objective</a>
    &rsaquo;
    <a id="questions-crumb" href="/" title="Questions for objective">Questions</a>
  </div>
  <h1>{{objective}}</h1>
  <p class="lede">${question-list/page-intro}</p>
  <h2>${question-list/question-list-heading}</h2>
  <ol class="question-list">
    <li class="helper-text">${question-list/no-questions}</li>
  </ol>
</div>
