.masthead-user-nav#clj-user-navigation
<<<<<<< HEAD
<<<<<<< HEAD
  a(href="/sign-in", title="Go to sign in")
    i.fa.fa-sign-in
    span Sign in
=======
  a(href="/sign-in", title="${navigation-global/sign-in-title}")
    i.fa.fa-sign-in
    span ${navigation-global/sign-in-text}
>>>>>>> usernameWIP
=======
  a(href="/sign-in", title="${navigation-global/sign-in-title}")
    i.fa.fa-sign-in
    span ${navigation-global/sign-in-text}
>>>>>>> Add jade versions of HTML
