.masthead-user-nav.clj-user-navigation-signed-in
  span.masthead-username.clj-username JoeBloggs
  a.masthead-sign-out.clj-masthead-sign-out(href="/sign-out", title="Sign out")
    i.fa.fa-sign-out
    span.clj-masthead-sign-out-text Sign out
