extends ../layouts/base
include ../mixins/_view_helpers

block vars
  - htmlClass = "html-writer-dashboard"
  - bodyClass = ""
  - pageTitle = "! Writer dashboard"


mixin dashboardNavigationItem(count, cssClass)
  li.dashboard-navigation-item(class=cssClass)
    a.dashboard-navigation-item-link(href="#")
      block
      span.dashboard-navigation-item-link-count (#{count})
      i.fa.fa-angle-right

block content
  .dashboard-title-container
    //p.dashboard-subtitle Objective:
    h1.dashboard-title We need more bike lines in soho
    p Objective participants: 5432
    p Starred: 3210
  .writer-dashboard
    .writer-dashboard-navigation
      h2.writer-dashboard-navigation-title Questions
      ul.dashboard-navigation
        +dashboardNavigationItem(2000)
          | hello world
        +dashboardNavigationItem(1827, 'on')
          | How much wood can a woodchuck chuck?
        +dashboardNavigationItem(999)
          | What colour is the sky?
        +dashboardNavigationItem(210)
          | hello world
        +dashboardNavigationItem(40)
          | How much wood can a woodchuck chuck?
        +dashboardNavigationItem(20)
          | What colour is the sky?

    .writer-dashboard-content-container
      .writer-dashboard-content-filters
        a.writer-dashboard-content-filter-button.on(href="#")
          i.fa.fa-thumbs-o-up
        a.writer-dashboard-content-filter-button(href="#")
          i.fa.fa-thumbs-o-down
        a.writer-dashboard-content-filter-button(href="#")
          i.fa.fa-paperclip



      .writer-dashboard-content
        .writer-dashboard-content-stats
          p 1827 answers, 987 unique:
        ul.answer-list
          +dashboardAnswerItem()
          +dashboardAnswerItem()
          +dashboardAnswerItem()
          +dashboardAnswerItem()

block footerScripts
