extends ../layouts/base
include ../mixins/_view_helpers

block vars
  - htmlClass = "html-writer-dashboard"
  - bodyClass = ""
  - pageTitle = "! Writer dashboard"


mixin dashboardNavigationItem(count, cssClass)
  li.writer-dashboard-navigation-item(class=cssClass)
    a.writer-dashboard-navigation-item-link(href="#dashboard-content")
      block
      span.writer-dashboard-navigation-item-link-count (#{count})
      i.fa.fa-angle-right

block content
  .writer-dashboard
    .writer-dashboard-header
      h1.writer-dashboard-title We need more bike lines in soho
      .writer-dashboard-stats
        p.dashboard-stat
          span.dashboard-stat-amount 5432
          span.dashboard-stat-title Participants
        p.dashboard-stat
          span.dashboard-stat-amount 3210
          span.dashboard-stat-title Starred

    .writer-dashboard-body
      .writer-dashboard-navigation
        h2.writer-dashboard-navigation-title Questions
        ul.writer-dashboard-navigation-list
          +dashboardNavigationItem(2000)
            | hello world
          +dashboardNavigationItem(1827, 'on')
            | How much wood can a woodchuck chuck?
          +dashboardNavigationItem(999)
            | What colour is the sky?
          +dashboardNavigationItem(210)
            | hello world
          +dashboardNavigationItem(40)
            | How much wood can a woodchuck chuck?
          +dashboardNavigationItem(20)
            | What colour is the sky?
          +dashboardNavigationItem(20)
            | What colour is the sky?
          +dashboardNavigationItem(20)
            | What colour is the sky?
          +dashboardNavigationItem(20)
            | What colour is the sky?
          +dashboardNavigationItem(20)
            | What colour is the sky?
          +dashboardNavigationItem(20)
            | What colour is the sky?
          +dashboardNavigationItem(20)
            | What colour is the sky?
          +dashboardNavigationItem(20)
            | What colour is the sky?
          +dashboardNavigationItem(20)
            | What colour is the sky?

      .writer-dashboard-content-container
        ul.writer-dashboard-filter-list
          li.writer-dashboard-filter-list-item
            a.writer-dashboard-filter-list-item-button.on(href="#")
              i.fa.fa-thumbs-o-up
          li.writer-dashboard-filter-list-item
            a.writer-dashboard-filter-list-item-button(href="#")
              i.fa.fa-thumbs-o-down
          li.writer-dashboard-filter-list-item
            a.writer-dashboard-filter-list-item-button(href="#")
              i.fa.fa-paperclip

        .writer-dashboard-content#dashboard-content
          .writer-dashboard-content-stats
            p 1827 answers from 970 people:
          ul.answer-list
            +dashboardAnswerItem()
            +dashboardAnswerItem()
            +dashboardAnswerItem()
            +dashboardAnswerItem()

block footerScripts
