<div class="article-meta">
  <!-- VOTING
      <div class="article-meta-voting">
        <a href="#voteup" class="vote-up"><i class="fa fa-caret-up"></i> 12</a>
        <a href="#votedown" class="vote-down"><i class="fa fa-caret-down"></i> 2</a>
      </div>
      -->
  <div class="clj-objective-drafting-message article-meta-drafting">
    <h2 class="article-meta-drafting-started">
      ${notifications/drafting-has-started}
    </h2>
    ${notifications/drafting-started-helper-text} <a class="clj-objective-drafting-link" href="{{link to drafting section}}">${notifications/go-to-drafting}</a>
  </div>
  <p class="clj-objective-drafting-start-date-message article-meta-timing">${objective-view/end-date-label} <span id="clj-obj-end-date-value">{{end-date}}</span></p>
</div>
