<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{Page Title}}</title>
  <meta id="clj-description" name="description" content="{{Page description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link rel="apple-touch-icon" href="static/apple-touch-icon.png">

  <!--[if (lt IE 8) & (!IEMobile)]>
    <link rel="stylesheet" type="text/css" href="/static/basic.css" />
  <![endif]-->

  <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="/static/ie8.css" />
    <script src="/static/modernizr.min.js"></script>
  <![endif]-->

  <!--[if (gt IE 8) | (IEMobile)]><!-->
    <link rel="stylesheet" type="text/css" href="/static/modern.css" />
    <script src="/static/modernizr.min.js"></script>
  <!--<![endif]-->
</head>

<body>
  <!--[if lt IE 8]>
    <p class="browserupgrade">{{browse happy message}}</p>
  <![endif]-->

  <header role="banner">
    <div class="masthead">
      <a href="#navigation" class="masthead-nav-link">
        <i class="fa fa-bars"></i><span class="visuallyhidden">Skip to navigation</span>
      </a>

      <a href="/" class="masthead-logo" title="Go to home page" rel="home">Objective[8]</a>

      <div class="masthead-large-screen-nav">
        <a href="/objectives" title="Go to to the Objectives list">Objectives</a>
        <a href="/learn-more" title="Learn more about Objective[8]">About</a>
      </div>
    </div>
  </header>

  <div class="status-bar">
    <div id="projectStatus" class="wrapper">{{project-status}}</div>
  </div>

  <div id="main-content" class="main-content" role="main">
    {{content goes here}}
  </div>

  <nav id="clj-navigation">
    <div id="navigation" class="navigation-wrapper">
      <h2 class="navigation-title">Navigation</h2>
      <ul class="navigation-list">
        <li><a href="/objectives">Objectives</a></li>
        <li><a href="/learn-more">About</a></li>
      </ul>
    </div>
  </nav>

  <script src="/static/scripts.min.js"></script>
</body>

</html>
