<!DOCTYPE html>
<html lang="{{locale}}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TITLE</title>
  <meta name="description" content="DESCRIPTION">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <header role="banner">
    <a href="/" title="Go to home page" class="header-logo">dCent Project</a>
    
    <nav role="navigation">
      <ul class="global-navigation">
        <li><a href="/sign-in">Sign in</a></li>
      </ul>
    </nav>
  </header>
  
  <section id="main-content" role="main" class="page-container">
    
    

  </section>
</body>
</html>
