<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{Page Title}}</title>
  <meta id="clj-description" name="description" content="{{Page description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/static/images/favicon.ico">
  <link rel="apple-touch-icon" href="static/images/apple-touch-icon.png">
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <header class="masthead" role="banner">
    <a href="/" title="Go to home page" class="header-logo">{{dCent Project}}</a>
    <nav id="clj-global-navigation" role="navigation">
      
    </nav>
  </header>
  
  <section id="main-content" role="main" class="page-container">
    
  </section>
</body>
</html>
