<!DOCTYPE html>
<html lang="{{locale}}">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body id="home">
    <div class="page">
        {{>page}}
    </div>
    <link rel="stylesheet" href="static/main.min.css">
</body>

</html>
