<div class="grid-container">
  <section>
    <div class="grid-column">
        <div class="info-box-icon">
            <i class="fa fa-lightbulb-o"></i>
        </div>
      <div class="info-box-text">
          Create an <span class="info-box-emphasis">objective</span> to describe the change you want to achieve.
      </div>
    </div>
    <div class="grid-column">
        <div class="info-box-icon">
            <i class="fa fa-users"></i>
        </div>
      <div class="info-box-text">
      Collaborate on generating ideas, gathering data and finding experts to write policy.
      </div>
    </div>
    <div class="grid-column">
        <div class="info-box-icon">
            <i class="fa fa-refresh"></i>
        </div>
      <div class="info-box-text">
          Work together to release and review <span class="info-box-emphasis">drafts</span> in an open and transparent way. 
      </div>
    </div>
  </section>
</div>
