<p class="welcome-introduction">Policy maker is... </p>

<a class="button" href="/create-proposal">Create proposal</a>



<!--
<p>
  {{welcome}}
</p>

<form method="post" action="twitter-login">
  <input class="button" type="submit" value="{{twitter-login}}"/>
</form>
</div>
-->