<p class="welcome-introduction">Proposal maker is...accusantium aspernatur commodi ipsam nam recusandae, ad a nobis ullam, iste dolorem dolore quod deleniti inventore officia ratione dicta similique possimus.</p>

{{^signed-in}}
<a class="button button-home-action" href="/sign-in">Sign in</a>
{{/signed-in}}
<a class="button button-home-action" href="/create-proposal">Create proposal</a>

<ul class="home-statistics">
  <li><span class="icon-drawer"></span> 1023 policies submitted</li>
  <li><span class="icon-star"></span> 2.2k Votes</li>
  <li><span class="icon-chat"></span> 1.2m Comments</li>
</ul>