<h1>Success</h1>
{{proposal-link-text}}:
<a href="{{proposal-link}}">{{proposal-link}}</a>

<h2>Share this link</h2>

<ul class="share-this">
  <li><a href="#"><span class="icon-twitter"></span> Twitter</a></li>
  <li><a href="#"><span class="icon-facebook"></span> Facebook</a></li>
  <li><a href="#"><span class="icon-googleplus"></span> google+</a></li>
  <li><a href="#"><span class="icon-tumblr"></span> Tumblr</a></li>
  <li><a href="#"><span class="icon-linkedin"></span> Linked in</a></li>
</ul>