<div id="navigation" class="navigation-wrapper large-screen-sidebar">

  <h2 class="navigation-title"><span class="visuallyhidden">${objective-nav/title}: </span><span id="clj-objective-title">{{Objective-title}}</span></h2>

  <ul class="navigation-list">
    <li>
      <a id="clj-objectives-details" href="#details" class="selected">${objective-nav/details}</a>
    </li>
    <li>
      <a id="clj-objectives-questions" href="#questions">${objective-nav/questions}</a>
    </li>
    <!--
    <li>
      <a href="#authors">Authors</a>
    </li>
    <li>
      <a href="#proposals">Proposals</a>
    </li>
    <li>
      <a href="#drafts">Drafts</a>
    </li>
    <li>
      <a href="#policy">Policy</a>
    </li>
    -->
  </ul>

</div><!-- /.navigation-wrapper -->

