<div id="clj-objective-create" >
  <h1>${objective-create/page-title}</h1>

  <div class="grid">
    <div class="grid-span-five">
      <p>${objective-create/page-intro}</p>
    </div>
    <div class="grid-span-seven last-col">
      <form method="POST" action="/objectives">
        <label for="objective-title">${objective-create/headline-label}<span class="required">*</span></label>
        <p class="label-helper">${objective-create/headline-prompt}</p>
        <input id="objective-title" name="title" type="text" pattern=".{3,}" title="${objective-create/headline-title}" maxlength="120" required placeholder="${objective-create/headline-placeholder}">

        <label for="objective-goals">${objective-create/goals-label}<span class="required">*</span></label>
        <p class="label-helper">${objective-create/goals-prompt}</p>
        <textarea id="objective-goals" name="goals" rows="5" cols="10" pattern=".{50,}" maxlength="500" title="${objective-create/goals-title}" required placeholder="${objective-create/goals-placeholder}"></textarea>

        <label for="objective-description">${objective-create/background-label}</label>
        <p class="label-helper">${objective-create/background-prompt}</p>
        <textarea id="objective-description" name="description" rows="10" cols="10" maxlength="1000" title="${objective-create/background-title}"></textarea>

        <label for="objective-end-date">${objective-create/end-date-label}<span class="required">*</span></label>
        <p class="label-helper">${objective-create/end-date-prompt}</p>
        <input id="objective-end-date" name="end-date" type="date" title="${objective-create/end-date-title}" required placeholder="${objective-create/end-date-placeholder}">

        <button type="submit" class="button">${objective-create/submit}</button>
      </form>
    </div>
  </div>

</div>