<div id="clj-objectives-detail" class="main-wrapper article-wrapper">
  <article>
    <h1 class="objective-title article-title-no-margin">{{title}}</h1>

    <div class="article-main">
      <p class="no-margin-bottom"><b>${objective-view/goals-label}</b></p>
      <ul id="clj-obj-goals-value" class="objective-article-goals">
        <li>{{goals}}</li>
      </ul>
      <p id="clj-obj-background-label"class="no-margin-bottom"><b>${objective-view/background-label}</b></p>
    </div><!-- /.article-main -->
  </article>

  <!-- GET INVOLVED
  <div class="get-involved-widget">
    <h2 class="get-involved-widget-title">Get involved</h2>
    <div class="get-involved-widget-item">
      <i class="fa fa-question-circle"></i>
      <div class="get-involved-widget-item-text">Get answers to specific issues. <a href="#questions">Add a question</a></div>
    </div>
    <div class="get-involved-widget-item">
      <i class="fa fa-user-plus"></i>
      <div class="get-involved-widget-item-text">Know somebody that can help draft policy? <a href="#authors">Invite an Author</a></div>
    </div>
    <div class="get-invloved-widget-item">
      <i class="fa fa-lightbulb-o"></i>
      <div class="get-invloved-widget-item-text">Do you have a good idea? <a href="#proposals">Submit a proposal</a></div>
    </div>
  </div>
  -->

</div><!-- /.article-wrapper -->
