<div id="clj-objective-create" >
  <h1>${objective-create/page-title}</h1>

  <div class="grid">
    <div class="grid-span-five">
      <p>${objective-create/page-intro}</p>
    </div>
    <div class="grid-span-seven last-col">
      <form method="POST" action="/objectives">
        <label class="clj-obj-title-label" for="objective-title">${objective-create/title-label}<span class="required">*</span></label>
        <input id="objective-title" class="clj-obj-title-title" name="title" type="text" pattern=".{3,}" title="${objective-create/title-title}" maxlength="120" required placeholder="${objective-create/title-placeholder}">

        <label class="clj-obj-goals-label" for="objective-goals">${objective-create/goals-label}<span class="required">*</span></label>
        <textarea id="objective-goals" class="clj-obj-goals-title" name="goals" rows="5" cols="10" pattern=".{50,}" maxlength="500" title="${objective-create/goals-title}" required placeholder="${objective-create/goals-placeholder}"></textarea>

        <label class="clj-obj-description-label" for="objective-description">${objective-create/description-label}</label>
        <textarea id="objective-description" class="clj-obj-description-title" name="description" rows="10" cols="10" maxlength="1000" title="${objective-create/description-title}"></textarea>

        <label class="clj-obj-end-date-label" for="objective-end-date">${objective-create/end-date-label}<span class="required">*</span></label>
        <input id="objective-end-date" class="clj-obj-end-date-title" name="end-date" type="date" title="${objective-create/end-date-title}" required placeholder="${objective-create/end-date-placeholder}">

        <button type="submit" class="button">${objective-create/submit}</button>
      </form>
    </div>
  </div>

</div>