<div id="clj-objectives-view">
  <h1>{{title}}</h1>

  <div class="grid">

    <div class="objective-article-details">
      <p class="no-margin-bottom"><b>${objective-view/goals-label}</b></p>
      <ul id="clj-obj-goals-value">
        <li>{{goals}}</li>
      </ul>
      <p class="no-margin-bottom"><b>${objective-view/background-label}</b></p>
      <p id="clj-obj-background-value">{{description}}</p>
      <p class="no-margin-bottom"><b>${objective-view/end-date-label}</b></p>
      <p id="clj-obj-end-date-value">{{end-date}}</p>
    </div>

    <div class="share-widget">
      <h3 class="share-widget-title">${share-widget/title}</h3>
      <ul class="share-list">
        <li>
          <a class="btn-social-icon btn-xs btn-facebook js-social-share" href="{{replaceme}}" target="_blank" title="${share-widget/facebook-title}">
            <i class="fa fa-facebook"></i>
            ${share-widget/facebook-text}
          </a>
        </li>
        <li>
          <a class="btn-social-icon btn-xs btn-google-plus js-social-share" href="{{replaceme}}" target="_blank" title="${share-widget/google-plus-title}">
            <i class="fa fa-google-plus"></i>
            ${share-widget/google-plus-text}
          </a>
        </li>
        <li>
          <a class="btn-social-icon btn-xs btn-twitter js-social-share" href="{{replaceme}}" target="_blank" title="${share-widget/twitter-title}">
            <i class="fa fa-twitter"></i>
            ${share-widget/twitter-text}
          </a>
        </li>
        <li>
          <a class="btn-social-icon btn-xs btn-linkedin js-social-share" href="{{replaceme}}" target="_blank" title="${share-widget/linkedin-title}">
            <i class="fa fa-linkedin"></i>
            ${share-widget/linkedin-text}
          </a>
        </li>
        <li>
          <a class="btn-social-icon btn-xs btn-reddit js-social-share" href="{{replaceme}}" target="_blank" title="${share-widget/reddit-title}">
            <i class="fa fa-reddit"></i>
            ${share-widget/reddit-text}
          </a>
        </li>
      </ul>
      <div class="share-this-link">
        <label class="share-this-url-label" for="link">${share-widget/url-label}</label>
        <input class="share-this-url" type="text" value="http://sharethisurl.com" title="${share-widget/url-title}" />
      </div>
    </div>

  </div><!-- /grid -->
</div>