<h1>{{page-title}}</h1>

<form id="create-objective-form" method="POST" action="/objectives">
  <label for="title">{{title-label}}*</label>
  <input id="objective-title" name="title" type="text" pattern=".{3,}" title="{{title-title}}" maxlength="120" required>

  <label for="actions">{{actions-label}}*</label>
  <textarea id="objective-actions" name="actions" rows="5" cols="10" pattern=".{50,}" maxlength="500" title="{{actions-title}}" required></textarea>

  <label for="description">{{description-label}}</label>
  <textarea id="objective-description" name="description" rows="10" cols="10" maxlength="1000" title="{{description-title}}"></textarea>
  
  <label for="end-date">{{end-date-label}}*</label>
  <input id="objective-end-date" name="end-date" type="date" title="{{end-date-title}}" required>

  <input type="submit" name="submit" class="button" value="{{submit}}"/>
</form>
