<div id="clj-objectives-list" class="main-wrapper-no-sidebar">
  <article>
  <h1>${objective-list/page-title}</h1>
  <p class="lede">${objective-list/objectives-intro-text}</p>
  <a href="objectives/create" class="button index-get-started" title="${objective-list/create-button-title}">${objective-list/create-button-text}</a>
  <h2>${objective-list/subtitle}</h2>
    <ol class="unstyled-list">
        <li class="clj-objectives-list-entry">
          <a class="objective-item clj-objective-link" href="{{Link to objective}}">
            <h3 class="objective-item-title clj-objective-title">{{Objective Title Goes Here}}</h3>
            <p class="helper-text">
              ${objective-list/drafting-begins}
              <span class="inline-date clj-objective-end-date">{{Objective End Date}}</span></p>
            <p class="preview-text clj-objective-brief-description">{{First few words of the objective description}}</p>
          </a>
        </li>
    </ol>
  </article>
</div>
