{{! TODO: Only show if redirected}}
<p>
  {{sign-in-required-message}}
</p>

<h1>Sign in</h1>

<form method="post" action="twitter-sign-in">
  <input type="submit" class="button" value="{{twitter-sign-in}}"/>
</form>

