<div id="clj-users-email" class="main-wrapper-no-sidebar">

  <h1>${users-email/page-title}</h1>
  <p>${users-email/user-email-welcome}</p>
  <form id="create-objective-form" method="POST" action="/sign-up">
    <label class="clj-users-email-label" for="email-address">${users-email/email-label}</label>
    <input id="email-address" class="clj-users-email-title" name="email-address" type="email" title="${users-email/email-title}" required>

    <button type="submit" class="button">${users-email/button}</button>
  </form>

</div>
