<div>
  <h1>dCent Project</h1>
  <div id="view-proposal">
    <ul>
      <li>
        <span>{{title-label}}</span>
        <span>{{title}}</span>
      </li>
      <li>
        <span>{{description-label}}</span>
        <div>{{description}}</div>
      </li>
      <li>
        <span>{{objectives-label}}</span>
        <div>{{objectives}}</div>
      </li>
    </ul>
  </div>
</div>
