.index-hero {
  max-width: $max_content_width;
  margin: 0 auto;
  text-align: center;
  @include mq(720) {
    padding-top: 2em;
    text-align: left;
  }
}

.index-welcome {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -1px;
  margin-bottom: 0.3em;
  @include mq(720) {
    font-size: 46px;
  }
}

.index-intro {
  color: $grey-1;
  @include mq(720) {
    font-size: 21px;
  }
}