%objective-section {
  margin-bottom: 2em;
  @include mq(321) {
    margin-bottom: 4em;
  }
}

.objective-outline {
  @extend %objective-section;
  position: relative;
  color: $default_text_color;
}

.objective-title {
  margin-top: 0;
  line-height: 1.2;
  font-family: $sans-serif;
  letter-spacing: -0.025em;
  @include word_wrap;
  @include mq(768) {
    font-size: 2.6em;
  }
}

.objective-detail {
  @include word_wrap;
}

.objective-title-label {
  display: block;
  margin-bottom: 0.2em;
  letter-spacing: normal;
  font-weight: normal;
  font-size: 60%;
}

.objective-writers {
  @extend %objective-section;
}

.objective-questions {
  @extend %objective-section;
}

.objective-questions-guidance {
  @extend %objective-section;
  background-color: $green1;
  color: $white;
}
.objective-questions-guidance-title {
  line-height: 1.2;
  margin-bottom: 0;
  padding: 0.75em 1em;
  background-color: $green2;
}
.objective-questions-guidance-list {
  @include unstyledList();
  padding: 1em;
  font-size: 1.2em;
}
.objective-questions-guidance-list-item {
  margin-bottom: 0.5em;
}

.objective-comments {
  @extend %objective-section;
}


.objective-outline-header {
  position: relative;
  padding-top: 1.6em;
  margin-top: 0.6em;
  border-top: 2px solid $default_text_color;
  @include mq(768) {
    padding-top: 0;
    margin-top: 0;
    border-top: 0;
  }
}
.objective-star-container {
  position: absolute;
  top: -43px;
  width: 31px;
  perspective: 1000px;
  @include mq(768) {
    top: 9px;
    left: -45px;
  }
}
.objective-star {
  @include star(31px,1.5em);
  height: 34px;
  line-height: 34px;
  border: none;
  background: transparent;
  @include mq(768) {
    font-size: 2em;
  }
}

.days-left {
  margin-bottom: 0;
  text-align: right;
  @include mq(768) {
    float: right;
    width: 165px;
    margin-bottom: 1em;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 7px solid $default_text_color;
    text-transform: uppercase;
    text-align: center;
  }
  span {
//    margin-right: 0.25em; // if spaces are stripped...
    @include mq(768) {
      margin-right: 0;
      display: block;
    }
  }
}
.days-left-head {

}
.days-left-day {
  font-weight: 700;
  font-size: 120%;
  @include mq(768) {
    line-height: 1;
    font-size: 5em;
  }
}
.days-left-foot {
  font-weight: 700;
  @include mq(768) {
    font-size: 2em;
  }
}


// modal invite

.invite-by-email {
  font-weight: normal;
  font-size: 1.4em;
  margin-bottom: 2em;
}

.alternative-invite {
  border-top: 1px solid $grey-2;
  padding-top: 2em;
}

.invite-input-url {
  border-color: $grey-3;
}

.send-invite-label {
  font-weight: normal;
}
