%objective-section {
  margin-bottom: 2em;
  @include mq(321) {
    margin-bottom: 4em;
  }
}

.objective-outline {
  @extend %objective-section;
  color: $default_text_color;
}

.objective-writers {
  @extend %objective-section;
}

.objective-questions {
  @extend %objective-section;
}

.objective-comments {
  @extend %objective-section;
}


.days-left {
  text-align: center;
  text-transform: uppercase;
  span {
    display: block;
  }
}
.days-left-day {
  line-height: 1;
  font-size: 5em;
  font-weight: 700;
}