.index-hero {
  max-width: 45em;
  padding: 1em;
  margin: 0 auto;
  min-height: 30em;
  @include mq(720) {
    padding: 6.5em 1em;
    min-height: 40em;
  }
}

.index-welcome {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -1px;
  margin-bottom: 0.3em;
  @include mq(720) {
    font-size: 46px;
  }
}

.index-intro {
  color: $grey-1;
  @include mq(720) {
    font-size: 21px;
  }
}