/*

Dashboard comment item

*/

.dashboard-comment-list {
  @extend %list-item-container;
  margin-top: 1em;
  padding-top: 1em;
}

.dashboard-comment-item {
  font-size: 1.1em;
  padding: 2em 0;
  border-top: 1px solid $border_color;
  border-bottom: 1px solid $border_color;
}

.dashboard-comment-meta {
  @extend %list-item-meta;
}

.dashboard-comment-author {
  @extend %list-item-author;
}

.dashboard-comment-date {
  @extend %list-item-date;
}

.dashboard-comment-text {
  @extend %list-item-text;
  color: $black;
}

.dashboard-vote-view {
  padding-right: 0.5em;
}

.dashboard-vote-count {
  min-width: 1.5em;
  padding-right: 0;
  text-align: left;
}

.dashboard-comment-actions {
  @extend .list-item-actions;
}
