/*

Dashboard annotation item

*/

.dashboard-annotation-section-list {
  @extend %list-item-container;
  padding-left: 1.5em;
  margin-left: 1em;
  border-left: solid 3px $green1;
}

.dashboard-annotation-list {
  @extend %list-item-container;
}

.dashboard-annotation-item {
  padding: 0.75em 0;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border-bottom: 1px solid $border_color;
  }
}

.dashboard-annotation-meta {
  @extend %list-item-meta;
}

.dashboard-annotation-author {
  @extend %list-item-author;
}

.dashboard-annotation-date {
  @extend %list-item-date;
}

.dashboard-annotation-text {
  @include word_wrap;
  @extend %list-item-text;
  color: $default_text_color;
}

.dashboard-annotation-actions {
  @extend .list-item-actions;
  margin-bottom: 0.5em;
  font-size: 1em;
}

.dashboard-annotation-section {
  padding-left: 1em;
  margin-bottom: 2em;
}

.dashboard-annotation-section-item {
  &:not(:first-child) {
    padding-top: 2em;
  }
}
