.writer-dashboard-navigation-title {
  height: 60px;
  font-weight: 400;
  line-height: 60px;
  margin-top: 0;
  margin-bottom: 1em;
  padding-left: 16px;
  border-bottom: 5px solid $color2_light;
}

.writer-dashboard-navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  @include mq(640) {
    height: 480px;
    overflow-y: auto;
  }
}

.writer-dashboard-navigation-item {
  @include word_wrap;
  border-bottom: 1px solid $grey-4;
  &.on {
    background: $grey-4;
    cursor: pointer;
    pointer-events: none;
    i {
      display: block;
    }
    a {
      color: $default_text_color;
    }
  }
}

%writer-dashboard-navigation-item {
  position: relative;
  display: block;
  line-height: 1.3;
  padding: 16px 77px 16px 16px;
  text-decoration: none;
}

.writer-dashboard-navigation-item-content {
  @extend %writer-dashboard-navigation-item
}

.writer-dashboard-navigation-item-link {
  @extend %writer-dashboard-navigation-item;
  &:visited, & {
    color: $grey-1;
  }
  &:hover {
    color: $default_text_color;
    background: $grey-5;
    text-decoration: none;
  }
  i {
    display: none;
    @include vertical-middle-me();
    right: 16px;
  }
}

.writer-dashboard-navigation-item-link-count {
  @include vertical-middle-me();
  width: 45px;
  right: 32px;
  text-align: right;
  font-size: 14px;
}

.writer-dashboard-navigation-menu {
  position: relative;
  overflow: hidden;
  width: 100%;
  font-weight: 300;
  font-size: 1.25em;
}

.writer-dashboard-navigation-menu-list {
  @include cf;
  display: table;
  width: 100%;
  position: relative;
  margin-top: 0;
  padding: 0;
  list-style: none;
  border-left: 1px solid rgba(40,44,42,0.1);
  border-bottom: 1px solid rgba(40,44,42,0.1);
  @include mq(640) {
    display: block;
  }
}

.writer-dashboard-navigation-menu-list-item {
  position: relative;
  display: table-cell;
  border-top: 1px solid rgba(40,44,42,0.1);
  border-right: 1px solid rgba(40,44,42,0.1);
  border-bottom: 1px solid transparent;
  z-index: 1;
  margin: 0 0 -1px 0;
  text-align: left;
  @include mq(640) {
    float: left;
  }
  &.on {
    box-shadow: inset 0 3px 0 $color2_light;
    border-bottom: 1px solid $white;
    a {
      color: $color2_light;
      &:hover{
        background: none;
      }
    }
  }
}

.writer-dashboard-navigation-menu-nav a {
  display: block;
  position: relative;
  padding: 0.5em;
  text-decoration: none;
  color: #74777b;
  line-height: 1.5;
  transition: color 0.2s;
  text-align: center;
  font-size: 80%;
  @include mq(640) {
    padding-left: 1em;
    padding-right: 1em;
    text-align: left;
    font-size: 100%;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    color: $color2_light;
    box-shadow: inset 0 3px 0 rgba($color2_light, 0.1);
  }
  span {
    display: block;
    @include text_truncate;
  }
}

.writer-dashboard-comments-pagination {
  @include cf;
  margin-bottom: 1em;
}

.comments-navigation-controls {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline-block;
  float: right;

  li {
    display: inline-block;
  }

  a {
    display: block;
    font-weight: 100;
    color: $default_text_color;
    text-decoration: none;
    &:hover {
      color: $color2_light;
    }
  }

}

.comments-navigation-item {
  &.disabled {
    a {
      pointer-events: none;
      color: $grey-2;
    }
  }
}

.comments-navigation-text {
  @include visuallyhidden;
  @include mq(480) {
    @include revert-visuallyhidden;
  }
}

$comments_navigation_icon_spacer: 0.4em;

.comments-navigation-previous {
  margin-right: 1em;
  i {
    margin-right: $comments_navigation_icon_spacer;
  }
}

.comments-navigation-next {
  i {
    margin-left: $comments_navigation_icon_spacer;
  }
}