.writer-dashboard-filter-list {
  display: table;
  width: 100%;
  border: 1px solid $grey-3;
  height: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.writer-dashboard-filter-list-item {
  display: table-cell;
  border-right: 1px solid $grey-3;
  &:last-child {
    border-right: none;
  }
}
.writer-dashboard-filter-list-item-button {
  display: block;
  padding: 1em;
  text-align: center;
  border-bottom: 5px solid transparent;
  &:visited, & {
    color: $default_text_color;
  }
  &:hover {
    text-decoration: none;
    color: $pink;
    border-color: rgba($pink,0.1);
  }
  &.on {
    cursor: pointer;
    pointer-events: none;
    border-bottom-color: $pink;
  }
}