extends ../layouts/base
include ../mixins/_view_helpers

block vars
  - bodyClass = "objective"
  - pageTitle = "!Share question modal"

block content
  .middle-container.clj-share-question-modal
    article
      h1(data-l8n="content:share-question-modal/heading") !Question created
      p.lede
        span(data-l8n="content:share-question-modal/helper-text") !Share your question to increase the number of answers.
      p.modal-share-question-text
        em.clj-question-text.func--share-question-modal-text !How can we increase the number of people cycling in Soho?
      p.share-box
        ul.modal-share-list
          +shareIcon("fa-reddit-square", "reddit")
          +shareIcon("fa-facebook-square", "facebook")
          +shareIcon("fa-google-plus-square", "google-plus")
          +shareIcon("fa-twitter-square", "twitter")
          +shareIcon("fa-linkedin-square", "linked-in")
      .share-by-url
        label.share-by-url-label(for="copy-url", data-l8n="content:share-question-modal/share-by-url-label") !Share this link:
        input.share-by-url-text-input.clj-share-by-url-text-input(type="text", value="!url-for-question")