<div id="clj-draft-detail-content" class="main-wrapper-no-sidebar">
  <article class="no-drafts">${draft-detail/no-drafts}
  <p><a href="/" title="#{draft-detail/add-a-draft}">${draft-detail/add-a-draft}</a></p>
  </article>
  <a class="clj-add-a-draft button" href="/" title="${draft-detail/add-a-draft}">${draft-detail/add-a-draft}</a>
  <a class="clj-previous-draft button" href="/" title="${draft-detail/previous-draft}">${draft-detail/previous-draft}</a>
  <a class="clj-next-draft button" href="/" title="${draft-detail/next-draft}">${draft-detail/next-draft}</a>
</div>
