<div id="clj-edit-draft" class="main-wrapper article-wrapper">
  <article id="clj-edit-draft-preview"></article>
  <form id="clj-edit-draft-form" action="{{/objectives/:id/edit-draft}}" method="POST">
    <textarea id="clj-edit-draft-content" name="content"></textarea>
    <button id="clj-edit-draft-preview-button" type="submit" class="button" name="action" value="preview">${edit-draft/preview}</button>
    <button id="clj-edit-draft-submit-button" type="submit" class="button" name="action" value="submit">${edit-draft/submit}</button>
  </form>
</div>
