.grid-container
  section
    .grid-column
      .info-box-icon
        i.fa.fa-lightbulb-o
      .info-box-text
        | Create an
        =" "
        span.info-box-emphasis objective
        |  to describe the change you want to achieve.
    .grid-column
        span.info-box-emphasis objective
        |  to describe the change you want to achieve.
      .info-box-icon
        i.fa.fa-users
      .info-box-text
        | Collaborate on generating ideas, gathering data and finding experts to write policy.
    .grid-column
      .info-box-icon
        i.fa.fa-refresh
      .info-box-text
        | Work together to release and review
        =" "
        span.info-box-emphasis drafts
        |  in an open and transparent way.
