.navigation-wrapper.large-screen-sidebar#navigation

  h2.navigation-title
    span.visuallyhidden ${objective-nav/title}: 
    span#clj-objective-title  {{Objective-title}}

  ul.navigation-list
    li
      a.selected#clj-objectives-details(href="#details") ${objective-nav/details}
    li
      a#clj-objectives-questions(href="#questions") ${objective-nav/questions}
    //li
    //  a(href="#authors") Authors
    //li
    //  a(href="#proposals") Proposals
    //li
    //  a(href="#drafts") Drafts
    //li
    //  a(href="#policy") Policy