extends ../layouts/base
include ../mixins/_view_helpers

block vars
  - bodyClass = "objective"
  - pageTitle = "Question"

block content
  .middle-container

    h1.draft-title Build safer cycling networks in the streets of Madrid.

    +guidanceText('What makes a good question?')
      ul
        li It gathers information to support the objective or policy
        li Starts a good conversation

    +addQuestionForm()
