extends layouts/base

block vars
  - pageTitle = "!404"

block content

  .middle-container.clj-error-404
    h1(data-l8n="content:error-404/page-title").l8n-error404-page-title !Uh oh
    p(data-l8n="content:error-404/page-intro").lede.l8n-error404-page-intro
    div.clj-error-404-content(data-l8n="html:error-404/page-content")
      p !Content
