extends layouts/base

block vars
  - pageTitle = "!404"

block content

  .middle-container.clj-error-404
    h1.l8n-error404-page-title !Uh oh
    p.lede.l8n-error404-page-intro
    .clj-error-404-content
      p !Content
