extends layouts/base

block vars
  - pageTitle = "Site pages"

block content

  h2 Playground
  ul
    li
      a(href="/playground/editor") editor
    li
      a(href="/playground/policy") policy

  h2 Objective
  ul
    li
      a(href="/create-objective") create-objective
    li
      a(href="/objective-list") objective-list
    li
      a(href="/objective") objective
    li
      a(href="/invite-writer") invite-writer
    li
      a(href="/objective-invitation-response") objective-invitation-response
    li
      a(href="/modals/share-question-modal") share-question-modal
    li
      a(href="/modals/share-objective-modal") share-objective-modal

  h2 Questions
  ul
    li
      a(href="/question") question
    li
      a(href="/add-question") add-question

  h2 Draft
  ul
    li
      a(href="/import-draft") import-draft
    li
      a(href="/draft-blank") draft-blank
    li
      a(href="/draft-list") draft-list
    li
      a(href="/draft-section") draft section
    li
      a(href="/draft-diff") draft diff
    li
      a(href="/draft") draft

  h2 Writer tools
  ul
    li
      a(href="/questions-dashboard") questions dashboard
    li
      a(href="/comments-dashboard") comments dashboard

  h2 Sign in
  ul
    li
      a(href="/sign-in") sign-in
    li
      a(href="/sign-up") sign-up

  h2 Misc
  ul
    li
      a(href="/index") index
    li
      a(href="/error-404") error-404
    li
      a(href="/learn-more") learn-more
    li
      a(href="/profile") profile
    li
      a(href="/project-status") project-status
    li
      a(href="/admin-removal-confirmation") admin-removal-confirmation
    li
      a(href="/admin-activity") admin-activity

  h2 Page furniture
  ul
    li
      a(href="/library") library
