extends layouts/base
include mixins/_view_helpers

block vars
  - pageTitle = "!Admin activity | Objective[8]"

block content
  .middle-container

    h1(data-l8n="content:admin-activity/page-title") !Admin activity

    .admin-activity
      h2(data-l8n="content:admin-activity/subtitle") !The following content has been removed
      ol.unstyled-list.clj-admin-removals-list
        li.admin-removal-list-item.clj-admin-removals-list-item
          p.admin-removal-list-item-uri.clj-admin-removal-uri !objectives/id
          p.clj-admin-removal-time !2015-05-01
