extends ./layouts/base
include ./mixins/_view_helpers

block vars
  - htmlClass = "html-writer-dashboard"
  - bodyClass = ""
  - pageTitle = "! Writer dashboard"

block content

  .writer-dashboard
    +writerDashboardHeader

    .writer-dashboard-body
      .writer-dashboard-navigation-menu
        nav.writer-dashboard-navigation-menu-nav
          ul.writer-dashboard-navigation-menu-list
            li.writer-dashboard-navigation-menu-list-item
              a.clj-writer-dashboard-navigation-questions-link(href="#")
                span(data-l8n="content:writer-dashboard/questions-navigation-title") !Questions
            li.writer-dashboard-navigation-menu-list-item
              a.clj-writer-dashboard-navigation-comments-link(href="#")
                span(data-l8n="content:writer-dashboard/comments-navigation-title") !Comments
            li.writer-dashboard-navigation-menu-list-item.on
              a.clj-writer-dashboard-navigation-annotations-link(href="#")
                span(data-l8n="content:writer-dashboard/annotations-navigation-title") !Annotations
            li.writer-dashboard-navigation-menu-list-item
              span &nbsp;

      .writer-dashboard-navigation
        ul.writer-dashboard-navigation-list.clj-dashboard-navigation-list
          +dashboardNavigationItem(1827, 'on')
            | !Latest draft
          +dashboardNavigationItem(999)
            | !2015-05-10
          +dashboardNavigationItem(210)
            | !2015-05-02
          +dashboardNavigationItem(40)
            | !2015-05-01
          +dashboardNavigationItem(999)
            | !2015-05-10
          +dashboardNavigationItem(210)
            | !2015-05-02
          +dashboardNavigationItem(40)
            | !2015-05-01
          +dashboardNavigationItem(999)
            | !2015-05-10
          +dashboardNavigationItem(210)
            | !2015-05-02
          +dashboardNavigationItem(40)
            | !2015-05-01
          +dashboardNavigationItem(999)
            | !2015-05-10
          +dashboardNavigationItem(210)
            | !2015-05-02
          +dashboardNavigationItem(40)
            | !2015-05-01
          +dashboardNavigationItem(999)
            | !2015-05-10
          +dashboardNavigationItem(210)
            | !2015-05-02
          +dashboardNavigationItem(40)
            | !2015-05-01

      .writer-dashboard-content-container#dashboard-content
        ul.writer-dashboard-filter-list.clj-dashboard-filter-list
          li.writer-dashboard-filter-list-item
            a.writer-dashboard-filter-list-item-button.clj-dashboard-filter-up-votes(href="#")
              i.fa.fa-angle-up
          li.writer-dashboard-filter-list-item
            a.writer-dashboard-filter-list-item-button.clj-dashboard-filter-down-votes(href="#")
              i.fa.fa-angle-down
          li.writer-dashboard-filter-list-item
            a.writer-dashboard-filter-list-item-button.clj-dashboard-filter-paper-clip(href="#")
              i.fa.fa-paperclip

        .writer-dashboard-content.clj-dashboard-content
          ul.dashboard-annotation-list.clj-dashboard-annotation-list
            li.dashboard-annotation-section-item.clj-dashboard-annotation-section-list-item
              section.dashboard-annotation-section.clj-dashboard-annotation-section
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dolor eros, blandit nec consectetur eu, porttitor id odio. Integer imperdiet viverra mauris, at sollicitudin urna mattis at. Duis ex sem, auctor eget elit eget, tristique elementum ipsum. Aenean condimentum eros nec justo ullamcorper cursus. Donec ac mauris vel purus dignissim convallis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam ex quam, consectetur eu metus et, congue sagittis sapien. Cras consectetur augue felis, quis fringilla sapien tincidunt vitae. Nam sit amet posuere elit, a tincidunt lectus. Aliquam convallis, dui id varius scelerisque, dui massa fermentum sapien, sed eleifend ligula dolor non metus. Vestibulum volutpat tortor nec pulvinar molestie. In quis augue at ex euismod venenatis. Suspendisse quis est eu est pellentesque convallis et eu justo. Proin interdum quam vitae dapibus dictum. Duis et turpis quis nisl sodales tincidunt eget vel orci. Phasellus ultricies nec ligula vitae posuere.
              ul.dashboard-annotation-section-list.clj-dashboard-annotation-section-list
                +dashboardAnnotationItem('Chris Linseman', '28 April 2015 07:41')
                  | This is a one line commment about the content
                +dashboardAnnotationItem('Chris Linseman', '28 April 2015 07:41')
                  | This is a one line commment about the content
                +dashboardAnnotationItem('Chris Linseman', '28 April 2015 07:41')
                  | This is a one line commment about the content
            li.dashboard-annotation-section-item.clj-dashboard-annotation-section-list-item
              section.dashboard-annotation-section
                p
                  |A second bunch of text that takes up a lot of space
              ul.dashboard-annotation-section-list
                +dashboardAnnotationItem('Chris Linseman', '28 April 2015 07:41')
                  | This is a one line commment about the content
                +dashboardAnnotationItem('Chris Linseman', '28 April 2015 07:41')
                  | This is a one line commment about the content
                +dashboardAnnotationItem('Chris Linseman', '28 April 2015 07:41')
                  | This is a one line commment about the content

block pageFooter
  //- This kills the footer

block footerScripts
