extends layouts/base
include mixins/_view_helpers

block vars
  - bodyClass = ""
  - pageTitle = "!Create profile | Objective[8]"

block content

  .middle-container
    h1.create-profile-title(data-l8n="content:create-profile/page-title") !Create your writer profile
    p.lede(data-l8n="content:create-profile/profile-intro") !Your profile is open for everyone to read.  You should talk about your writing experience. Include your areas of policy expertise.
    form.create-profile-form.clj-create-profile-form(action="/create-profile" method="POST")
      fieldset.create-profile-fields
        p.form-field
          label.form-field-label(for="name")
            span.form-field-label-title(data-l8n="content:create-profile/name-label") !Name
            input.clj-create-profile-name.func--name(id="name", name="name", type="text", maxlength="50", required="required")
            span.user-input-error-message.clj-name-length-error(data-l8n="content:create-profile/name-length-validation-message") !The name can have at most 50 characters
            span.user-input-error-message.clj-name-empty-error(data-l8n="content:create-profile/name-empty-validation-message") !The name cannot be empty
        p.form-field
          label.form-field-label(for="biography")
            span.form-field-label-title(data-l8n="content:create-profile/biography") !Biography
            textarea.clj-create-profile-biog.func--biog(id="biog", name="biog", type="text", required="required")
            span.user-input-error-message.clj-biog-length-error(data-l8n="content:create-profile/biog-length-validation-message") !The biography can have at most 5000 characters
            span.user-input-error-message.clj-biog-empty-error(data-l8n="content:create-profile/biog-empty-validation-message") !The biography cannot be empty
      button.button(type="submit", data-l8n="content:create-profile/button") !Create profile
