extends layouts/base
include mixins/_view_helpers

block vars
  - bodyClass = ""
  - pageTitle = "! Create Objective"

block content

  .middle-container

    h1#page-title(data-l8n="content:create-objective/page-title") !Create objective
    .inline-guidance
      ul.inline-guidance-list
        li.inline-guidance-list-item(data-l8n="content:create-objective-guidance/item-1") !An objective is a change that could be achieved by introducing new policy. For example: improving access to public housing, or increasing the safety of our roads.
        li.inline-guidance-list-item(data-l8n="content:create-objective-guidance/item-2") !Share your objective to encourage collaboration.

    form.clj-create-objective-form(method="POST", action="/objectives")
      p.form-field
        label.form-field-label(for="objective-title")
          span.form-field-label-title#objective-title-label-title(data-l8n="content:create-objective/headline") !Headline
          = " "
          span.required *
          span.label-helper#objective-title-description(data-l8n="content:create-objective/headline-prompt") !A headline should encourage contribution or discussion
          input.clj-input-objective-title.func--input-objective-title(id="objective-title", name="title", type="text", aria-labelledby="objective-title-label-title", aria-describedby="objective-title-description")
          span.user-input-error-message.clj-title-length-error.func--objective-title-error(data-l8n="content:create-objective/title-length-validation-message") !The objective title must be between 3 and 120 characters


      p.form-field
        label.form-field-label(for="objective-description")
          span.form-field-label-title#objective-background-label-title(data-l8n="content:create-objective/background") !Background
          span.label-helper#objective-background-description(data-l8n="content:create-objective/background-prompt") !Provide further information on why achieving this objective is important or necessary
          textarea.clj-input-objective-background.func--input-objective-background(id="objective-description", name="description", rows="10", cols="10", aria-labelledby="objective-background-label-title", aria-describedby="objective-background-description")
          span.user-input-error-message.clj-description-empty-error(data-l8n="content:create-objective/description-empty-validation-message") !Please enter a description for your objective
          span.user-input-error-message.clj-description-length-error(data-l8n="content:create-objective/description-length-validation-message") !The objective description can have at most 5000 characters

      button.button.clj-create-objective.func--create-objective(type="submit", aria-describedby="page-title", data-l8n="content:create-objective/submit-text") !Create
