extends layouts/base
include mixins/_view_helpers

block vars
  - bodyClass = ""
  - pageTitle = "! Create Objective"

block content

  .guidance-text-wrapper
    +guidanceText('!Creating an objective')
      ul
        li.l8n-guidance-1(data-l8n="content:create-objective-guidance/item-1") !An objective is a change that could be achieved by introducing new policy. For example: improving access to public housing, or increasing the safety of our roads.
        li.l8n-guidance-2(data-l8n="content:create-objective-guidance/item-2") !Your objective has just 30 days until it's transformed into a working draft.
        li.l8n-guidance-3(data-l8n="content:create-objective-guidance/item-3") !Share your objective to encourage collaboration.

  .middle-container

    h1.l8n-create-objective-title(data-l8n="content:create-objective/page-title") !Create objective
    form.clj-create-objective-form(method="POST", action="/objectives")
      label(for="objective-title")
        span.l8n-objective-title(data-l8n="content:create-objective/headline") !Headline
        = " "
        span.required *
      p.label-helper.l8n-objective-title-helper(data-l8n="content:create-objective/headline-prompt") !A headline should encourage contribution or discussion
      input.clj-input-objective-title.func--input-objective-title(id="objective-title", name="title", type="text", pattern=".{3,}", maxlength="120", required="required")

      label(for="objective-goals")
        span.l8n-objective-goals-title(data-l8n="content:create-objective/goals") !Goals
        = " "
        span.required *
      p.label-helper.l8n-objective-goals-helper(data-l8n="content:create-objective/goals-prompt") !A goal is what you’d like your change to achieve
      input.clj-input-objective-goal-1.func--input-objective-goal-1(id="objective-goals", name="goal-1", type="text", pattern=".{3,}", required="required")

      label.visuallyhidden.l8n-objective-goal-2(for="objective-goals-2", data-l8n="content:create-objective/goal-2") !Goal 2
      input.clj-input-objective-goal-2.func--input-objective-goal-2(id="objective-goals-2", name="goal-2", type="text", pattern=".{3,}")

      label.visuallyhidden.l8n-objective-goal-3(for="objective-goals-3", data-l8n="content:create-objective/goal-3") !Goal 3
      input.clj-input-objective-goal-3.func--input-objective-goal-3(id="objective-goals-3", name="goal-3", type="text", pattern=".{3,}")

      label(for="objective-description")
        span.l8n-objective-background(data-l8n="content:create-objective/background") !Background
      p.label-helper.l8n-objective-background-helper(data-l8n="content:create-objective/background-prompt") !Provide further information on why achieving this objective is important or necessary
      textarea.clj-input-objective-background.func--input-objective-background(id="objective-description", name="description", rows="10", cols="10", maxlength="5000")

      //label(for="objective-end-date") !Drafting start date
      //  span.required *
      //p.label-helper !On this date, the drafting phase begins. You should give participants enough time to generate useful information, and to recruit and vote for potential policy writers.
      //input(id="objective-end-date", name="end-date", type="date", placeholder="!yyyy-mm-dd", required="required")

      button.button.clj-create-objective.l8n-create-objective-submit.func--create-objective(type="submit", data-l8n="content:create-objective/submit-text") !Create
