extends layouts/base
include mixins/_view_helpers

block vars
  - bodyClass = "draft"
  - pageTitle = "Draft"

mixin addCommentButton()
  .draft-add-inline-comment
    a(href="#", title="Add a comment")
      i.fa.fa-plus-square-o.fa-lg
      | Add comment
  block

block content
  .guidance-text-wrapper
    +guidanceText('What is a draft?','content:draft-guidance/heading')
      ul
        li Drafts are versions of the policy as it is being written.
        li Drafts are crafted by the writers that have been nominated for an objective.
        li Everyone can comment and make suggestions.

  .middle-container

    ul.progress-indicator
      li.complete
        a(href="/objective") Objective
      li.on
        a(href="/draft") Draft
      li
        a(href="#") Policy

    .draft-preview-document
      h1.draft-title Build safer cycling networks in the streets of Madrid.
      .no-draft-version
        | There are no drafts yet.
      a.button(href="/draft") Begin draft one

    .draft-writers
      h2 Writers
      ul.writer-item-list.clj-writer-item-list
        +writerItem('!Jenny Bloggs', '#', 'http://placekitten.com/g/80/80')
          | !A cycling enthusiast, responsible for many safety policies in the UK.
        +writerItem('!Boris Johnson', '#', 'http://placekitten.com/g/81/81')
          | !Quirky but has achieved wonders in the London for the boris bikes.
        +writerItem('!Bob Smith', '#', '')
          | !Interested in anything to do with cycling and Spain.


    .draft-comments
      h2 Comments
      ol.comment-list
        li Be the first to comment on this draft.
      a.button(href="#") Add a comment


block footerScripts
  script.
    $('a').on('click',function(e) {
      //e.preventDefault();
    });