extends layouts/base
include mixins/_view_helpers

block vars
  //- bodyClass = "objective"
  - pageTitle = "!Comments on draft"

block content

  .middle-container
    .objective-navigation-wrapper
      .objective-comments-navigation
        .objective-navigation-breadcrumb
          span.breadcrumb-ellipsis
            a.clj-objective-link(href="!objective") !Objective title
            =" "
            | >
            =" "
            a.clj-draft-link(href="!draft") !Draft
            =" "
            | >
            =" "
            span(data-l8n="content:breadcrumb/draft-comments-text") !Comment history

    .draft-comments#comments
      ol.comment-list.clj-comment-list
        +commentItem('Phil Smith', '2 September 2015 07:41')
          p !Oooh Paseo del Prado.
        +commentItem('Jen Bloggs', '1 September 2015 07:41')
          p !Paseo del Prado.
        li.page-links.clj-comments-navigation
          a.previous-page-link.clj-previous-page(href="!/previous/page")
            i.fa.fa-arrow-left
            =" "
            span(data-l8n="content:comments-navigation/previous") !Previous
          a.next-page-link.clj-next-page(href="!next/page")
            span(data-l8n="content:comments-navigation/next") !Next
            =" "
            i.fa.fa-arrow-right
