extends layouts/base
include mixins/_view_helpers

block vars
  - bodyClass = "draft"
  - pageTitle = "Draft"

block content
  .guidance-text-wrapper
    +guidanceText('!What is a draft?','content:draft-guidance/heading')
      ul
        li(data-l8n="content:draft-guidance/text-line-1") !Drafts are versions of the policy as it is being written.
        li(data-l8n="content:draft-guidance/text-line-2") !Drafts are crafted by the writers that have been nominated for an objective.
        li(data-l8n="content:draft-guidance/text-line-3") !Everyone can comment and make suggestions.

  .middle-container

    //ul.progress-indicator
    //  li.complete
    //    a(href="/objective") Objective
    //  li.on
    //    a(href="/draft") Draft
    //  li
    //    a(href="#") Policy
    //
    //ul.draft-tabs
    //  li
    //    a(href="#") Edit
    //  li.on
    //    a(href="#") Preview

    .clj-draft-wrapper

      .draft-version-navigation.clj-draft-version-navigation
        .draft-version-navigation-content-wrapper
          .draft-version-navigation-content
            +draftVersionNavigationWriter('!Jenny Bloggs', '#', '')
              | !Drafted 5 days ago


        
            ul.draft-version-navigation-content-controls
              li.draft-version-navigation-previous.clj-draft-version-navigation-previous
                a.clj-draft-version-previous-link.func--draft-version-previous-link(href="#")
                  i.fa.fa-angle-left
                  span.draft-version-navigation-text(data-l8n="content:draft/previous-draft") !Previous
              li.draft-version-navigation-next.clj-draft-version-navigation-next
                a.clj-draft-version-next-link.func--draft-version-next-link(href="#")
                  span.draft-version-navigation-text(data-l8n="content:draft/next-draft") !Next
                  i.fa.fa-angle-right


      .add-a-draft-wrapper
        a.button.add-a-draft.clj-add-a-draft.func--add-a-draft(href="/objective/:id/add-draft", data-l8n="content:draft/add-a-draft") !Add a draft
        a.button.js-import-draft-link.js-hidden.clj-import-draft(href="/objective/:id/import-draft", data-l8n="content:draft/import-draft") !Import a draft from Google Drive
      
      .draft-preview-document.clj-draft-preview-document
        h1.draft-title !Build safer cycling networks in the streets of Madrid.
        p.lede London and Paris are two prime examples of cycle super highway heaven.  We need to show the world that madrid too can be the pinnacle in cycling and safety.
        +addCommentButton
          p Street art bitters pour-over, Portland pork belly master cleanse lumbersexual. Aesthetic 90's Shoreditch PBR. Austin sustainable Carles American Apparel, banh mi High Life selvage XOXO plaid stumptown fashion axe skateboard butcher McSweeney's. Master cleanse polaroid Shoreditch DIY, Godard salvia gastropub heirloom Kickstarter fap before they sold out chia. Disrupt Neutra tofu Godard kitsch. Chambray Helvetica plaid chia salvia. Cronut asymmetrical messenger bag, cornhole listicle selvage yr beard Godard stumptown meh sustainable.
        +addCommentButton
          p Deep v heirloom Echo Park, drinking vinegar meggings jean shorts biodiesel hoodie keytar mlkshk food truck. Kogi bitters lo-fi, keffiyeh vegan squid heirloom. Sustainable sriracha Etsy, PBR trust fund quinoa tofu Shoreditch pour-over keffiyeh meggings keytar. YOLO beard sustainable meh, semiotics Williamsburg post-ironic. Cray salvia mixtape Wes Anderson Banksy heirloom pork belly locavore retro migas. DIY fingerstache wolf master cleanse. Lumbersexual XOXO semiotics High Life, Schlitz farm-to-table biodiesel ugh jean shorts twee butcher photo booth trust fund sustainable try-hard.
        +addCommentButton
          p Mixtape Tumblr McSweeney's, fap keffiyeh whatever hoodie kale chips. Mustache pug four dollar toast slow-carb iPhone, forage twee kogi Intelligentsia heirloom hoodie pour-over. Roof party bicycle rights dreamcatcher, before they sold out kale chips 90's McSweeney's Helvetica wolf swag post-ironic bitters. Beard wolf cliche, PBR slow-carb cronut authentic Brooklyn tote bag heirloom fingerstache. Cardigan irony lumbersexual forage health goth lomo organic, stumptown letterpress chillwave. Truffaut photo booth cornhole, raw denim Wes Anderson polaroid Intelligentsia next level actually. YOLO skateboard twee, jean shorts Intelligentsia semiotics kogi Kickstarter.
        +addCommentButton
          ul
            li Deep v heirloom Echo Park
            li Drinking vinegar meggings
            li Jean shorts biodiesel hoodie keytar mlkshk food truck
        +addCommentButton
          p Street art bitters pour-over, Portland pork belly master cleanse lumbersexual. Aesthetic 90's Shoreditch PBR. Austin sustainable Carles American Apparel, banh mi High Life selvage XOXO plaid stumptown fashion axe skateboard butcher McSweeney's. Master cleanse polaroid Shoreditch DIY, Godard salvia gastropub heirloom Kickstarter fap before they sold out chia. Disrupt Neutra tofu Godard kitsch. Chambray Helvetica plaid chia salvia. Cronut asymmetrical messenger bag, cornhole listicle selvage yr beard Godard stumptown meh sustainable.

      .draft-writers.clj-draft-writers
        h2(data-l8n="content:draft/writers") !Writers
        ul.writer-item-list.clj-writer-item-list
          +writerItem('!Jenny Bloggs', '#', 'http://placekitten.com/g/80/80')
            | !A cycling enthusiast, responsible for many safety policies in the UK.
          +writerItem('!Boris Johnson', '#', 'http://placekitten.com/g/81/81')
            | !Quirky but has achieved wonders in the London for the boris bikes.
          +writerItem('!Bob Smith', '#', '')
            | !Interested in anything to do with cycling and Spain.


      .draft-comments.clj-draft-comments#comments
        h2(data-l8n="content:draft/comments") !Comments
        .clj-comment-create
          +addCommentForm()
        ol.comment-list.clj-comment-list
          +commentItem('Chris Cheshire', '3 September 2015 07:41')
            p We definitely need to look into Gran Via and Calle Mayor!
          +commentItem('Phil Smith', '2 September 2015 07:41')
            p Oooh Paseo del Prado.
          +commentItem('Jen Bloggs', '1 September 2015 07:41')
            p Paseo del Prado.


block footerScripts
  script.
    $('.js-import-draft-link').css('display', 'inline-block');
    // temp
    $(document).ready(function () {
      var pageNav = $('.draft-version-navigation-content-wrapper');
      console.log(pageNav);
      var pageNavStickHeight = pageNav.offset().top;
      $(window).scroll(function () {
        if ($(this).scrollTop() > pageNavStickHeight) {
          pageNav.addClass("sticky");
        }
        else {
          pageNav.removeClass("sticky");
        }
      });
    });
