extends layouts/base
include mixins/_view_helpers

block vars
  - pageTitle = "!Drafts | Objective[8]"

block content
  .guidance-text-wrapper
    +guidanceText('!What is a draft?','content:draft-guidance/heading')
      ul
        li(data-l8n="content:draft-guidance/text-line-1")  !Drafts are versions of the policy as it is being written.
        li(data-l8n="content:draft-guidance/text-line-2") !Drafts are crafted by the writers that have been nominated for an objective.
        li(data-l8n="content:draft-guidance/text-line-3") !Everyone can comment and make suggestions.

  .middle-container

    ul.progress-indicator.clj-objective-progress-indicator
      li
        a(href="/objective") !Objective
      li.on
        a(href="/draft") !Draft
      li
        a(href="#") !Policy

    h1.draft-list-title
      span(data-l8n="content:draft-list/drafts-for") !Drafts for: 
      span.clj-draft-list-title !Build safer cycling networks in the streets of Madrid.

    .clj-drafts-wrapper
      .latest-draft-wrapper
        .latest-draft.clj-latest-draft
          h2.latest-draft-title(data-l8n="content:draft-list/latest-draft") !Latest draft
          .draft-item-list
            .draft-item
              a.draft-item-link.clj-latest-draft-link.func--latest-draft-link(href="/drafts/latest")
                .draft-item-icon
                  i.fa.fa-file-text-o.draft-item-icon-fa
                .draft-item-text
                  span.draft-item-writer.clj-latest-draft-writer !Prof Barry
                  = ", "
                  span.draft-item-time.clj-latest-draft-time !2 days ago

        a.button.add-a-draft.clj-add-a-draft.func--add-a-draft(href="/drafts/add-draft", data-l8n="content:draft-list/add-a-draft") !Add a draft
        a.button.js-import-draft-link.js-hidden.clj-import-draft-link(href="/objectives/:id/import-draft", data-l8n="content:draft-list/import") !Import draft from Google Drive

      .previous-drafts.clj-previous-drafts
        h2.previous-drafts-title(data-l8n="content:draft-list/previous-versions") !Previous versions 
        ul.draft-item-list.clj-previous-drafts-list
          li.draft-item.clj-previous-draft-item
            a.draft-item-link.clj-previous-draft-link(href="/drafts/id")
              .draft-item-icon
                i.fa.fa-file-text-o.draft-item-icon-fa
              .draft-item-text
                span.draft-item-writer.clj-previous-draft-writer !Prof Barry
                = ", "
                span.draft-item-time.clj-previous-draft-time !3 days ago

      .draft-writers.clj-draft-writers
        h2(data-l8n="content:draft-list/writers") !Writers
        ul.writer-item-list.clj-writer-item-list
          +writerItem('!Jenny Bloggs', '#', 'http://placekitten.com/g/80/80')
            | !A cycling enthusiast, responsible for many safety policies in the UK.
          +writerItem('!Boris Johnson', '#', 'http://placekitten.com/g/81/81')
            | !Quirky but has achieved wonders in the London for the boris bikes.
          +writerItem('!Bob Smith', '#', '')
            | !Interested in anything to do with cycling and Spain.

block footerScripts
  script.
    $('.js-import-draft-link').css('display', 'inline-block');
