extends layouts/base
include mixins/_view_helpers

block vars
  //- bodyClass = "objective"
  - pageTitle = "!Comments on draft"

block content

  .middle-container
    +secondaryNavigation

    .draft-comments#comments
      ol.comment-list.clj-comment-list
        +commentItem('Phil Smith', '2 September 2015 07:41')
          p !Oooh Paseo del Prado.
        +commentItem('Jen Bloggs', '1 September 2015 07:41')
          p !Paseo del Prado.

block footerScripts
  +secondaryNavigationStickyScript
