extends layouts/base
include mixins/_view_helpers

block vars
  - htmlClass = "html-draft-editor"
  - pageTitle = "!Draft changes | Objective[8]"


block headerScripts

block content

  .guidance-buttons.clj-guidance-buttons
    a.button-hide-guidance-text.clj-close-link(href="!draft")
      i.fa.fa-arrow-left
      =" "
      span(data-l8n="content:draft-diff/close") !Back to draft

  .draft-editor

    .draft-editor-document
      p.version(data-l8n="content:draft-diff/previous-version-title") !Previous version
      article.draft-preview-document.clj-add-previous-draft
        h1 !Echo Park jean shorts viral forage
        p !Craft beer biodiesel fixie cray heirloom you probably haven't heard of them. Marfa swag chillwave flannel. Distillery seitan next level, post-ironic retro banjo 90's craft beer master cleanse gluten-free YOLO. Tattooed Portland wolf retro scenester Odd Future. Shabby chic PBR Odd Future gluten-free banjo Blue Bottle. Pickled listicle fanny pack bitters.
        p
          span.removed-from-version(title="Removed content") !Freegan gluten-free farm-to-table lumbersexual. Forage swag High Life salvia, Intelligentsia Pinterest seitan whatever American Apparel typewriter. Wes Anderson bitters before they sold out
        ul
          li
            | !Pitchfork
            = " "
            span.removed-from-version(title="Removed content") !next
          li !level semiotics
          li !fap ethical church-key brunch
        p
          | !Farm-to-table cronut crucifix Carles,
          = " "
          span.removed-from-version(title="Removed content") !fanny pack squid PBR Intelligentsia 3 wolf moon
          = " "
          | !Neutra 90's try-hard XOXO. Wes Anderson Williamsburg swag, butcher High Life normcore Schlitz gluten-free +1. Cronut church-key scenester, +1 fanny pack bitters seitan Tumblr Echo Park beard. Synth disrupt sartorial tofu. Paleo banjo church-key cornhole typewriter. Gluten-free four dollar toast Schlitz, banh mi hella XOXO next level paleo forage health goth Truffaut actually wayfarers Banksy. Chillwave farm-to-table Marfa single-origin coffee, kogi gentrify cold-pressed.
        p !Meh banjo polaroid synth kitsch authentic cardigan DIY, photo booth raw denim. Blog stumptown 8-bit meh 3 wolf moon. Irony cliche tote bag, pork belly farm-to-table meggings Austin kitsch post-ironic narwhal bicycle rights. Shoreditch Neutra 90's, narwhal vinyl ethical Vice chia scenester craft beer PBR blog next level tote bag. Bespoke lomo Brooklyn church-key health goth, kogi High Life dreamcatcher bicycle rights locavore letterpress banjo actually before they sold out Banksy. Gastropub quinoa hoodie stumptown kogi, umami PBR. Direct trade synth normcore hella food truck umami, pop-up tofu Shoreditch gastropub vinyl scenester keffiyeh occupy.
        table
          thead
            tr
              th !Column 1
              th !Column 2
              th !Column 3
          tbody
            tr
              td !etst
              td !etst
              td !etst
            tr
              td !etst
              td !etst
              td !etst
            tr
              td !etst
              td !etst
              td !etst

    .draft-editor-document
      p.version(data-l8n="content:draft-diff/this-version-title") !This version
      article.draft-preview-document.clj-add-current-draft
        h1
          | !Echo Park viral
          span.added-to-version(title="Additional content")
            = " "
            | !forage jean shorts
        p !Craft beer biodiesel fixie cray heirloom you probably haven't heard of them. Marfa swag chillwave flannel. Distillery seitan next level, post-ironic retro banjo 90's craft beer master cleanse gluten-free YOLO. Tattooed Portland wolf retro scenester Odd Future. Shabby chic PBR Odd Future gluten-free banjo Blue Bottle. Pickled listicle fanny pack bitters.
        ul
          li !Pitchfork
          li !level semiotics
          li !fap ethical church-key brunch
        p !Farm-to-table cronut crucifix Carles, Neutra 90's try-hard XOXO. Wes Anderson Williamsburg swag, butcher High Life normcore Schlitz gluten-free +1. Cronut church-key scenester, +1 fanny pack bitters seitan Tumblr Echo Park beard. Synth disrupt sartorial tofu. Paleo banjo church-key cornhole typewriter. Gluten-free four dollar toast Schlitz, banh mi hella XOXO next level paleo forage health goth Truffaut actually wayfarers Banksy. Chillwave farm-to-table Marfa single-origin coffee, kogi gentrify cold-pressed.
        ol
          li
            span.added-to-version(title="Additional content") !Pitchfork next
          li
            span.added-to-version(title="Additional content") !level semiotics
          li
            span.added-to-version(title="Additional content") !fap ethical church-key brunch
        p
          span.added-to-version(title="Additional content") !Farm-to-table cronut crucifix Carles, fanny pack squid PBR Intelligentsia 3 wolf moon Neutra 90's try-hard XOXO. Wes Anderson Williamsburg swag, butcher High Life normcore Schlitz gluten-free +1. Cronut church-key scenester, +1 fanny pack bitters seitan Tumblr Echo Park beard. Synth disrupt sartorial tofu. Paleo banjo church-key cornhole typewriter. Gluten-free four dollar toast Schlitz, banh mi hella XOXO next level paleo forage health goth Truffaut actually wayfarers Banksy. Chillwave farm-to-table Marfa single-origin coffee, kogi gentrify cold-pressed.
        p
          | !Meh banjo polaroid synth kitsch authentic cardigan DIY, photo booth raw denim. Blog stumptown 8-bit meh 3 wolf moon. Irony cliche tote bag, pork belly farm-to-table meggings Austin kitsch post-ironic narwhal bicycle rights. Shoreditch Neutra 90's, narwhal vinyl ethical Vice chia scenester craft beer PBR blog next level tote bag. Bespoke lomo Brooklyn church-key health goth, kogi High Life dreamcatcher bicycle rights locavore letterpress banjo actually before they sold out Banksy. Gastropub quinoa hoodie stumptown kogi, umami PBR. Direct trade synth normcore hella food truck umami,
          = " "
          span.added-to-version(title="Additional content") !fanny pack squid PBR Intelligentsia 3 wolf moon
          = " "
          | !pop-up tofu Shoreditch gastropub vinyl scenester keffiyeh occupy.
        table
          thead
            tr
              th !Column 1
              th !Column 2
              th !Column 3
          tbody
            tr
              td !etst
              td !etst
              td !etst
            tr
              td !etst
              td !etst
              td !etst
            tr
              td !etst
              td !etst
              td !etst

block footerScripts
