extends layouts/base
include mixins/_view_helpers

block vars
  //- bodyClass = "draft"
  - pageTitle = "!Draft annotation"

block content

  .middle-container
    .objective-navigation
      .objective-navigation-list-wrapper
        ul.objective-navigation-list
          li
            a.clj-back-to-draft-link(href="!draft")
              i.fa.fa-angle-left
              = " "
              span(data-l8n="content:draft-nav/back-to-draft") !Build safer cycling networks in the streets of Madrid draft.

    .annotate-draft-preview-document
      h1.document-title(data-l8n="content:draft-section/page-title") !Add an annotation to:
      .annotate-text.clj-draft-section
        p !Mixtape Tumblr McSweeney's, fap keffiyeh whatever hoodie kale chips. Mustache pug four dollar toast slow-carb iPhone, forage twee kogi Intelligentsia heirloom hoodie pour-over. Roof party bicycle rights dreamcatcher, before they sold out kale chips 90's McSweeney's Helvetica wolf swag post-ironic bitters. Beard wolf cliche, PBR slow-carb cronut authentic Brooklyn tote bag heirloom fingerstache. Cardigan irony lumbersexual forage health goth lomo organic, stumptown letterpress chillwave. Truffaut photo booth cornhole, raw denim Wes Anderson polaroid Intelligentsia next level actually. YOLO skateboard twee, jean shorts Intelligentsia semiotics kogi Kickstarter.

    .draft-comments
      ol.comment-list.clj-comment-list
        +commentItem('!Chris Cheshire', '!3 September 2015 07:41')
          p !We definitely need to look into Gran Via and Calle Mayor!
        +commentItem('!Jen Bloggs', '!1 September 2015 07:41')
          p !Paseo del Prado.
      .clj-comment-create
        +addCommentForm()


block footerScripts
  script.
    $('.js-import-draft-link').css('display', 'inline-block');
    // temp
    $(document).ready(function () {
      var pageNav = $('.objective-navigation-list-wrapper');
      console.log(pageNav);
      var pageNavStickHeight = pageNav.offset().top;
      $(window).scroll(function () {
        if ($(this).scrollTop() > pageNavStickHeight) {
          pageNav.addClass("sticky");
        }
        else {
          pageNav.removeClass("sticky");
        }
      });
    });
