extends layouts/base

block vars
  - pageTitle = "!Error | Objective[8]"

block content

  .middle-container.clj-error-404
    h1(data-l8n="content:error-default/page-title") !An error has occurred
    p(data-l8n="content:error-default/page-intro").lede !Sorry, something went wrong! Please try again later, or contact the site administrator if the problem persists.