extends layouts/base

block vars
//  - pageTitle = "Settings"

block content

  .index-hero
    h1.index-welcome.l8n-index-welcome(data-l8n="content:index/index-welcome") !Collaborative policy making for democratic organisations.
    p.index-intro.l8n-index-intro(data-l8n="content:index/index-intro") !Gather community opinion, generate ideas, share, discuss, vote and collaborate with experts to draft new policy.

    .grid-container
      section
        .grid-column
          .info-box-icon
            i.fa.fa-lightbulb-o
          .info-box-text
            span.l8n-create-objective-begin(data-l8n="content:index/create-objective-begin") !Create an
            =" "
            span.info-box-emphasis.l8n-create-objective-keyword(data-l8n="content:index/create-objective-keyword") !objective
            =" "
            span.l8n-create-objective-end(data-l8n="content:index/create-objective-end") !to describe the change you want to achieve.
        .grid-column
            .info-box-icon
              i.fa.fa-users
            .info-box-text.l8n-collaborate-info(data-l8n="content:index/collaborate-info")
              | !Collaborate on generating ideas, gathering data and finding experts to write policy.
        .grid-column
          .info-box-icon
            i.fa.fa-refresh
          .info-box-text
            span.l8n-draft-info-begin(data-l8n="content:index/draft-info-begin") !Work together to release and review
            =" "
            span.info-box-emphasis.l8n-draft-info-keyword(data-l8n="content:index/draft-info-keyword") !drafts
            =" "
            span.l8n-draft-info-end(data-l8n="content:index/draft-info-end") !in an open and transparent way.

    a.button.objectives-link.l8n-objectives-link(href="/objectives", data-l8n="content:index/objectives") !Objectives
    a.index-learn-more.l8n-learn-more-link(href="/learn-more", data-l8n="content:index/learn-more") !Learn more
