extends layouts/base
include mixins/_view_helpers

block vars
  - bodyClass = "objective"
  - pageTitle = "!Objective"

block content
  .middle-container

    .objective-navigation
      .objective-navigation-list-wrapper
        ul.objective-navigation-list
          li
            a.clj-objective-navigation-item-objective(href="/objective")
              i.fa.fa-angle-left
              = " "
              span(data-l8n="content:objective-nav/back-to-objective") !Back to objective


    h1.objective-title
      span.objective-title-label(data-l8n="content:invite-writer/section-title") !Invite a policy writer for:
      span.clj-objective-title !Build safer cycling networks in the streets of Madrid.

    +inviteWriterForm()


block footerScripts
  script.
    // temp
    $(document).ready(function () {
      var pageNav = $('.objective-navigation-list-wrapper');
      var pageNavStickHeight = pageNav.offset().top;
      $(window).scroll(function () {
        if ($(this).scrollTop() > pageNavStickHeight) {
          pageNav.addClass("sticky");
        }
        else {
          pageNav.removeClass("sticky");
        }
      });
    });
