extends layouts/base

block vars
//  - pageTitle = "Settings"

block content

  .main-wrapper-no-sidebar#clj-learn-more
    h1.clj-learn-more-heading !Objective[8] 101
    h2.clj-learn-more-sub-heading !What are the basics?
    p.lede.clj-learn-more-lede !Objective8 is a platform to enable collaborative policy making for democratic organisations.

    .clj-learn-more-detail
      p !<b>Policy</b> is used by governments and organisations to make consistent and fair decisions in order to achieve desired outcomes.
      p An <b>objective</b> is a change that could be achieved by introducing new policy.  For example: improving access to public housing, or increasing the safety of our roads.</p>
      p <b>Writers</b> are experts responsible for drafting policy.  They use the crowdsourced questions, answers and comments to produce <b>policy drafts</b><span class="not-yet-implemented-footnote-marker">*</span>.  These are further refined through cycles of feedback and redrafting.
      p You can get involved and have your say by creating and sharing objectives, offering your opinion through <b>comments</b>, asking and answering <b>questions</b>, suggesting policy writers<span class="not-yet-implemented-footnote-marker">*</span>, or even providing feedback on the policy drafts themselves.  The whole process is open and transparent.
      p.helper-text
        span.not-yet-implemented-footnote-marker *
        =" "
        | As the site is still under development, these features have not yet been implemented. Check back soon!
    a.button.index-get-started.clj-get-started(href="/objectives", title="!Get started") !Get started
