include mixins/_helpers
include mixins/_view_helpers

mixin documentation()
  .documentation
    block

doctype
html.no-js(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Library
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name="format-detection", content="telephone=no")

    link(rel="shortcut icon", href="/static/favicon.ico")
    link(rel="apple-touch-icon", href="static/apple-touch-icon.png")

    +javascriptIncludeTag("modernizr.min")
    +stylesheetLinkTag("modern","screen")
    style.
      body {
        padding: 2em 1em;
      }
      @media screen and (min-width: 40em) {
        body {
          padding-left: 0;
          padding-right: 0;
        }
      }
      .example {
        padding: 2em 0;
      }
      .documentation {
        margin: 0 0 2em 0;
      }
      .middle-container>h2 {
        font-size: 2.2em;
        border-bottom: 3px solid rgba(0,0,0,0.8);
        margin-bottom: 0;
        padding-top: 2em;
      }
      .documentation h3 {
        font-size: 1.7em;
        margin-bottom: 0.3em;
      }
      .documentation p {
        margin-bottom: 0.5em;
      }
      .documentation p:last-child {
        margin-bottom: 0;
      }


  body
    .middle-container

      h1 Styleguide library

      ul.style-navigation
        li
          a(href="#masthead-assets") Masthead
        li
          a(href="#status-bar-assets") Status bars
        li
          a(href="#button-assets") Buttons
        li
          a(href="#guidance-assets") Guidance assets
        li
          a(href="#navigation-assets") Navigation assets
        li
          a(href="#objective-list-assets") Objective list assets
        li
          a(href="#objective-assets") Objective assets
        li
          a(href="#question-assets") Question assets
        li
          a(href="#comment-assets") Comment assets
        li
          a(href="#writer-assets") Writer assets
        li
          a(href="#drafting-assets") Drafting assets
        li
          a(href="#policy-assets") Policy assets
        li
          a(href="#vote-assets") Vote assets
        li
          a(href="#modal-assets") Modal assets
        li
          a(href="#dashboard-assets") Dashboard assets

      h2#masthead-assets Masthead assets

      .example
        .documentation
          h3 Masthead signed out
          p Generated with mastheadSignedOut() mixin
        header(role="banner")
          +mastheadSignedOut

      .example
        .documentation
          h3 Masthead signed in
          p Generated with mastheadSignedIn() mixin
        header(role="banner")
          +mastheadSignedIn

      h2#status-bar-assets Status bar assets

      .example
        .documentation
          h3 Status bar
          p Generated with statusBar() mixin
        +statusBar

      .example
        .documentation
          h3 Flash message success bar
          p Generated with flashMessageSuccessBar() mixin
        +flashMessageSuccessBar
          | !Success! It worked.

      h2#navigation-assets Navigation assets

      .example
        .documentation
          h3 Progress indicator
          p Generated with progressIndicator(section,numberOfDrafts) mixin
        +progressIndicator('objective',3)

      h2#button-assets Buttons assets

      .example
        .documentation
          h3 Anchor Button
          p Generated with +anchorButton(href, title)
          p Title is optional
        +anchorButton("#","") !Button Text

      .example
        .documentation
          h3 Form submit Button
          p Generated with +submitButton(value, title)
        +submitButton("!Button Text")

      h2#guidance-assets Guidance assets

      .example
        .documentation
          h3 Guidance text
          p Used to introduce overview of the page
        +guidanceText('Title goes here')
          ul
            li Suggest paragraph or lists


      h2#objective-list-assets Objective list assets

      .example
        .documentation
          h3 Objective list page list item with promote button
          p Generated with objectiveListItemWithPromoteForm(objectiveTitle, numberOfDays) mixin
        .clj-library-key--objective-list-item-with-promote-form
          ol.unstyled-list
            +objectiveListItemWithPromoteForm('!Build safer cycling networks in the streets of Madrid.', 30)
              | !London and Pairs are two prime examples of cycle super highway heaven. We need to show the world that Madrid too can be the pinncale in cycli...

      .example
        .documentation
          h3 Objective list page list item with demote button
          p Generated with objectiveListItemWithDemoteForm(objectiveTitle, numberOfDays) mixin
        .clj-library-key--objective-list-item-with-demote-form
          ol.unstyled-list
            +objectiveListItemWithDemoteForm('!Build safer cycling networks in the streets of Madrid.', 30)
              | !London and Pairs are two prime examples of cycle super highway heaven. We need to show the world that Madrid too can be the pinncale in cycli...

      .example
        .documentation
          h3 Profile Objective list page list item
          p Generated with profileObjectiveListItem(objectiveTitle) mixin
        ol.unstyled-list
          +profileObjectiveListItem('!Build safer cycling networks in the streets of Madrid.')
            | !London and Pairs are two prime examples of cycle super highway heaven. We need to show the world that Madrid too can be the pinncale in cycli...


      h2#objective-assets Objective assets

      .example
        .documentation
          h3 Goals
          p This is a complete list using the goalItem() mixin
        ul.goal-item-list.fa-ul
          +goalItem
            | Deep v heirloom Echo Park
          +goalItem
            | Drinking vinegar meggings
          +goalItem
            | Jean shorts biodiesel hoodie keytar mlkshk food truck


      h2#question-assets Question assets

      .example
        .documentation
          h3 Question list item
          p Generated with questionItem(author, date) mixin
        .clj-library-key--question-list-item
          ol.question-list
            +questionItem('!Chris Cheshire', '3 September 2015 07:41')
              | !What road surface should we use?

        .documentation
          h3 Question list item with promote form
          p Generated with questionItemWithPromoteForm(author, date) mixin
        .clj-library-key--question-list-item-with-promote-form
          ol.question-list
            +questionItemWithPromoteForm('!Chris Cheshire', '3 September 2015 07:41')
              | !What road surface should we use?

        .documentation
          h3 Question list item with demote form
          p Generated with questionItemWithDemoteForm(author, date) mixin
        .clj-library-key--question-list-item-with-demote-form
          ol.question-list
            +questionItemWithDemoteForm('!Chris Cheshire', '3 September 2015 07:41')
              | !What road surface should we use?

      .example
        .documentation
          h3 Blank community question list item
          p Generated with communityQuestionsBlank() mixin
        ol.question-list
          +communityQuestionsBlank()

      .example
        .documentation
          h3 Blank objective question list item
          p Generated with objectiveQuestionsBlank() mixin
        ol.question-list
          +objectiveQuestionsBlank()

      .example
        .documentation
          h3 Add question form
          p Generated with addQuestionForm(autofocus)
          p The optional autofocus param decides whether it should gain focus on page visit.
        +addQuestionForm()

      h2#comment-assets Comment assets

      .example
        .documentation
          h3 Comment list item
          p Generated with commentItem(author, date, reason) mixin
        ol.comment-list
          +commentItem('Chris Cheshire', '3 September 2015 07:41')
            p We definitely need to look into Gran Via and Calle Mayor!

      .example
        .documentation
          h3 Blank comment list item
          p Generated with commentItemBlank mixin
        ol.comment-list
          +commentItemBlank()

      .example
        .documentation
          h3 Add comment form
          p Generated with addCommentForm()
        +addCommentForm()

      h2#writer-assets Writer assets

      .example
        .documentation
          h3 Objective Writer list item with photo
          p Generated with writerItem(name, href, photo) mixin
        ul.writer-item-list
          +writerItem('Jenny Bloggs', '#', 'http://placekitten.com/g/80/80')
            | A cycling enthusiast, responsible for many safety policies in the UK.

      .example
        .documentation
          h3 Objective Writer list item without photo
          p Generated with writerItem(name, href, '') mixin
        ul.writer-item-list
          +writerItem('Jenny Bloggs', '#', '')
            | A cycling enthusiast, responsible for many safety policies in the UK.

      .example
        .documentation
          h3 Blank objective writer list item
          p Generated with writerItemBlank(name, href, photo) mixin
        ul.writer-item-list
          +writerItemBlank()

      .example
        .documentation
          h3 Invite writer form
          p Generated with inviteWriterForm()
        +inviteWriterForm()

      .example
        .documentation
          h3 Please sign in to comment
          p Generated with pleaseSignIn("to-comment")
        +pleaseSignIn("to-comment")

      .example
        .documentation
          h3 Please sign in to add a question
          p Generated with pleaseSignIn("to-add-question")
        +pleaseSignIn("to-add-question")

      .example
        .documentation
          h3 Please sign in to invite a writer
          p Generated with pleaseSignIn("to-invite-writer")
        +pleaseSignIn("to-invite-writer")

      .example
        .documentation
          h3 Please sign in to add an answer
          p Generated with pleaseSignIn("to-add-answer")
        +pleaseSignIn("to-add-answer")

      .example
        .documentation
          h3 Flash message: Respond to invitation
          p Generated with flashMessageSuccessBar() mixin
        +flashMessageSuccessBar
          a.clj-invitation-response-link(href="invitation-url", data-l8n="content:invitation-response/banner-message")
            | !Respond to your invitation to help draft policy

      h2#drafting-assets Drafting assets

      .example
        .documentation
          h3 No drafts
        .no-drafts-yet.clj-no-drafts-yet
          p.no-drafts-yet-text(data-l8n="content:draft/no-drafts") !There are no drafts yet.

      h2#policy-assets Policy assets

      .example
        .documentation
          h3 Policy Contributor list item
          p Generated with policyContributorItem(contributor) mixin
        ul.policy-contributors-list
          +policyContributorItem('Chris Cheshire')

      h2#vote-assets Vote assets

      .example
        .documentation
          h3 Vote controls
          p Generated with voteUpDownControls()
          p Intended for questions and comments
        .list-item-actions
          +voteUpDownControls()

      .example
        .documentation
          h3 Vote view
          p Generated with voteUpDownView()
          p Intended for questions and comments in dashboard
        .list-item-actions
          +voteUpDownView()

      h2#modal-assets Modal assets

      .example
        .documentation
          h3 Modal
          p Generated with modal(title, l8nTitleClass, funcClass).
          p The modal contents is passed to the modal-body.

        +modal("!Your modal title", "l8n-modal-title", "func--modal-title")
          p Modal content here.

      h2#dashboard-assets Dashboard assets

      .example
        .documentation
          h3 Empty answers message
          p Generated with dashboardAnswerBlank()

        ul.answer-list.clj-library-key--dashboard-no-answer-item
          +dashboardAnswerBlank()

      .example
        .documentation
          h3 Answers message without writer note
          p Generated with dashboardAnswerItem()

        ul.answer-list.clj-library-key--dashboard-answer-without-writer-note
          +dashboardAnswerItem()

      .example
        .documentation
          h3 Answers message with writer note
          p Generated with dashboardAnswerItem(true)

        ul.answer-list.clj-library-key--dashboard-answer-with-writer-note
          +dashboardAnswerItem(true)
      
      .example
        .documentation
          h3 Empty comments message
          p Generated with dashboardCommentBlank()

        ul.comment-list.clj-library-key--dashboard-no-comment-item
          +dashboardCommentBlank()

      .example
        .documentation
          h3 Comments message with no saved item
          p Generated with dashboardCommentItem(author, date) mixin

        ul.dashboard-comment-list.clj-library-key--dashboard-comment-without-writer-note
          +dashboardCommentItem("Chris Linseman", '28 April 2015 07:41')
            | !This is a very interesting comment about the content with no writer note

      .example
        .documentation
          h3 Comments message with saved item
          p Generated with dashboardCommentItem(author, date, true) mixin

        ul.dashboard-comment-list.clj-library-key--dashboard-comment-with-writer-note
          +dashboardCommentItem("Chris Linseman", '28 April 2015 07:41', true)
            | !This is a very interesting comment about the content with writer note

      .example
        .documentation
          h3 Annotation Section with Annotation
          p Generated using dashboardCommentItem and placing inside a dashboard-annotation-list

        ul.dashboard-annotation-list.clj-dashboard-annotation-list
          li.dashboard-annotation-section-item
            section.dashboard-annotation-section
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dolor eros, blandit nec consectetur eu, porttitor id odio. Integer imperdiet viverra mauris, at sollicitudin urna mattis at. Duis ex sem, auctor eget elit eget, tristique elementum ipsum. Aenean condimentum eros nec justo ullamcorper cursus. Donec ac mauris vel purus dignissim convallis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam ex quam, consectetur eu metus et, congue sagittis sapien. Cras consectetur augue felis, quis fringilla sapien tincidunt vitae. Nam sit amet posuere elit, a tincidunt lectus. Aliquam convallis, dui id varius scelerisque, dui massa fermentum sapien, sed eleifend ligula dolor non metus. Vestibulum volutpat tortor nec pulvinar molestie. In quis augue at ex euismod venenatis. Suspendisse quis est eu est pellentesque convallis et eu justo. Proin interdum quam vitae dapibus dictum. Duis et turpis quis nisl sodales tincidunt eget vel orci. Phasellus ultricies nec ligula vitae posuere.
            ul.dashboard-annotation-section-list
              +dashboardCommentItem('Chris Linseman', '28 April 2015 07:41')
                | This is a one line commment about the content

      .example
        .documentation
          h3 No Annotations for this draft
          p Generated using dashboardAnnotationBlank

        ul.dashboard-annotation-list.clj-dashboard-annotation-list.clj-library-key--dashboard-no-annotation-item
          +dashboardAnnotationBlank

      .example
        .documentation
          h3 Empty questions message
          p Generated with dashboardQuestionBlank()

        ul.writer-dashboard-navigation-list
          +dashboardQuestionBlank()



    +googleAnalytics('${trackingID}')
    +cookieWarning
    +javascriptIncludeTag("scripts.min")
