extends layouts/base
include mixins/_view_helpers

block vars
  //- bodyClass = "objective"
  - pageTitle = "!Comments on objective"

block content

  .middle-container
    .objective-navigation-wrapper
      .objective-navigation
        .objective-navigation-breadcrumb
          span.breadcrumb-ellipsis
            a.clj-objective-link(href="!objective") !Objective title
            =" "
            | >
            =" "
            span(data-l8n="content:breadcrumb/objective-comments-text") !Comment history

    .objective-comments#comments
      .comments-navigation
        .comments-navigation-location
          span.clj-comments-start-index 1
          =" "
          span -
          =" "
          span.clj-comments-end-index 50
          =" "
          span(data-l8n="content:objective-comments/of") !of
          =" "
          span.clj-comments-total-count 105
        ul.comments-navigation-controls
          li.comments-navigation-item.comments-navigation-previous.disabled.clj-comments-previous
            a.comments-navigation-link.clj-comments-previous-link.func--previous-comments(href="!previous-link")
              i.fa.fa-angle-left
              span.comments-navigation-text(data-l8n="content:comments-navigation/previous") !Previous
          li.comments-navigation-item.comments-navigation-next.disabled.clj-comments-next
            a.comments-navigation-link.clj-comments-next-link(href="!next-link")
              span.comments-navigation-text(data-l8n="content:comments-navigation/next") !Next 
              i.fa.fa-angle-right
      ol.comment-list.clj-comment-list
        +commentItem('Phil Smith', '2 September 2015 07:41')
          p !Oooh Paseo del Prado.
        +commentItem('Jen Bloggs', '1 September 2015 07:41')
          p !Paseo del Prado.
