extends layouts/base
include mixins/_view_helpers

block vars
  - pageTitle = "!Objectives | Objective[8]"

block content

  .middle-container

    h1(data-l8n="content:objective-list/page-title") !Objectives

    .objectives-list-actions
      a.button.create-objective-link(href="/objectives/create", data-l8n="content:objective-list/create-objective-link") !Create an objective

    .func--promoted-objectives-container.clj-promoted-objectives-container
      h2(data-l8n="content:objective-list/promoted-subtitle") !Promoted objectives
      span.promoted-objective-info.clj-promoted-objective-information(data-l8n="content:objective-list/promoted-objective-information")
        | !There is a limit of three promoted objectives.
      ol.unstyled-list.clj-promoted-objective-list
        +objectiveListItemWithDemoteForm('!Having more fun in the streets of Berlin.', 29)
          | !London and Pairs are two prime examples of places where people have fun.

    .recent-objectives
      h2(data-l8n="content:objective-list/subtitle") !Recently created objectives
      ol.unstyled-list.clj-objective-list
        +objectiveListItemWithPromoteForm('!Build safer cycling networks in the streets of Madrid.', 30)
          | !London and Pairs are two prime examples of cycle super highway heaven.
