extends layouts/base
include mixins/_view_helpers

block vars
  - bodyClass = "objective"
  - pageTitle = "!Objective writer invitation"

block content
  .middle-container.clj-invitation-response
    article
      h1(data-l8n="content:invitation-response/page-title") !You've been invited to help draft a policy
      p.lede
        span(data-l8n="content:invitation-response/help-achieve") !Can you help write policy to achieve this objective:
        = " "
        span.modal-objective-title.clj-objective-title !More bikes in Soho
      p(data-l8n="content:invitation-response/rsvp-text") !If you're interested, you can sign in and accept the invitation below.

    .invitation-response-actions
      form.invitation-response-form.clj-invitation-response-decline(method="POST", action="{{/objectives/:o-id/writer-invitations/:i-id/decline}}")
        button.pink-button(data-l8n="content:invitation-response/decline", type="submit", value="decline") !Decline

      form.invitation-response-form.clj-invitation-response-accept(method="POST", action="{{/objectives/:o-id/writer-invitations/:i-id/accept}}")
        button.button.func--invitation-accept(type="submit", value="accept", data-l8n="content:invitation-response/accept") !Accept
