extends layouts/base
include mixins/_view_helpers

block vars
  - bodyClass = "objective"
  - pageTitle = "!Objective"

block content
  .middle-container

    //ul.progress-indicator.clj-objective-progress-indicator
    //  li.on
    //    a(href="/objective") !Objective
    //  li
    //    a(href="/draft") !Draft
    //  li
    //    a(href="#") !Policy

    //+guidanceText('!Why invite a writer?')
    //  ul
    //    li.clj-guidance-text-line-1 !...
    //    li.clj-guidance-text-line-2 !...
    //    li.clj-guidance-text-line-3 !...

    .objective-navigation
      .objective-navigation-list-wrapper
        ul.objective-navigation-list
          li
            a.clj-objective-navigation-item-objective(href="/objective")
              i.fa.fa-angle-left
              = " "
              span.l8n-back-to-objective !Back to objective

    .objective-outline#outline
      h1.objective-title.clj-objective-title !Build safer cycling networks in the streets of Madrid.

    .objective-writers#writers
      h2.clj-invite-writer-section-title.l8n-invite-writer-section-title !Invite a policy writer
      p.l8n-do-you-know-a-writer !Do you know someone with the enthusiasm and expertise to help draft this policy?

      +inviteWriterForm()


block footerScripts
  script.
    // temp
    $(document).ready(function () {
      var pageNav = $('.objective-navigation-list-wrapper');
      var pageNavStickHeight = pageNav.offset().top;
      $(window).scroll(function () {
        if ($(this).scrollTop() > pageNavStickHeight) {
          pageNav.addClass("sticky");
        }
        else {
          pageNav.removeClass("sticky");
        }
      });
    });
