extends layouts/base

block vars
  - pageTitle = "!Project status"

block content

  .middle-container.clj-project-status
    h1.l8n-project-status-heading Project status
    p.lede.clj-project-status-lede !Objective8 is a ...

    .clj-project-status-detail
      p Freegan chia before they sold out migas. Single-origin coffee kitsch kale chips selfies letterpress Pinterest. Vinyl migas Wes Anderson church-key kogi Thundercats. Bushwick Austin selfies, skateboard Marfa kogi deep v fanny pack migas. Irony locavore biodiesel dreamcatcher slow-carb, roof party vinyl Helvetica. Trust fund Banksy twee cred Brooklyn squid. Whatever artisan chia, beard sustainable quinoa lo-fi.
      p Pickled gastropub banh mi, cronut viral 90's heirloom lomo normcore selvage Truffaut Pitchfork tofu. Post-ironic actually Truffaut, lumbersexual Vice plaid Echo Park skateboard Pinterest iPhone. Wes Anderson vegan locavore, Austin Etsy Truffaut heirloom American Apparel. Neutra Banksy chia lo-fi, raw denim Intelligentsia wayfarers. Portland direct trade gastropub, pork belly yr meggings hashtag seitan pour-over health goth letterpress. High Life Pinterest locavore, Banksy plaid sartorial wolf typewriter deep v. Ethical sartorial brunch Blue Bottle, yr Marfa flannel bespoke polaroid trust fund heirloom.
      p Hella pickled semiotics, health goth slow-carb food truck cardigan. Bicycle rights artisan fixie, YOLO cred pork belly sartorial. Pour-over authentic tousled literally Tumblr, meditation lumbersexual you probably haven't heard of them Marfa meggings Helvetica readymade single-origin coffee. Deep v post-ironic slow-carb flexitarian, mixtape tofu polaroid butcher. Kickstarter Intelligentsia flannel, Wes Anderson tilde deep v sustainable tote bag fingerstache fanny pack. Mumblecore before they sold out bitters heirloom, paleo wayfarers VHS food truck lomo small batch. Kogi leggings umami cray, seitan synth DIY ennui High Life quinoa cronut vegan fingerstache farm-to-table.