extends ./layouts/base
include ./mixins/_view_helpers

block vars
  - htmlClass = "html-writer-dashboard"
  - bodyClass = ""
  - pageTitle = "! Writer dashboard"
  
block content
  .writer-dashboard
    +writerDashboardHeader

    .writer-dashboard-body
      .writer-dashboard-navigation-menu
        nav.writer-dashboard-navigation-menu-nav
          ul.writer-dashboard-navigation-menu-list
            li.writer-dashboard-navigation-menu-list-item.on
              a.clj-writer-dashboard-navigation-questions-link(href="#")
                span(data-l8n="content:writer-dashboard/questions-navigation-title") !Questions
            li.writer-dashboard-navigation-menu-list-item
              a.clj-writer-dashboard-navigation-comments-link(href="#")
                span(data-l8n="content:writer-dashboard/comments-navigation-title").func--comment-dashboard-link !Comments
            li.writer-dashboard-navigation-menu-list-item
              a.clj-writer-dashboard-navigation-annotations-link(href="#")
                span(data-l8n="content:writer-dashboard/annotations-navigation-title").func--annotaion-dashboard-link !Annotations
            li.writer-dashboard-navigation-menu-list-item
              span &nbsp;

      .writer-dashboard-navigation
        ul.writer-dashboard-navigation-list.clj-dashboard-navigation-list
          +dashboardNavigationItem(2000)
            | hello world
          +dashboardNavigationItem(1827, 'on')
            | How much wood can a woodchuck chuck?
          +dashboardNavigationItem(999)
            | What colour is the sky?
          +dashboardNavigationItem(210)
            | hello world
          +dashboardNavigationItem(40)
            | How much wood can a woodchuck chuck?
          +dashboardNavigationItem(20)
            | What colour is the sky?
          +dashboardNavigationItem(20)
            | What colour is the sky?
          +dashboardNavigationItem(20)
            | What colour is the sky?
          +dashboardNavigationItem(20)
            | What colour is the sky?
          +dashboardNavigationItem(20)
            | What colour is the sky?
          +dashboardNavigationItem(20)
            | What colour is the sky?
          +dashboardNavigationItem(20)
            | What colour is the sky?
          +dashboardNavigationItem(20)
            | What colour is the sky?
          +dashboardNavigationItem(20)
            | What colour is the sky?

      .writer-dashboard-content-container
        ul.writer-dashboard-filter-list.clj-dashboard-filter-list
          li.writer-dashboard-filter-list-item
            a.writer-dashboard-filter-list-item-button.clj-dashboard-filter-up-votes(href="#")
              i.fa.fa-thumbs-o-up
          li.writer-dashboard-filter-list-item
            a.writer-dashboard-filter-list-item-button.clj-dashboard-filter-down-votes(href="#")
              i.fa.fa-thumbs-o-down
          li.writer-dashboard-filter-list-item
            a.writer-dashboard-filter-list-item-button.clj-dashboard-filter-paper-clip(href="#")
              i.fa.fa-paperclip

        .writer-dashboard-content.clj-dashboard-content#dashboard-content
          .writer-dashboard-content-stats.clj-dashboard-content-stats
            p 1827 answers from 970 people:
          ul.answer-list.clj-dashboard-answer-list
            +dashboardAnswerItem()
            +dashboardAnswerItem(true)
            +dashboardAnswerItem()
            +dashboardAnswerItem()

block pageFooter
  //- This kills the footer

block footerScripts
