extends layouts/base
include mixins/_view_helpers

block vars
  - bodyClass = ""
  - pageTitle = "! Sign up | Objective[8]"

block content

  .sign-up-container
    h1.sign-in-title(data-l8n="content:sign-up/page-title") !Almost there
    span.user-input-error-message.clj-auth-email-invalid-error(data-l8n="content:sign-up/auth-email-invalid-message") !The email address from you account could not be retrieved, please type it below.
    form.sign-up-form.clj-sign-up-form(action="/sign-up", method="POST", novalidate)
      fieldset.sign-up-fields
        p.form-field
          label.form-field-label(for="username")
            span.form-field-label-title(data-l8n="content:sign-up/username-label") !Username
            input.clj-input-username(id="username", name="username", type="text")
            span.user-input-error-message.clj-username-invalid-error(data-l8n="content:sign-up/username-invalid-validation-message") !Username must be between 1 and 16 characters, containing only letters or numbers
            span.user-input-error-message.clj-username-duplicated-error(data-l8n="content:sign-up/username-duplicated-validation-message") !This username is already taken. Please choose another.
        p.form-field.clj-form-email-address
          label.form-field-label(for="email-address")
            span.form-field-label-title(data-l8n="content:sign-up/email-label") !Email
            input.clj-input-email-address(id="email-address", name="email-address", type="email")
            span.user-input-error-message.clj-email-empty-error(data-l8n="content:sign-up/email-empty-validation-message") !You must enter an email address
            span.user-input-error-message.clj-email-invalid-error(data-l8n="content:sign-up/email-invalid-validation-message") !The email address you have entered is invalid
      button.button(type="submit", data-l8n="content:sign-up/button") !Create account






