extends layouts/base
include mixins/_view_helpers

block vars
  - bodyClass = ""
  - pageTitle = "! Sign in"

block content

  .sign-in-container
    h1.sign-in-title(data-l8n="content:sign-in/page-title") !Sign in or Sign up
    p.helper-text(data-l8n="content:sign-in/twitter-helper-text") !We will never post to Twitter without your permission.
    form.sign-in-form.clj-sign-in-twitter(method="post", action="twitter-sign-in")
      button.btn-social.btn-twitter.btn-lg.func--sign-in-with-twitter(type="submit")
        i.fa.fa-twitter
        span(data-l8n="content:sign-in/sign-in-with-twitter") !Sign in with Twitter
    form.sign-in-form.clj-sign-in-d-cent(method="get", action="d-cent-sign-in")
      button.btn-social.btn-d-cent.btn-lg.func--sign-in-with-d-cent(type="submit")
        span.icon-d-cent
        span(data-l8n="content:sign-in/sign-in-with-d-cent") !Sign in with D-Cent
