* {
  box-sizing: border-box;
  word-break: break-word;
}
h1 {
  margin-top: 0;
}
p {
  margin-top: 0;
}





/* HELPERS */
.no-margin-bottom {
  margin-bottom: 0;
}
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}




/* HEADER */
header {
  background: #1F1F1F;
  color: white;
  padding: 1em;
}
.header-logo {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  display: inline-block;
  margin-bottom: 0.5em;
}
  .header-logo:hover {
    text-decoration: underline;
  }

.global-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1.3em;
  right: 0.5em;
}
  .global-navigation li {
    display: inline;
    margin-right: 0.5em;
  }
  .global-navigation-link {
    color: white;
    text-decoration: none;
  }
    .global-navigation-link:hover {
      text-decoration: underline;
    }




/*PAGE CONTAINER*/
.page-container {
  position: relative;
  padding: 1em;
}







/* FORMS */
label {
  display: block;
}

input,
textarea {
  margin-bottom: 1em;
  border: 1px solid #dcdcdc;
  padding: 0.5em;
  width: 100%;
}

.button {
  border: none;
  background: #007E84;
  border-bottom: 6px solid #00676C;
  padding: 0.7em 1em 0.6em;
  display: inline-block;
  text-decoration: none;
  color: white;
  max-width: 14em;
}
  .button:hover {
    background: #00676C;
    text-decoration: underline;
  }





.button-home-action {
  width: 100%;
  text-align: center;
  margin: 0.5em;
}
@media (min-width: 640px) {
  .button-home-action {
    width: 10em;
  }
}


