.comment-list {
  list-style: none;
  margin: 0em 0 2em;
  padding: 0;
}

.comment-item {
  border-bottom: 1px solid $grey-3;
  padding: 1em 0;
}

.comment-author {
  font-weight: bold;
  margin: 0;
  font-size: 0.85em;
}
.comment-date {
  display: block;
  font-size: 0.8em;
  color: $grey-1;
}

.comment-text p:last-of-type {
  margin-bottom: 0;
}
