.comment-list {
  list-style: none;
  margin: 0em 0 2em;
  padding: 0;
}

.comment-item {
  border-bottom: 1px solid $border_color;
  padding: 1em 0;
}

.comment-meta {
  margin-bottom: 0.2em;
}

.comment-author {
  padding-right: 0.75em;
  color: $pink;
  text-transform: capitalize; //TODO remove when we have stored display names
  font-size: 1em;
}
.comment-date {
  font-size: 0.75em;
  color: $grey-1;
}

.comment-text {
  color: $grey-15;
  p {
    margin-bottom: 0.6em;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
