#clj-draft-detail-content {
  article {
    border: 1px solid black;
    padding: 0.5em;
  }
  .no-drafts {
    background: lightgray none repeat scroll 0% 0%;
    padding-top: 40%;
    padding-bottom: 40%;
    text-align: center;
    }
  }

#clj-add-a-draft {
    margin-top: 2em;
    float: right;
}
