$guidance_text_side_gutter: 1.5em;
$guidance_text_top_gutter: 1.25em;
.guidance-text {
  position: relative;
  padding: $guidance_text_top_gutter $guidance_text_side_gutter 1em $guidance_text_side_gutter;
  margin-bottom: $default_block_spacing;
  background: $white;
  border: 1px solid $border_color;
  border-top: 5px solid transparent;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 5px;
    border-top: 5px solid $green1;
  }
}
.guidance-text-heading {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: $green1;
}

.button-hide-guidance-text {
  position: absolute;
  top: $guidance_text_top_gutter;
  right: $guidance_text_side_gutter;
  text-decoration: none;
  span {
    margin-right: 2px;
  }
  &:hover {
    text-decoration: none;
    span {
      text-decoration: underline;
    }
  }
  &:visited, & {
    color: $default_text_color;
  }
}