
.main-wrapper {
  padding: 1em;
  @include mq(720) {
    padding-left: 280px;
    padding-top: 104px;
    max-width: 1100px;
    margin: 0 auto;
  }
}

.main-content {
  background: $white;
  padding: $alpha_body_vertical_spacing 1em;
  @include mq(720) {
    padding-bottom: $gamma_body_vertical_spacing;
  }
}

//.main-content {
//  max-width: 45em;
//  padding: $alpha_body_vertical_spacing;
//  margin: 0 auto;
//  color: rgba(black, 0.8);
//  @include mq(720) {
//    padding: $gamma_body_vertical_spacing 1em;
//  }
//}

.main-wrapper-no-sidebar {
  margin: 0 auto;
  max-width: 32em;
  padding: $alpha_body_vertical_spacing;
  @include mq(720) {
    padding: $gamma_body_vertical_spacing 1em;
  }
}
