.flash-message-success,
.invitation-banner {
  padding: 0.5em 1em;
  position: relative;
  z-index: 5;
  width: 100%;
  background: $green1;
  color: $white;
  p {
    margin: 0;
  }
  a {
    color: #E1FFE1;
    &:hover {
      color: #E1FFE1;
      text-decoration: none;
    }
    &:visited {
      color: #E1FFE1;
    }
  }
}
