.status-bar {
  position: relative;
  z-index: 3;
  padding: 0.3em 1em 0.5em;
  margin-bottom: $alpha_block_spacing;
  background: $dark_pink;
  color: white;
  @include mq(720) {
    margin-bottom: $gamma_block_spacing;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  a {
    color: white;
    &:visited {
      color: white;
    }
    &:hover {
      opacity: 0.9;
    }
  }
}