$writer_avatar_size: 60px;

.writer-item-list {
  @extend %list-item-container;
}

.writer-item {
  margin: 0 1em 1em 0;
  padding: 0;
//  .draft-writers & {
//    text-align: center;
//  }
  a {
    display: block;
    text-decoration: none;
  }
}

.writer-item-photo {
  @include circle($writer_avatar_size);
  margin-bottom: 0.3em;
  background: $grey-4;
  overflow: hidden;
  float: left;
//  .draft-writers & {
//    margin-left: auto;
//    margin-right: auto;
//  }
//  .objective-writers & {
//    float: left;
//  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.writer-item-no-image-icon {
  display: block;
  height: $writer_avatar_size;
  line-height: ($writer_avatar_size - 3px);
  text-align: center;
  color: rgba($grey-15,0.2);
}

.writer-item-author {
  display: inline-block;
  line-height: 1.1;
  color: $default_text_color;
//  .draft-writers & {
//    width: $writer_avatar_size;
//    word-spacing: 30000px;
//  }
}

.writer-item-text {
  padding-top: 5px;
  padding-left: ($writer_avatar_size + 15px);
  @include mq(720) {
    padding-top: 10px;
  }
}

.writer-item-descripton {
  color: $grey-1;
  font-style: italic;
}
