<div id="clj-candidate-list" class="main-wrapper article-wrapper">
  <div class="breadcrumbs">
    <a id="objective-crumb" href="/" title="The objective">The objective</a>
    &rsaquo;
    <a id="candidates-crumb" href="/" title="Candidate writers for objective">Candidate writers</a>
  </div>
  <h1>{{objective}}</h1>
  <p class="lede">${candidate-list/page-intro}</p>
  <h2>${candidate-list/candidate-list-heading}</h2>
  <ol class="candidate-list">
    <li class="helper-text">${candidate-list/no-candidates}</li>
  </ol>
</div>
