<div id="clj-invitation-response" class="main-wrapper article-wrapper">
  <article>
    <h1>${invitation-response/page-title}</h1>
    <p class="lede">You've been invited to help draft some policy!</p>
    <p>It's to achieve this objective: <span id="clj-invitation-response-objective-title">{{objective title}</span></p>
    <p>If you're interested, you can sign in and accept the invitation below.</p>
    <div class="clj-invitation-response-form">
      <a id="clj-invitation-response-accept" class="button" href="{{sign-in-and-refer-back}}">${invitation-response/sign-in-to-accept}</a>
    </div>
  </article>
</div>
