<div id="clj-invitation-response" class="main-wrapper article-wrapper">
  <article>
    <h1>${invitation-response/page-title}</h1>
    <p class="lede">${invitation-response/page-intro}</p>
    <p>${invitation-response/for-objective-text}<span id="clj-invitation-response-objective-title">{{objective title}</span></p>
    <p>${invitation-response/rsvp-text}</p>
    <div id="clj-invitation-response-form-container">
	    <div id="clj-invitation-response-sign-in">
		    <a id="clj-invitation-response-sign-in-link" class="button" href="{{sign-in-and-refer-back}}">${invitation-response/sign-in-to-accept}</a>
	    </div>
      <form method="POST" id="clj-invitation-response-accept" action="{{/objectives/:o-id/writer-invitations/:i-id/accept}}">
        <button type="submit" class="button">${invitation-response/accept}</button>
      </form>
      <form method="POST" id="clj-invitation-response-decline" action="{{/objectives/:o-id/writer-invitations/:i-id/decline}}">
        <button type="submit" class="button">${invitation-response/decline}</button>
      </form>
    </div>
  </article>
</div>
