include ../mixins/_helpers
include ../mixins/_view_helpers

- var pageTitle = "{{Page Title}}"
- var bodyClass = ""
block vars

doctype
html.no-js(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title=pageTitle
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name="format-detection", content="telephone=no")
    block headerMeta

    link(rel="shortcut icon", href="/static/favicon.ico")
    link(rel="apple-touch-icon", href="static/apple-touch-icon.png")

    +javascriptIncludeTag("modernizr.min")

    <!--[if (lt IE 8) & (!IEMobile)]>
    +stylesheetLinkTag("basic","screen")
    <![endif]-->

    <!--[if IE 8]>
    +stylesheetLinkTag("ie8","screen")
    +stylesheetLinkTag("application","screen")
    <![endif]-->

    //[if gte IE 8]><!
    +stylesheetLinkTag("modern","screen")
    //<![endif]

    block headerScripts

  body(class="#{bodyClass}")

    <!--[if (IE 8)]>
    p.browserupgrade {{browse happy message}}
    <![endif]-->

    header(role="banner")
      +mastheadSignedOut

    .project-status
      .wrapper#projectStatus
        | ALPHA: We are still testing,
        =" "
        a(href="/learn-more", title="Find out more about our project status") find out more

    #main-content(role="main").main-content
      block content

    nav#clj-navigation
      #navigation.navigation-wrapper
        h2.navigation-title Navigation
        ul.navigation-list
          li
            a(href="/objectives") Objectives
          li
            a(href="/learn-more") About

    +javascriptIncludeTag("scripts.min")
    block footerScripts