form {
  max-width: 32em;
}

label {
  display: block;
  font-weight: bold;
}

.label-helper {
  color: $grey-1;
  font-size: 0.9em;
  margin: 0 0 0.2em;
}

input,
textarea {
  margin-bottom: 1em;
  border: 1px solid #dcdcdc;
  padding: 0.5em;
  width: 100%;
}

.required {
  color: $pink;
}