//SETUP
$pad: 2em;

//MIXINS
@mixin outer-container {
  margin: 0 0 $pad 0;
  @include cf;
}

@mixin span-columns($span) {
  @include mq(600) {
    float: left;
    padding-right: $pad;
    width: percentage($span / 12);
  }
}

@mixin inner-padding($span, $direction: left) {
  @include mq(600) {
    @if $direction == right {
      padding-right: percentage($span / 12);
    } @else {
      padding-left: percentage($span / 12);
    }
  }
}

@mixin last-col {
  @include mq(600) {
    padding-right: 0;
  }
}


//DIRECT CLASSES
.grid             { @include outer-container; }
.grid-span-one    { @include span-columns(1); }
.grid-span-two    { @include span-columns(2); }
.grid-span-three  { @include span-columns(3); }
.grid-span-four   { @include span-columns(4); }
.grid-span-five   { @include span-columns(5); }
.grid-span-six    { @include span-columns(6); }
.grid-span-seven  { @include span-columns(7); }
.grid-span-eight  { @include span-columns(8); }
.grid-span-nine   { @include span-columns(9); }
.grid-span-ten    { @include span-columns(10); }
.grid-span-eleven { @include span-columns(11); }
.grid-span-twelve { @include span-columns(12); }
//padding helpers
.inner-padding-left-one     { @include inner-padding(1); }
.inner-padding-left-two     { @include inner-padding(2); }
.inner-padding-left-three   { @include inner-padding(3); }
.inner-padding-left-four    { @include inner-padding(4); }
.inner-padding-left-five    { @include inner-padding(5); }
.inner-padding-left-six     { @include inner-padding(6); }
.inner-padding-left-seven   { @include inner-padding(7); }
.inner-padding-left-eight   { @include inner-padding(8); }
.inner-padding-left-nine    { @include inner-padding(9); }
.inner-padding-left-ten     { @include inner-padding(10); }
.inner-padding-left-eleven  { @include inner-padding(11); }
.inner-padding-left-tweleve { @include inner-padding(12); }

.inner-padding-right-one     { @include inner-padding(1, right); }
.inner-padding-right-two     { @include inner-padding(2, right); }
.inner-padding-right-three   { @include inner-padding(3, right); }
.inner-padding-right-four    { @include inner-padding(4, right); }
.inner-padding-right-five    { @include inner-padding(5, right); }
.inner-padding-right-six     { @include inner-padding(6, right); }
.inner-padding-right-seven   { @include inner-padding(7, right); }
.inner-padding-right-eight   { @include inner-padding(8, right); }
.inner-padding-right-nine    { @include inner-padding(9, right); }
.inner-padding-right-ten     { @include inner-padding(10, right); }
.inner-padding-right-eleven  { @include inner-padding(11, right); }
.inner-padding-right-tweleve { @include inner-padding(12, right); }

.last-col { @include last-col; }