button,
.button {
  display: inline-block;
  max-width: 14em;
  margin-right: 0.5em;
  padding: 0.55em 1.35em 0.65em 1.35em;
  border: 1px solid $grey-3;
  border-radius: 2em;
  transition: background 0.2s ease-in, color 0.2s ease-in;
  &:visited, & {
    background-color: $white;
    text-decoration: none;
    color: $grey-15;
  }
  &:hover {
    background-color: $offwhite;
    text-decoration: none;
    color: $green1;
  }
}




