.grid-container {
  width: auto;
  margin-bottom: 2em;
}

.grid-container:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.grid-column {
  float: left;
  width: 100%;
  @include mq(720) {
    width: 33%;
  }
}
