.no-margin-bottom {
  margin-bottom: 0;
}

.helper-text {
  color: $grey-1;
  font-size: 0.9em;
//  margin: 0 0 0.2em;
}

.not-yet-implemented-footnote-marker {
  color: $dark_pink;
  font-weight: bold;
}

.helper-border-bottom {
  border-bottom: 1px solid $grey-3;
  padding-bottom: 1em;
}


